<div ng-controller="SupplierFrontCtrl">
    <div class="tender-preview">
        <a class="name" ng-bind="supplier.name"></a>
        <div class="pb-1 clearfix">
            <img ng-if="supplier.picture" src="[[ supplier.picture ]]" alt="[[ supplier.name ]]" class="pull-right img-thumbnail" />
            <div ng-bind-html="supplier.description"></div>
        </div>
        <div class="row" ng-if="supplierProducts.count > 0">
            <h3 class="sidebar-title">supplier products</h3>
            <div class="pb-1 clearfix" ng-repeat="product in supplierProducts.results">
                <a class="name" ng-bind="product.name" ui-sref="front.products.details({slug: product.slug, categorySlug: product.category.slug, id: product.id})"></a>
                <div ng-bind-html="product.brand"></div>
                <img src="[[ product.picture ]]" alt="[[ product.name ]]" class="pull-right img-thumbnail" />
                <div ng-bind-html="product.description"></div>
            </div>
        </div>
        <div class="row" ng-if="supplierProducts.count == 0">
            <h1 class="name"> This supplier has no products yet </h1>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="btn btn-sm pull-right" translate-attr-title="front.SHARE" title="Share"><i class="fa fa-share-alt"></i></button>
                <button class="btn btn-sm pull-right mr-1" translate-attr-title="front.COMMENTS" title="Comments"><i class="fa fa-commenting"></i></button>
            </div>
        </div>
    </div>
</div>