
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PRICES">Prices</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PriceFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWPRICE" ng-if="price.id == 0">
                        New Price
                    </legend>
                    <legend translate="content.list.EDITPRICE" ng-if="price.id > 0">
                        Edit Price
                    </legend>
                    <form name="priceForm" id="priceForm" novalidate ng-submit="submitForm(priceForm)">
                        <input type="hidden" name="id" id="priceId" ng-model="price.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':priceForm.name.$dirty && priceForm.name.$invalid, 'has-success':priceForm.name.$valid}">
                                    <label for="priceName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="price.name" type="text" name="name" id="priceName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="price.name" my-resource-url="prices" my-current-id="[[ price.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="priceForm.name.$dirty && priceForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="priceForm.name.$dirty && priceForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="priceForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="priceNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="price.name_ar" type="text" name="nameAr" id="priceNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="priceNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="price.name_fr" type="text" name="nameFr" id="priceNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':priceForm.amount.$dirty && priceForm.amount.$invalid, 'has-success':priceForm.amount.$valid}">
                                    <label for="priceAmount" class="control-label">
                                        <span translate="content.list.fields.AMOUNT">Amount</span>
                                        <span class="symbol required"></span>
                                    </label>
                                        <input ng-model="price.amount" type="text" name="amount" id="priceAmount" class="form-control" placeholder="[[ 'content.form.messages.ENTERAMOUNT' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                    <span class="error text-small block" ng-if="priceForm.amount.$dirty && priceForm.amount.$error.required" translate="content.form.messages.AMOUNTREQUIRED">Amount is required.</span>
                                    <span class="success text-small block" ng-if="priceForm.amount.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':priceForm.currency.$dirty && priceForm.currency.$invalid, 'has-success':priceForm.currency.$valid}">
                                    <label for="priceCurrency" class="control-label">
                                        <span translate="content.list.fields.CURRENCY">Currency</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="price.currency" type="text" name="currency" id="priceCurrency" class="form-control" placeholder="[[ 'content.form.messages.ENTERCURRENCY' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="priceForm.currency.$dirty && priceForm.currency.$error.required" translate="content.form.messages.CURRENCYREQUIRED">Currency is required.</span>
                                    <span class="success text-small block" ng-if="priceForm.currency.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPRICES">Back to Prices list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(priceForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="priceForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="prices.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

