{% extends 'UbidElectricityBundle::publicLayoutNew.html.twig' %}

{% block body %}
    <!--<div ui-view id="front_app" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>-->
    <div ui-view id="front_app" ng-class=""></div>

{% endblock %}
