
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONMENUS">Translation Menus</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationMenuFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWTRANSLATIONMENU" ng-if="translationMenu.id == 0">
                        New Translation Menu
                    </legend>
                    <legend translate="content.list.EDITTRANSLATIONMENU" ng-if="translationMenu.id > 0">
                        Edit Translation Menu
                    </legend>
                    <form name="translationMenuForm" id="translationMenuForm" novalidate ng-submit="submitForm(translationMenuForm)">
                        <input type="hidden" name="id" id="translationMenuId" ng-model="translationMenu.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuForm.menu.$dirty && translationMenuForm.menu.$invalid, 'has-success':translationMenuForm.menu.$valid}">
                                    <label for="translationMenuMenu" class="control-label">
                                        <span translate="content.list.fields.MENU">Menu</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="menusLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="translation_menu_menu_readonly" ng-options="item.id as item.name for item in menus | filter:{ hidden : false }" ng-model="translationMenu.menu" name="menu" id="translationMenuMenu" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="translationMenuForm.menu.$dirty && translationMenuForm.menu.$error.required" translate="content.form.messages.MENUREQUIRED">Menu is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuForm.menu.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuForm.locale.$dirty && translationMenuForm.locale.$invalid, 'has-success':translationMenuForm.locale.$valid}">
                                    <label for="translationMenuLocale" class="control-label">
                                        <span translate="content.list.fields.LOCALE">Locale</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list">
                                        <select ng-options="langKey as langName for (langKey, langName) in languages" ng-model="translationMenu.locale" name="locale" id="translationMenuLocale" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="translationMenuForm.locale.$dirty && translationMenuForm.locale.$error.required" translate="content.form.messages.LOCALEREQUIRED">Locale is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuForm.locale.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuForm.name.$dirty && translationMenuForm.name.$invalid, 'has-success':translationMenuForm.name.$valid}">
                                    <label for="translationMenuName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationMenu.name" type="text" name="name" id="translationMenuName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationMenuForm.name.$dirty && translationMenuForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="translationMenu.locale" to="translationMenu.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':translationMenuForm.slug.$dirty && translationMenuForm.slug.$invalid, 'has-success':translationMenuForm.slug.$valid}">
                                    <label for="translationMenuSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationMenu.slug" type="text" name="slug" id="translationMenuSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationMenuForm.slug.$dirty && translationMenuForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="translationMenu.validated" type="checkbox" name="validated" id="translationMenuValidated" />
                                    <label for="translationMenuValidated" translate="content.list.fields.VALIDATED">Validated</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRANSLATIONMENUS">Back to Translation Menus list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(translationMenuForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="translationMenuForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="translationMenus.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

