
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TENDERS">Tenders</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TenderCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKTENDERS">Back to Tenders list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDTENDER">Add Tender</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(tender)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITTENDER">Edit Tender</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.TENDERDETAILS">Tender Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.TENDER.A"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECTION">Section</span></td>
                                <td>
                                    <span my-enum="[[ tender.section ]]" my-enum-list="[[ sections ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BUYER">Buyer</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('buyersdetails')" ui-sref="app.marketplace.buyersdetails({id: tender.buyer.id})" ng-bind="tender.buyer.name"></a>
                                    <span ng-if="!checkStatePermission('buyersdetails')" ng-bind="tender.buyer.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUPPLIER">Supplier</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('suppliersdetails')" ui-sref="app.marketplace.suppliersdetails({id: tender.supplier.id})" ng-bind="tender.supplier.name"></a>
                                    <span ng-if="!checkStatePermission('suppliersdetails')" ng-bind="tender.supplier.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TENDERTYPE">Tender Type</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('tendertypesdetails')" ui-sref="app.lists.tendertypesdetails({id: tender.tender_type.id})" ng-bind="tender.tender_type.name"></a>
                                    <span ng-if="!checkStatePermission('tendertypesdetails')" ng-bind="tender.tender_type.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIDDINGTYPE">Bidding Type</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('biddingtypesdetails')" ui-sref="app.lists.biddingtypesdetails({id: tender.bidding_type.id})" ng-bind="tender.bidding_type.name"></a>
                                    <span ng-if="!checkStatePermission('biddingtypesdetails')" ng-bind="tender.bidding_type.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REFERENCE">Reference</span></td>
                                <td>
                                    <div ng-bind-html="tender.reference"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLE">Title</span></td>
                                <td>
                                    <div ng-bind-html="tender.title"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="tender.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.TENDER.B"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FEES">Fees</span></td>
                                <td>
                                    <div ng-bind-html="tender.fees"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="tender.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ESTIMATEDCOST">Estimated Cost</span></td>
                                <td>
                                    <div ng-bind-html="tender.estimated_cost"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECTOR">Sector</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('sectorsdetails')" ui-sref="app.lists.sectorsdetails({id: tender.sector.id})" ng-bind="tender.sector.name"></a>
                                    <span ng-if="!checkStatePermission('sectorsdetails')" ng-bind="tender.sector.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DEADLINE">Deadline</span></td>
                                <td>
                                    <span>[[ tender.deadline | date: dateFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PUBLISHDATE">Publish Date</span></td>
                                <td>
                                    <span>[[ tender.publish_date | date: dateFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ tender.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.TENDER.C"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REGION">Region</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('regionsdetails')" ui-sref="app.settings.regionsdetails({id: tender.region.id})" ng-bind="tender.region.name"></a>
                                    <span ng-if="!checkStatePermission('regionsdetails')" ng-bind="tender.region.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('countriesdetails')" ui-sref="app.settings.countriesdetails({id: tender.country.id})" ng-bind="tender.country.name"></a>
                                    <span ng-if="!checkStatePermission('countriesdetails')" ng-bind="tender.country.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.TENDER.D"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ATTACHMENTFILES">Attachment Files</span></td>
                                <td>
                                    <div ng-if="tender.attachment_files != '' && tender.attachment_files != null">
                                        <ul class="list-group"><li class="list-group-item" ng-repeat="file in tender.attachment_files.split(',')"><a class="btn btn-wide btn-primary" target="_blank" href="[[ file ]]" alt=""><i class="ti-download"></i> [[ file ]]</a></li></ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ADM') > -1" >
                                <td><span translate="content.list.fields.VALIDATED">Validated</span></td>
                                <td>
                                    <span my-boolean="[[ tender.validated ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CATEGORIES">Categories</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('categoriesdetails')" ng-repeat="category in tender.categories" ui-sref="app.lists.categoriesdetails({id: category.id})" ng-bind="category.name"></a>
                                    <span ng-if="!checkStatePermission('categoriesdetails')" ng-repeat="category in tender.categories" ng-bind="category.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.TENDER.Z"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ tender.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: tender.creator_user.id})" ng-bind="tender.creator_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="tender.creator_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ tender.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: tender.modifier_user.id})" ng-bind="tender.modifier_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="tender.modifier_user.username"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
