
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TENDERPRODUCTS">Tender Products</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TenderProductCtrl">
            <div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTENDERPRODUCTS">Back to Tender Products list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDTENDERPRODUCT">Add Tender Product</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(tenderProduct)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITTENDERPRODUCT">Edit Tender Product</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.TENDERPRODUCTDETAILS">Tender Product Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TENDER">Tender</span></td>
                                <td><a ui-sref="app.marketplace.tendersdetails({id: tenderProduct.tender.id})">[[ tenderProduct.tender.title ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CATEGORY">Category</span></td>
                                <td><a ui-sref="app.lists.categoriesdetails({id: tenderProduct.category.id})">[[ tenderProduct.category.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRODUCTTYPE">Product Type</span></td>
                                <td><a ui-sref="app.lists.producttypesdetails({id: tenderProduct.product_type.id})">[[ tenderProduct.product_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLE">Title</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.title"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.description"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ tenderProduct.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.UNITCOST">Unit Cost</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.unit_cost"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUANTITY">Quantity</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.quantity"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DURATION">Duration</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.duration"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="tenderProduct.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ tenderProduct.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: tenderProduct.creator_user.id})">[[ tenderProduct.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ tenderProduct.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: tenderProduct.modifier_user.id})">[[ tenderProduct.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
