
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.IMAGECATEGORIES">Image Categories</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="ImageCategoryCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKIMAGECATEGORIES">Back to Image Categories list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDIMAGECATEGORY">Add Image Category</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(imageCategory)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITIMAGECATEGORY">Edit Image Category</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.IMAGECATEGORYDETAILS">Image Category Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="imageCategory.picture != '' && imageCategory.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + imageCategory.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONAR">Description Ar</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.description_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONFR">Description Fr</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.description_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PARENT">Parent</span></td>
                                <td><a ui-sref="app.photos.imagecategoriesdetails({id: imageCategory.parent.id})">[[ imageCategory.parent.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.IMAGETYPE">Image Type</span></td>
                                <td><a ui-sref="app.photos.imagetypesdetails({id: imageCategory.image_type.id})">[[ imageCategory.image_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="imageCategory.ordering"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ imageCategory.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ imageCategory.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: imageCategory.creator_user.id})">[[ imageCategory.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ imageCategory.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: imageCategory.modifier_user.id})">[[ imageCategory.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
