
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.IMAGECATEGORIES">Image Categories</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="ImageCategoryFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWIMAGECATEGORY" ng-if="imageCategory.id == 0">
                        New Image Category
                    </legend>
                    <legend translate="content.list.EDITIMAGECATEGORY" ng-if="imageCategory.id > 0">
                        Edit Image Category
                    </legend>
                    <form name="imageCategoryForm" id="imageCategoryForm" novalidate ng-submit="submitForm(imageCategoryForm)">
                        <input type="hidden" name="id" id="imageCategoryId" ng-model="imageCategory.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':imageCategoryForm.name.$dirty && imageCategoryForm.name.$invalid, 'has-success':imageCategoryForm.name.$valid}">
                                    <label for="imageCategoryName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.name" type="text" name="name" id="imageCategoryName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="imageCategoryForm.name.$dirty && imageCategoryForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="imageCategoryForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.name_ar" type="text" name="nameAr" id="imageCategoryNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.name_fr" type="text" name="nameFr" id="imageCategoryNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="imageCategory.name" to="imageCategory.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':imageCategoryForm.slug.$dirty && imageCategoryForm.slug.$invalid, 'has-success':imageCategoryForm.slug.$valid}">
                                    <label for="imageCategorySlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.slug" type="text" name="slug" id="imageCategorySlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="imageCategoryForm.slug.$dirty && imageCategoryForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="imageCategoryForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="imageCategory.name_ar" to="imageCategory.slug_ar"></slug>
                                <div class="form-group">
                                    <label for="imageCategorySlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.slug_ar" type="text" name="slugAr" id="imageCategorySlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="imageCategory.name_fr" to="imageCategory.slug_fr"></slug>
                                <div class="form-group">
                                    <label for="imageCategorySlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.slug_fr" type="text" name="slugFr" id="imageCategorySlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.picture" type="text" name="picture" id="imageCategoryPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="imageCategory.picture != '' && imageCategory.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + imageCategory.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="imageCategory.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':imageCategoryForm.description.$dirty && imageCategoryForm.description.$invalid, 'has-success':imageCategoryForm.description.$valid}">
                                    <label for="imageCategoryDescription" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTION">Description</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.description" type="text" name="description" id="imageCategoryDescription" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTION' | translate ]]" ng-required="true" />
                                        <i class="ti-info-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="imageCategoryForm.description.$dirty && imageCategoryForm.description.$error.required" translate="content.form.messages.DESCRIPTIONREQUIRED">Description is required.</span>
                                    <span class="success text-small block" ng-if="imageCategoryForm.description.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryDescriptionAr" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTIONAR">Description Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.description_ar" type="text" name="descriptionAr" id="imageCategoryDescriptionAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTIONAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryDescriptionFr" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTIONFR">Description Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.description_fr" type="text" name="descriptionFr" id="imageCategoryDescriptionFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTIONFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryParent" class="control-label">
                                        <span translate="content.list.fields.PARENT">Parent</span>
                                    </label>
                                <div class="block select-list" ng-if="parentsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="image_category_parent_readonly" ng-options="item.id as item.name for item in parents | filter:{ hidden : false }" ng-model="imageCategory.parent" name="parent" id="imageCategoryParent" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':imageCategoryForm.imageType.$dirty && imageCategoryForm.imageType.$invalid, 'has-success':imageCategoryForm.imageType.$valid}">
                                    <label for="imageCategoryImageType" class="control-label">
                                        <span translate="content.list.fields.IMAGETYPE">Image Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="imageTypesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="image_category_image_type_readonly" ng-options="item.id as item.name for item in imageTypes | filter:{ hidden : false }" ng-model="imageCategory.image_type" name="imageType" id="imageCategoryImageType" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-sitemap"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="imageCategoryForm.imageType.$dirty && imageCategoryForm.imageType.$error.required" translate="content.form.messages.IMAGETYPEREQUIRED">Image Type is required.</span>
                                    <span class="success text-small block" ng-if="imageCategoryForm.imageType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="imageCategoryOrdering" class="control-label">
                                        <span translate="content.list.fields.ORDERING">Ordering</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="imageCategory.ordering" type="text" name="ordering" id="imageCategoryOrdering" class="form-control" placeholder="[[ 'content.form.messages.ENTERORDERING' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':imageCategoryForm.status.$dirty && imageCategoryForm.status.$invalid, 'has-success':imageCategoryForm.status.$valid}">
                                    <label for="imageCategoryStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="imageCategory.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="imageCategory.status" name="status" id="imageCategoryStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="imageCategoryForm.status.$dirty && imageCategoryForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="imageCategoryForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKIMAGECATEGORIES">Back to Image Categories list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(imageCategoryForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="imageCategoryForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="imageCategories.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

