
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BUYERTYPES">Buyer Types</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BuyerTypeFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWBUYERTYPE" ng-if="buyerType.id == 0">
                        New Buyer Type
                    </legend>
                    <legend translate="content.list.EDITBUYERTYPE" ng-if="buyerType.id > 0">
                        Edit Buyer Type
                    </legend>
                    <form name="buyerTypeForm" id="buyerTypeForm" novalidate ng-submit="submitForm(buyerTypeForm)">
                        <input type="hidden" name="id" id="buyerTypeId" ng-model="buyerType.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':buyerTypeForm.name.$dirty && buyerTypeForm.name.$invalid, 'has-success':buyerTypeForm.name.$valid}">
                                    <label for="buyerTypeName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.name" type="text" name="name" id="buyerTypeName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="buyerType.name" my-resource-url="buyertypes" my-current-id="[[ buyerType.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="buyerTypeForm.name.$dirty && buyerTypeForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="buyerTypeForm.name.$dirty && buyerTypeForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="buyerTypeForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="buyerTypeNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.name_ar" type="text" name="nameAr" id="buyerTypeNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="buyerTypeNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.name_fr" type="text" name="nameFr" id="buyerTypeNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="buyerType.name" to="buyerType.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':buyerTypeForm.slug.$dirty && buyerTypeForm.slug.$invalid, 'has-success':buyerTypeForm.slug.$valid}">
                                    <label for="buyerTypeSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.slug" type="text" name="slug" id="buyerTypeSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="buyerTypeForm.slug.$dirty && buyerTypeForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="buyerTypeForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="buyerType.name_ar" to="buyerType.slug_ar"></slug>
                                <div class="form-group">
                                    <label for="buyerTypeSlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.slug_ar" type="text" name="slugAr" id="buyerTypeSlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="buyerType.name_fr" to="buyerType.slug_fr"></slug>
                                <div class="form-group">
                                    <label for="buyerTypeSlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="buyerType.slug_fr" type="text" name="slugFr" id="buyerTypeSlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="buyerType.is_published" type="checkbox" name="isPublished" id="buyerTypeIsPublished" />
                                    <label for="buyerTypeIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBUYERTYPES">Back to Buyer Types list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(buyerTypeForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="buyerTypeForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="buyerTypes.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

