
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONTENDERTYPES">Translation Tender Types</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationTenderTypeCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKTRANSLATIONTENDERTYPES">Back to Translation Tender Types list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDTRANSLATIONTENDERTYPE">Add Translation Tender Type</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(translationTenderType)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITTRANSLATIONTENDERTYPE">Edit Translation Tender Type</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.TRANSLATIONTENDERTYPEDETAILS">Translation Tender Type Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="translationTenderType.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TENDERTYPE">Tender Type</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('tendertypesdetails')" ui-sref="app.lists.tendertypesdetails({id: translationTenderType.tender_type.id})" ng-bind="translationTenderType.tender_type.name"></a>
                                    <span ng-if="!checkStatePermission('tendertypesdetails')" ng-bind="translationTenderType.tender_type.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOCALE">Locale</span></td>
                                <td>
                                    <div ng-bind-html="translationTenderType.locale"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="translationTenderType.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="translationTenderType.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.VALIDATED">Validated</span></td>
                                <td>
                                    <span my-boolean="[[ translationTenderType.validated ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: translationTenderType.creator_user.id})" ng-bind="translationTenderType.creator_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="translationTenderType.creator_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ translationTenderType.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: translationTenderType.modifier_user.id})" ng-bind="translationTenderType.modifier_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="translationTenderType.modifier_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ translationTenderType.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
