<div ng-controller="RegisterCtrl">
    <fieldset>

        <legend ng-if="user.type == 'Both'" translate="front.REGISTER">Register</legend>
        <legend ng-if="user.type == 'Buyer'" translate="front.REGISTERASBUYER">Register as Buyer</legend>
        <legend ng-if="user.type == 'Supplier'" translate="front.REGISTERASSUPPLIER">Register as Supplier</legend>

        <p><span translate="front.ALREADYHAVEANACCOUNT">Already have an account?</span> <a ui-sref="front.login({type: user.type})" translate="front.SIGNIN">Sign in</a>.</p>

        <form  name="registerForm" id="registerForm" class="form" data-ng-submit="submitForm(registerForm)">
            <input type="hidden" ng-model="user.roles" name="roles" id="roles" value="[[ roles.id ]]">

            <h3 translate="content.list.fieldset.USER.A">Your account information</h3>

            <div class="form-group" ng-class="{'has-error':registerForm.emailUser.$dirty && registerForm.emailUser.$invalid, 'has-success':registerForm.emailUser.$valid}">
                <label for="userEmail" class="control-label">
                    <span translate="content.list.fields.EMAIL">Email</span>
                </label>
                <span class="input-icon">
                    <input name="userEmail" id= "userEmail" ng-model="user.email" type="text" class="form-control" name="email" placeholder="[[ 'content.list.fields.EMAIL' | translate ]]" ng-required="true">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userEmail.$dirty && registerForm.userEmail.$error.required" translate="content.form.messages.USEREMAILREQUIRED">User Email is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.password.$dirty && registerForm.password.$invalid, 'has-success':registerForm.password.$valid}">
                <label class="control-label">
                    <span translate="content.list.fields.PASSWORD">Password</span>
                    <span class="symbol required"></span>
                </label>
                        <span class="input-icon">
                            <input  ng-minlength="8" ng-maxlength="20" autocomplete="off" type="password" placeholder="[[ 'content.list.fields.PASSWORD' | translate ]]" class="form-control" name="password"  id="password" ng-model="user.plainPassword.first" ng-required="true"/>
                            <i class="fa fa-lock"></i>
                        </span>
                <span class="error text-small block" ng-if="registerForm.password.$error.minlength" translate="content.form.messages.TOOSHORT">Too short!</span>
                <span class="error text-small block" ng-if="registerForm.password.$error.maxlength" translate="content.form.messages.TOOLONG">Too long!</span>
                <span class="error text-small block" ng-if="registerForm.password.$dirty && Form.password.$error.required" translate="content.form.messages.PASSWORDREQUIRED">Password is required.</span>
                <span class="success text-small block" ng-if="Form.password.$valid">Ok!</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.password2.$dirty && Form.password2.$error.compareTo || registerForm.password2.$dirty && registerForm.password2.$invalid, 'has-success':registerForm.password2.$valid}">
                <label class="control-label">
                    <span translate="content.list.fields.REPEATPASSWORD">Repeat Password</span>
                    <span class="symbol required"></span>
                </label>
                    <span class="input-icon">
                        <input type="password" placeholder="[[ 'content.list.fields.REPEATPASSWORD' | translate ]]" class="form-control" name="password2" ng-model="user.plainPassword.second" compare-to="user.plainPassword.first" ng-required="true"/>
                        <i class="ti-lock"></i>
                    </span>
                <span class="error text-small block" ng-if="registerForm.password2.$dirty && Form.password2.$error.required" translate="content.form.messages.REPEATPASSWORDREQUIRED">Repeat password is required!</span>
                <span class="error text-small block" ng-if="registerForm.password2.$dirty && Form.password2.$error.compareTo" translate="content.form.messages.PASSWORDSDONOTMATCH">Passwords do not match!</span>
                <span class="success text-small block" ng-if="registerForm.password2.$valid" translate="content.form.messages.PASSWORDSMATCH">Passwords match!</span>
            </div>

            <h3 translate="content.list.fieldset.USER.B">Your personal information</h3>

            <div class="form-group" ng-class="{'has-error':tenderForm.section.$dirty && tenderForm.section.$invalid, 'has-success':tenderForm.section.$valid}">
                <label for="userType" class="control-label">
                    <span translate="content.list.fields.USERTYPE">Type</span>
                    <span class="symbol required"></span>
                </label>
                <div class="continuous-radio radio-primary">
                    <input ng-disabled="false" ng-repeat-start="type in types" ng-model="user.type" type="radio" id="type[[ type.id ]]" value="[[ type.id ]]" name="userType" ng-required="true" ng-selected="type.id == current_type"/>
                    <label ng-repeat-end for="type[[ type.id ]]">
                        [[ type.title ]]
                    </label>
                </div>
            </div><!--/form-group-->

            <div class="form-group" ng-class="{'has-error':registerForm.firstName.$dirty && registerForm.firstName.$invalid, 'has-success':registerForm.firstName.$valid}">
                <label for="firstName" class="control-label">
                    <span translate="content.list.fields.FIRSTNAME">First Name</span>
                </label>
                <span class="input-icon">
                    <input name="firstName" id= "firstName" ng-model="user.firstName" type="text" class="form-control" name="firstName" placeholder="[[ 'content.list.fields.FIRSTNAME' | translate ]]" ng-required="true">
                    <i class="fa fa-user"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.firstName.$dirty && registerForm.firstName.$error.required" translate="content.form.messages.FIRSTNAMEREQUIRED">FirstName is required.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.lastName.$dirty && registerForm.lastName.$invalid, 'has-success':registerForm.lastName.$valid}">
                <label for="lastName" class="control-label">
                    <span translate="content.list.fields.LASTNAME">First Name</span>
                </label>
                <span class="input-icon">
                    <input name="lastNname" id= "lastName" ng-model="user.lastName" type="text" class="form-control" name="lastName" placeholder="[[ 'content.list.fields.LASTNAME' | translate ]]" ng-required="true">
                    <i class="fa fa-user-o"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.lastName.$dirty && registerForm.lastName.$error.required" translate="content.form.messages.LASTNAMEREQUIRED">LastName is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userCampany.$dirty && registerForm.userCampany.$invalid, 'has-success':registerForm.userCampany.$valid}">
                <label for="userCampany" class="control-label">
                    <span translate="content.list.fields.COMPANYNAME">Company Name</span>
                </label>
                <span class="input-icon">
                    <input name="userCampany" id= "userCampany" ng-model="user.companyName" type="text" class="form-control"  placeholder="[[ 'content.list.fields.COMPANYNAME' | translate ]]" ng-required="true">
                    <i class="fa fa-building-o"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userCampany.$dirty && registerForm.userCampany.$error.required" translate="content.form.messages.userCampanyREQUIRED">User Email is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userJob.$dirty && registerForm.userJob.$invalid, 'has-success':registerForm.userJob.$valid}">
                <label for="userJob" class="control-label">
                    <span translate="content.list.fields.JOB">Job</span>
                </label>
                <span class="input-icon">
                    <input name="userJob" id= "userJob" ng-model="user.job" type="text" class="form-control"  placeholder="[[ 'content.list.fields.JOB' | translate ]]" ng-required="true">
                    <i class="ti-briefcase"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userJob.$dirty && registerForm.userJob.$error.required" translate="content.form.messages.userJobREQUIRED">User Email is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userAddress.$dirty && registerForm.userAddress.$invalid, 'has-success':registerForm.userAddress.$valid}">
                <label for="userAddress" class="control-label">
                    <span translate="content.list.fields.ADDRESS">Address</span>
                </label>
                <span class="input-icon">
                    <input name="userAddress" id= "userAddress" ng-model="user.address" type="text" class="form-control"  placeholder="[[ 'content.list.fields.ADDRESS' | translate ]]" ng-required="true">
                    <i class="fa fa-home"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userAddress.$dirty && registerForm.userAddress.$error.required" translate="content.form.messages.userAddressREQUIRED">User Address required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userZipCode.$dirty && registerForm.userZipCode.$invalid, 'has-success':registerForm.userZipCode.$valid}">
                <label for="userZipCode" class="control-label">
                    <span translate="content.list.fields.ZIPCODE">Zip code</span>
                </label>
                <span class="input-icon">
                    <input name="userZipCode" id= "userZipCode" ng-model="user.zipCode" type="text" class="form-control"  placeholder="[[ 'content.list.fields.ZIPCODE' | translate ]]" ng-required="true">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userZipCode.$dirty && registerForm.userZipCode.$error.required" translate="content.form.messages.userZipCodeREQUIRED">User Zip code is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userCountry.$dirty && registerForm.userCountry.$invalid, 'has-success':registerForm.userCountry.$valid}">
                <label for="userCountry" class="control-label">
                    <span translate="content.list.fields.COUNTRY">Country</span>
                </label>
                <div class="block select-list" ng-if="countriesLoaded">
                    <span class="input-icon">
                        <select ng-options="item as item.name for item in countries | filter:{ hidden : false }" ng-model="user.country" name="userCountry" id="userCountry" class="form-control" ng-required="true" ng-change="changeCountry()">
                        </select>
                        <i class="fa fa-globe"></i>
                    </span>
                </div>
                <span class="error text-small block" ng-if="registerForm.userPhone.$dirty && registerForm.userPhone.$error.required" translate="content.form.messages.userCountryREQUIRED">User Country is required.</span>
            </div>

            <div class="form-group" ng-class="{'has-error':registerForm.userPhone.$dirty && registerForm.userPhone.$invalid, 'has-success':registerForm.userPhone.$valid}">
                <label for="userPhone" class="control-label">
                    <span translate="content.list.fields.PHONE">Phone</span>
                </label>
                <span class="input-icon">
                    <input name="userPhone" id= "userPhone" ng-model="user.phone" type="text" class="form-control"  placeholder="[[ 'content.list.fields.PHONE' | translate ]]" ng-required="true">
                    <i class="fa fa-phone"></i>
                </span>
                <span class="error text-small block" ng-if="registerForm.userPhone.$dirty && registerForm.userPhone.$error.required" translate="content.form.messages.userPhoneREQUIRED">User Email is required.</span>
            </div>


            <button type="button" ng-click="submitForm(registerForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="userForm.$invalid" -->
                <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.form.buttons.SAVE">Save</span>
            </button>
        </form>
    </fieldset>
</div>