
<!-- start: FORGOT BOX -->
<div class="mt-2 mb-3 box-forgot" ng-controller="ResetCtrl">
    <form class="form-forgot">
        <h2 ng-if="status == 'success'" class="text-center">
            <i class="fa fa-check-circle-o fa-2x text-success block margin-bottom-10"></i>
            <span translate="resetpassword.PASSWORDCHANGED">Password changed</span>

            <br>
            <!--<span translate="resetpassword.REDIRECTAFTER"  translate-values='{ seconds: seconds}'>You will be redirected after 5 seconds</span>-->
            <br>

            <a class="btn btn-primary btn-o " ui-sref="front.login({locale: locale})" translate="front.LOGIN">
                Login
            </a>
        </h2>
        <fieldset ng-if="showForm">
            <legend translate="resetpassword.FORGET">
                Forget Password?
            </legend>
            <p translate="resetpassword.ENTERNEWPASSWORD">
                Enter your new password.
            </p>
            <h2 ng-if="status == 'progress'" class="text-center">
                <i class="fa fa-spinner fa-spin fa-2x text-primary block margin-bottom-10"></i>
                <span translate="resetpassword.RESETPASSWORDRESETINPROGRESS">Reset password reset in progress...</span>
            </h2>
            <h2 ng-if="status == 'error'" class="text-center">
                <i class="fa fa-times-circle  fa-2x text-danger block margin-bottom-10"></i>
                <span translate="resetpassword.NEWPASSWORDNOTSET">New password not set!</span>
            </h2>
            <div class="form-group">
                <label for="password" class="control-label">
                    <span class="text-indicatif" translate="content.list.fields.MUSTBEATLEAST8CHARACTERSLONG"> (must be at least 8 characters long)</span>
                </label>
                <span class="input-icon">
                    <input type="password" class="form-control" name="new[first]" placeholder="[[ 'content.form.messages.ENTERPASSWORD' | translate ]]" ng-model="password.new.first" ng-required="true" />
                    <i class="ti-lock"></i>
                </span>
            </div>
            <p translate="resetpassword.RETYPENEWPASSWORD">
                Retype your new password.
            </p>
            <div class="form-group">
                <label for="password" class="control-label">
                    <span class="text-indicatif" translate="content.list.fields.MUSTBEATLEAST8CHARACTERSLONG"> (must be at least 8 characters long)</span>
                </label>
                <span class="input-icon">
                    <input type="password" class="form-control" name="new[second]" placeholder="[[ 'content.form.messages.REENTERPASSWORD' | translate ]]" ng-model="password.new.second" ng-required="true" />
                    <i class="ti-lock"></i>
                </span>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-primary" ng-click="submit()">
                    <i class="fa fa-arrow-circle-right"></i>
                    <span translate="resetpassword.SUBMIT">Submit</span>
                </button>
            </div>
        </fieldset>
        <div ng-if="!showForm">
            <h2 ng-if="status == 'error'" class="text-center">
                <i class="fa fa-times-circle  fa-2x text-danger block margin-bottom-10"></i>
                <!--span translate="resetpassword.INVALIDTOKEN">Invalid token!</span-->
                <span>[[message]]</span>
            </h2>
        </div>
    </form>
</div>
<!-- end: FORGOT BOX -->

