<div ng-if="user.email" ng-controller="LoginFrontCtrl">
    <!--span class="user-name pull-right">  logout </span-->
    <span class="user-name pull-right">
        [[ user.name ]]
        <ul class="submenu">
            <li ng-click="myProfile()"><a><i class="fa fa-user"></i> <span translate="front.MYPROFILE">My profile</span></a></li>
            <li ng-click="logout()"><a><i class="fa fa-sign-out"></i> <span translate="front.SIGNOUT">Sign out</span></a></li>
        </ul>
    </span>
    <a class="user-photo pull-right [[ user.gender ]]"></a>
</div>

<div ng-controller="MyNotification">
    <span class="notification pull-right" ng-click="openListNotifications()">
            <span class="badge" ng-if="countAlert > 0">
                [[ countAlert ]]
                    <ul class="submenu">
                        <div class="row header_list_notif">
                            <div class="col-md-6 pull-left span_notification">
                                <span translate="front.NOTIFICATIONS">Notification</span>
                            </div>
                            <div class="col-md-6 pull-right">
                                <span translate="front.MARKALLASREAD" ng-click="markAsRead()">Mark all as read</span>
                            </div>
                        </div>

                        <li class="row" style="background-color: white" ng-repeat="notification in notifications"  ng-if="!notification.read">
                            <div class="row">
                                <div class="col-md-12 pull-right margin-rigth-5" ng-click="closeNotification([[notification]])">
                                    <button type="button" class="close" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" ng-click="viewNotification([[notification]])">
                                <div class="col-md-3 padding-right-0">
                                    <span ng-if="notification.link.includes('front.supplier')" class="fa fa-handshake-o fa-3x"></span>
                                    <span ng-if="notification.link.includes('front.buyer')" class=" fa fa-shopping-cart fa-3x"></span>
                                    <span ng-if="notification.link.includes('front.tender')" class="fa fa-file-text-o fa-3x"></span>
                                    <span ng-if="notification.link.includes('front.messages.detail')" class="fa fa-envelope-o fa-3x"></span>
                                    <span ng-if="notification.link.includes('front.mybids.details')" class="fa fa-tags fa-3x"></span>
                                    <span ng-if="notification.link.includes('front.projectbids.shortlist')" class="fa fa-thumbs-up fa-3x"></span>
                                </div>
                                <div class="col-md-9 content_notification padding-left-0">
                                     <span>[[notification.content]]</span>
                                </div>
                            </div>
                            <div class="row pull-right margin-rigth-5">
                                <div class="col-md-12">
                                    <span class="time"> [[ notification.created_at | date: "MM/dd/yyyy 'at' h:mma" ]]</span>
                                </div>
                            </div>
                        </li>
                    </ul>
            </span>

    </span>

</div>

<div ng-if="!user.email" ng-controller="LoginFrontCtrl">
    <!--<a ui-sref="front.login" class="pull-right" translate="front.SIGNIN"> Sign in</a> -->
    <button type="button" class="btn btn-primary pull-right" ng-click="goLogin()">
        <i class="ti-user"></i> <span translate="front.SIGNIN">Sign in</span>
    </button>
</div>