
<div ng-controller="UserMenuFrontCtrl">
    <div class="center-menu">
        <h1 ng-if="user.type == 'Buyer'" ui-sref="front.profile" ng-bind-html-unsafe="'front.IMABUYER' | translate">I'm a <b>buyer</b></h1>
        <h1 ng-if="user.type == 'Supplier'" ui-sref="front.profile" ng-bind-html-unsafe="'front.IMASUPPLIER' | translate">I'm a <b>supplier</b></h1>
        <h1 ng-if="user.type == 'Both'" ui-sref="front.profile" ng-bind-html-unsafe="'front.IMABOTH' | translate">I'm a <b>bbuyer & supplier</b></h1>
        <p class="usd"><span>$</span></p>
        <ul>
            <li class="publish" ng-if="user.type == 'Supplier'"><a ui-sref="front.myproducts.new" translate="front.PUBLICATION">Publication</a></li>
            <li class="publish" ng-if="user.type == 'Buyer' || user.type == 'Both'"><a ui-sref="front.mytenders.new" translate="front.PUBLICATION">Publication</a></li>

            <li class="tender"><a ui-sref="front.tenders.list({section:'Tender'})" translate="front.CONSULTTENDER">Consult TENDER</a></li>
            <li class="proposal"><a ui-sref="front.tenders.list({section:'Consultation'})" translate="front.CONSULTPROPOSAL">Consult PROPOSAL</a></li>

            <li class="advertiser" ng-if="user.type == 'Buyer'"><a ui-sref="front.suppliers" translate="front.CONSULTSUPPLIERS">Consult buyers</a></li>
            <li class="advertiser" ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.buyers" translate="front.CONSULTBUYERS">Consult suppliers</a></li>
        </ul>
    </div>
</div>
