<html>
<head></head>
<body style="padding: 0; margin: 0;">
<style>
    @font-face {
        font-family: 'CenturyGothic';
        src: url('http://public.ubid.com/front/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.woff') format('woff'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.ttf')  format('truetype'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
</style>
<div style="background-color: white; font-family: 'CenturyGothic'; font-size: 14px; color: black;">
    <div style="padding: 20px 50px 20px 50px;">
        <a href="http://public.ubid.com/" target="_blank" title="E-electricity" style="display: inline-block; height: 80px; width: 380px; margin: 0;"><img style="border: none;" src="http://public.ubid.com/front/img/e-electricity-logo-blue.png" alt="E-electricity" height="80" width="380"/></a>
        <a href="http://public.ubid.com/tenders/Tender" target="_blank" title="Logistics" style="display: inline-block; height: 70px; width: 70px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="http://public.ubid.com/front/img/logistic_agent.png" alt="Logistics" height="70" width="70" /></a>
        <a href="http://public.ubid.com/tenders/Tender" target="_blank" title="Service Provider" style="display: inline-block; height: 70px; width: 70px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="http://public.ubid.com/front/img/service_provider.png" alt="Service Provider" height="70" width="70" /></a>
        <a href="http://public.ubid.com/tenders/Tender" target="_blank" title="Product / Service requester" style="display: inline-block; height: 70px; width: 70px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="http://public.ubid.com/front/img/service_requester.png" alt="Product / Service requester" height="70" width="70" /></a>
        <a href="http://public.ubid.com/suppliers" target="_blank" title="Suppliers" style="display: inline-block; height: 70px; width: 70px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="http://public.ubid.com/front/img/supplier.png" alt="Suppliers" height="70" width="70" /></a>
        <a href="http://public.ubid.com/tenders/Tender" target="_blank" title="Business opportunities" style="display: inline-block; height: 70px; width: 70px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="http://public.ubid.com/front/img/buniness_opportunity.png" alt="Business opportunities" height="70" width="70" /></a>
        <br clear="all"/>
    </div>
    <div style="background-color: #1D69AD; color: white; height: 26px; line-height: 26px; font-size: 14px; text-align: center; text-transform: uppercase;">
        The professional network for electrical business opportunities
    </div>
    <div style="background-color: white; padding: 30px;">
        <div style="background-color: #F7F8FC; padding: 50px 230px 200px 80px; background-image: url('http://public.ubid.com/front/img/e-electricity-logo-vertical.png'); background-position: bottom right; background-repeat: no-repeat;">
            <p>Dear Omar,</p>
            <p>&nbsp;</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
            <table style="border: 1px solid #ccc; border-spacing: 0; width: 100%;">
                <tr>
                    <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                        Tenders
                    </th>
                </tr>
                <tr>
                    <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Sed ut perspiciatis unde omnis iste natus</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Dolor sit amet, consectetur adipiscing elit</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Incididunt ut labore et dolore magna aliqua</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Eaque ipsa quae ab illo inventore veritatis et quasi</a></p>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                        Consultations
                    </th>
                </tr>
                <tr>
                    <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Sed ut perspiciatis unde omnis iste natus</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Dolor sit amet, consectetur adipiscing elit</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Incididunt ut labore et dolore magna aliqua</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Eaque ipsa quae ab illo inventore veritatis et quasi</a></p>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                        Buyers
                    </th>
                </tr>
                <tr>
                    <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Perspiciatis Unde</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Adipiscing Elit</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Magna Aliqua</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Rem Aperiam</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Veritatis et Quasi</a></p>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                        Suppliers
                    </th>
                </tr>
                <tr>
                    <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Omnis Iste Natus</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Consectetur</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Labore et Dolore</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Doloremque Laudantium, totam rem aperiam</a></p>
                        <p><a style="color: #1D69AD;" href="http://public.ubid.com/" target="_blank">Illo Inventore</a></p>
                    </td>
                </tr>
            </table>
            <p>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <p>&nbsp;</p>
            <p>
                See you soon on e-electricity
            </p>
        </div>
    </div>
    <div style="background-color: #1D69AD; padding: 60px 80px 20px 110px; color: white;">
        <div style="width: 340px; height: 92px; border-bottom: white 1px solid; text-align: center; display: inline-block;">
            <a href="https://www.facebook.com/" target="_blank" title="join us on facebook" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on facebook" src="http://public.ubid.com/front/img/facebook.png" height="44" width="44" style="border: none;" /></a>
            <a href="https://twitter.com/" target="_blank" title="join us on twitter" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on twitter" src="http://public.ubid.com/front/img/twitter.png" height="44" width="44" style="border: none;" /></a>
            <a href="https://www.youtube.com/" target="_blank" title="join us on youtube" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on youtube" src="http://public.ubid.com/front/img/youtube.png" height="44" width="44" style="border: none;" /></a>
            <a href="https://plus.google.com/" target="_blank" title="join us on Google+" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on Google+" src="http://public.ubid.com/front/img/google.png" height="44" width="44" style="border: none;" /></a>
            <a href="https://www.linkedin.com/" target="_blank" title="join us on LinkedIn" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 5px 5px 5px;"><img alt="join us on LinkedIn" src="http://public.ubid.com/front/img/linkedin.png" height="44" width="44" style="border: none;" /></a>
            <span style="margin: 20px auto -8px auto; width: 170px; background-color: #1D69AD; font-size: 16px; text-align: center; display: inline-block;">Keep in touch</span>
        </div>

        <div style="width: 260px; height: 114px; text-align: left; display: inline-block; float: right;">
            <div style="margin-top: 10px;">
                <img style="display: inline; vertical-align: middle;" src="http://public.ubid.com/front/img/phone.png" height="34" width="34" alt="Call us" />
                <a target="_blank" href="tel:+971125845267" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">+971 1258 4526 7</a>
            </div>
            <div style="margin-top: 30px;">
                <img style="display: inline; vertical-align: middle;" src="http://public.ubid.com/front/img/envelope.png" height="34" width="34" alt="Call us" />
                <a target="_blank" href="mailto:contact@e-electricity.com" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">contact@e-electricity.com</a>
            </div>
        </div>

        <div style="text-align: center; font-size: 12px; margin: 60px 0 0 0;">Copyright &copy; E-electricity 2017. All rights reserved.</div>

    </div>
</div>
</body>
</html>