
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONPOSTCATEGORIES">Translation Post Categories</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationPostCategoryFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWTRANSLATIONPOSTCATEGORY" ng-if="translationPostCategory.id == 0">
                        New Translation Post Category
                    </legend>
                    <legend translate="content.list.EDITTRANSLATIONPOSTCATEGORY" ng-if="translationPostCategory.id > 0">
                        Edit Translation Post Category
                    </legend>
                    <form name="translationPostCategoryForm" id="translationPostCategoryForm" novalidate ng-submit="submitForm(translationPostCategoryForm)">
                        <input type="hidden" name="id" id="translationPostCategoryId" ng-model="translationPostCategory.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationPostCategoryForm.postCategory.$dirty && translationPostCategoryForm.postCategory.$invalid, 'has-success':translationPostCategoryForm.postCategory.$valid}">
                                    <label for="translationPostCategoryPostCategory" class="control-label">
                                        <span translate="content.list.fields.POSTCATEGORY">Post Category</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="postCategoriesLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="translation_post_category_post_category_readonly" ng-options="item.id as item.name for item in postCategories | filter:{ hidden : false }" ng-model="translationPostCategory.post_category" name="postCategory" id="translationPostCategoryPostCategory" class="form-control" ng-required="true">
                                            </select>
                                            <i class="fa fa-folder-o"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="translationPostCategoryForm.postCategory.$dirty && translationPostCategoryForm.postCategory.$error.required" translate="content.form.messages.POSTCATEGORYREQUIRED">Post Category is required.</span>
                                    <span class="success text-small block" ng-if="translationPostCategoryForm.postCategory.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationPostCategoryForm.locale.$dirty && translationPostCategoryForm.locale.$invalid, 'has-success':translationPostCategoryForm.locale.$valid}">
                                    <label for="translationPostCategoryLocale" class="control-label">
                                        <span translate="content.list.fields.LOCALE">Locale</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list">
                                        <span class="input-icon">
                                            <select ng-options="langKey as langName for (langKey, langName) in languages" ng-model="translationPostCategory.locale" name="locale" id="translationPostCategoryLocale" class="form-control" ng-required="true">
                                            </select>
                                        </span>
                                    </div>
                                    <span class="error text-small block" ng-if="translationPostCategoryForm.locale.$dirty && translationPostCategoryForm.locale.$error.required" translate="content.form.messages.LOCALEREQUIRED">Locale is required.</span>
                                    <span class="success text-small block" ng-if="translationPostCategoryForm.locale.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationPostCategoryForm.name.$dirty && translationPostCategoryForm.name.$invalid, 'has-success':translationPostCategoryForm.name.$valid}">
                                    <label for="translationPostCategoryName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationPostCategory.name" type="text" name="name" id="translationPostCategoryName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationPostCategoryForm.name.$dirty && translationPostCategoryForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="translationPostCategoryForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="translationPostCategory.locale" to="translationPostCategory.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':translationPostCategoryForm.slug.$dirty && translationPostCategoryForm.slug.$invalid, 'has-success':translationPostCategoryForm.slug.$valid}">
                                    <label for="translationPostCategorySlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationPostCategory.slug" type="text" name="slug" id="translationPostCategorySlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationPostCategoryForm.slug.$dirty && translationPostCategoryForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="translationPostCategoryForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="translationPostCategoryDescription" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTION">Description</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationPostCategory.description" type="text" name="description" id="translationPostCategoryDescription" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTION' | translate ]]" ng-required="false" />
                                        <i class="ti-info-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="translationPostCategory.validated" type="checkbox" name="validated" id="translationPostCategoryValidated" />
                                    <label for="translationPostCategoryValidated" translate="content.list.fields.VALIDATED">Validated</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRANSLATIONPOSTCATEGORIES">Back to Translation Post Categories list</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="translationPostCategory.id > 0" type="button" ng-click="submitForm(translationPostCategoryForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="translationPostCategoryForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="fa fa-check-circle" ng-if="!disableSubmit"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(translationPostCategoryForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="translationPostCategoryForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="translationPostCategories.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

