
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.POSTCATEGORIES">Post Categories</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PostCategoryFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWPOSTCATEGORY" ng-if="postCategory.id == 0">
                        New Post Category
                    </legend>
                    <legend translate="content.list.EDITPOSTCATEGORY" ng-if="postCategory.id > 0">
                        Edit Post Category
                    </legend>
                    <form name="postCategoryForm" id="postCategoryForm" novalidate ng-submit="submitForm(postCategoryForm)">
                        <input type="hidden" name="id" id="postCategoryId" ng-model="postCategory.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':postCategoryForm.name.$dirty && postCategoryForm.name.$invalid, 'has-success':postCategoryForm.name.$valid}">
                                    <label for="postCategoryName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="postCategory.name" type="text" name="name" id="postCategoryName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="postCategory.name" my-resource-url="postcategories" my-current-id="[[ postCategory.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="postCategoryForm.name.$dirty && postCategoryForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="postCategoryForm.name.$dirty && postCategoryForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="postCategoryForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="postCategory.name" to="postCategory.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':postCategoryForm.slug.$dirty && postCategoryForm.slug.$invalid, 'has-success':postCategoryForm.slug.$valid}">
                                    <label for="postCategorySlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="postCategory.slug" type="text" name="slug" id="postCategorySlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="postCategoryForm.slug.$dirty && postCategoryForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="postCategoryForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="postCategoryPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="postCategory.picture" type="text" name="picture" id="postCategoryPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="postCategory.picture != '' && postCategory.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + postCategory.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="postCategory.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':postCategoryForm.description.$dirty && postCategoryForm.description.$invalid, 'has-success':postCategoryForm.description.$valid}">
                                    <label for="postCategoryDescription" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTION">Description</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="postCategory.description" type="text" name="description" id="postCategoryDescription" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTION' | translate ]]" ng-required="true" />
                                        <i class="ti-info-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="postCategoryForm.description.$dirty && postCategoryForm.description.$error.required" translate="content.form.messages.DESCRIPTIONREQUIRED">Description is required.</span>
                                    <span class="success text-small block" ng-if="postCategoryForm.description.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="postCategoryParent" class="control-label">
                                        <span translate="content.list.fields.PARENT">Parent</span>
                                    </label>
                                <div class="block select-list" ng-if="parentsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="post_category_parent_readonly" ng-options="item.id as item.name for item in parents | filter:{ hidden : false }" ng-model="postCategory.parent" name="parent" id="postCategoryParent" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':postCategoryForm.postType.$dirty && postCategoryForm.postType.$invalid, 'has-success':postCategoryForm.postType.$valid}">
                                    <label for="postCategoryPostType" class="control-label">
                                        <span translate="content.list.fields.POSTTYPE">Post Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="postTypesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="post_category_post_type_readonly" ng-options="item.id as item.name for item in postTypes | filter:{ hidden : false }" ng-model="postCategory.post_type" name="postType" id="postCategoryPostType" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-sitemap"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="postCategoryForm.postType.$dirty && postCategoryForm.postType.$error.required" translate="content.form.messages.POSTTYPEREQUIRED">Post Type is required.</span>
                                    <span class="success text-small block" ng-if="postCategoryForm.postType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="postCategoryOrdering" class="control-label">
                                        <span translate="content.list.fields.ORDERING">Ordering</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="postCategory.ordering" type="text" name="ordering" id="postCategoryOrdering" class="form-control" placeholder="[[ 'content.form.messages.ENTERORDERING' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':postCategoryForm.status.$dirty && postCategoryForm.status.$invalid, 'has-success':postCategoryForm.status.$valid}">
                                    <label for="postCategoryStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="postCategory.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="postCategory.status" name="status" id="postCategoryStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="postCategoryForm.status.$dirty && postCategoryForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="postCategoryForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPOSTCATEGORIES">Back to Post Categories list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(postCategoryForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="postCategoryForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="postCategories.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

