
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.STORES">Stores</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="StoreFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSTORE" ng-if="store.id == 0">
                        New Store
                    </legend>
                    <legend translate="content.list.EDITSTORE" ng-if="store.id > 0">
                        Edit Store
                    </legend>
                    <form name="storeForm" id="storeForm" novalidate ng-submit="submitForm(storeForm)">
                        <input type="hidden" name="id" id="storeId" ng-model="store.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':storeForm.name.$dirty && storeForm.name.$invalid, 'has-success':storeForm.name.$valid}">
                                    <label for="storeName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.name" type="text" name="name" id="storeName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="store.name" my-resource-url="stores" my-current-id="[[ store.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="storeForm.name.$dirty && storeForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="storeForm.name.$dirty && storeForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="storeForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.name_ar" type="text" name="nameAr" id="storeNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.name_fr" type="text" name="nameFr" id="storeNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeAddress" class="control-label">
                                        <span translate="content.list.fields.ADDRESS">Address</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.address" type="text" name="address" id="storeAddress" class="form-control" placeholder="[[ 'content.form.messages.ENTERADDRESS' | translate ]]" ng-required="false" />
                                        <i class="ti-home"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeAddressAr" class="control-label">
                                        <span translate="content.list.fields.ADDRESSAR">Address Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.address_ar" type="text" name="addressAr" id="storeAddressAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERADDRESSAR' | translate ]]" ng-required="false" />
                                        <i class="ti-home"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeAddressFr" class="control-label">
                                        <span translate="content.list.fields.ADDRESSFR">Address Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.address_fr" type="text" name="addressFr" id="storeAddressFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERADDRESSFR' | translate ]]" ng-required="false" />
                                        <i class="ti-home"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeZipCode" class="control-label">
                                        <span translate="content.list.fields.ZIPCODE">Zip Code</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.zip_code" type="text" name="zipCode" id="storeZipCode" class="form-control" placeholder="[[ 'content.form.messages.ENTERZIPCODE' | translate ]]" ng-required="false" />
                                        <i class="ti-shortcode"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeLocation" class="control-label">
                                        <span translate="content.list.fields.LOCATION">Location</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="store.location" type="text" name="location" id="storeLocation" class="form-control" placeholder="[[ 'content.form.messages.ENTERLOCATION' | translate ]]" ng-required="false" />
                                        <i class="ti-map"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showLocationPicker('location')">
                                                <i class="fa fa-map-marker"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':storeForm.country.$dirty && storeForm.country.$invalid, 'has-success':storeForm.country.$valid}">
                                    <label for="storeCountry" class="control-label">
                                        <span translate="content.list.fields.COUNTRY">Country</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="countriesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="store_country_readonly" ng-options="item.id as item.name for item in countries | filter:{ hidden : false }" ng-model="store.country" name="country" id="storeCountry" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-globe"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="storeForm.country.$dirty && storeForm.country.$error.required" translate="content.form.messages.COUNTRYREQUIRED">Country is required.</span>
                                    <span class="success text-small block" ng-if="storeForm.country.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':storeForm.city.$dirty && storeForm.city.$invalid, 'has-success':storeForm.city.$valid}">
                                    <label for="storeCity" class="control-label">
                                        <span translate="content.list.fields.CITY">City</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="citiesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="store_city_readonly" ng-options="item.id as item.name for item in cities | filter:{ hidden : false }" ng-model="store.city" name="city" id="storeCity" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-direction"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="storeForm.city.$dirty && storeForm.city.$error.required" translate="content.form.messages.CITYREQUIRED">City is required.</span>
                                    <span class="success text-small block" ng-if="storeForm.city.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storePhone" class="control-label">
                                        <span translate="content.list.fields.PHONE">Phone</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.phone" type="text" name="phone" id="storePhone" class="form-control" placeholder="[[ 'content.form.messages.ENTERPHONE' | translate ]]" ng-required="false" />
                                        <i class="fa fa-phone"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeFax" class="control-label">
                                        <span translate="content.list.fields.FAX">Fax</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.fax" type="text" name="fax" id="storeFax" class="form-control" placeholder="[[ 'content.form.messages.ENTERFAX' | translate ]]" ng-required="false" />
                                        <i class="ti-printer"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storeEmail" class="control-label">
                                        <span translate="content.list.fields.EMAIL">Email</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="store.email" type="email" name="email" id="storeEmail" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAIL' | translate ]]" ng-required="false" />
                                        <i class="ti-email"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="storePicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="store.picture" type="text" name="picture" id="storePicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="store.picture != '' && store.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + store.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="store.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':storeForm.status.$dirty && storeForm.status.$invalid, 'has-success':storeForm.status.$valid}">
                                    <label for="storeStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="store.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="store.status" name="status" id="storeStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="storeForm.status.$dirty && storeForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="storeForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSTORES">Back to Stores list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(storeForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="storeForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="stores.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

