
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SUPPLIERS">Suppliers</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SupplierFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSUPPLIER" ng-if="supplier.id == 0">
                        New Supplier
                    </legend>
                    <legend translate="content.list.EDITSUPPLIER" ng-if="supplier.id > 0">
                        Edit Supplier
                    </legend>
                    <form name="supplierForm" id="supplierForm" novalidate ng-submit="submitForm(supplierForm, true)">
                        <input type="hidden" name="id" id="supplierId" ng-model="supplier.id" />
                        <div class="row">
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 translate="content.list.fieldsets.SUPPLIER.A"></h2>
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierSupplierType" class="control-label">
                                        <span translate="content.list.fields.SUPPLIERTYPE">Supplier Type</span>
                                    </label>
                                    <div class="block select-list" ng-if="supplierTypesLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_supplier_type_readonly || false" ng-options="item.id as item.name for item in supplierTypes | filter:{ hidden : false }" ng-model="supplier.supplier_type" name="supplierType" id="supplierSupplierType" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-cog"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':supplierForm.name.$dirty && supplierForm.name.$invalid, 'has-success':supplierForm.name.$valid}">
                                    <label for="supplierName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.name" type="text" name="name" id="supplierName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="supplier.name" my-resource-url="suppliers" my-current-id="[[ supplier.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="supplierForm.name.$dirty && supplierForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="supplierForm.name.$dirty && supplierForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="supplierForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierEmail" class="control-label">
                                        <span translate="content.list.fields.EMAIL">Email</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.email" type="email" name="email" id="supplierEmail" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAIL' | translate ]]" ng-required="false" />
                                        <i class="ti-email"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierPhone" class="control-label">
                                        <span translate="content.list.fields.PHONE">Phone</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.phone" type="text" name="phone" id="supplierPhone" class="form-control" placeholder="[[ 'content.form.messages.ENTERPHONE' | translate ]]" ng-required="false" />
                                        <i class="fa fa-phone"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 translate="content.list.fieldsets.SUPPLIER.B"></h2>
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierFirstName" class="control-label">
                                        <span translate="content.list.fields.FIRSTNAME">First Name</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.first_name" type="text" name="firstName" id="supplierFirstName" class="form-control" placeholder="[[ 'content.form.messages.ENTERFIRSTNAME' | translate ]]" ng-required="false" />
                                        <i class="ti-id-badge"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierLastName" class="control-label">
                                        <span translate="content.list.fields.LASTNAME">Last Name</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.last_name" type="text" name="lastName" id="supplierLastName" class="form-control" placeholder="[[ 'content.form.messages.ENTERLASTNAME' | translate ]]" ng-required="false" />
                                        <i class="ti-id-badge"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierJob" class="control-label">
                                        <span translate="content.list.fields.JOB">Job</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.job" type="text" name="job" id="supplierJob" class="form-control" placeholder="[[ 'content.form.messages.ENTERJOB' | translate ]]" ng-required="false" />
                                        <i class="ti-rocket"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 translate="content.list.fieldsets.SUPPLIER.C"></h2>
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierCompanyName" class="control-label">
                                        <span translate="content.list.fields.COMPANYNAME">Company Name</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.company_name" type="text" name="companyName" id="supplierCompanyName" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOMPANYNAME' | translate ]]" ng-required="false" />
                                        <i class="ti-briefcase"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierAddress" class="control-label">
                                        <span translate="content.list.fields.ADDRESS">Address</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.address" type="text" name="address" id="supplierAddress" class="form-control" placeholder="[[ 'content.form.messages.ENTERADDRESS' | translate ]]" ng-required="false" />
                                        <i class="ti-home"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierDescription" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTION">Description</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.description" type="text" name="description" id="supplierDescription" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTION' | translate ]]" ng-required="false" />
                                        <i class="ti-info-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierZipCode" class="control-label">
                                        <span translate="content.list.fields.ZIPCODE">Zip Code</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.zip_code" type="text" name="zipCode" id="supplierZipCode" class="form-control" placeholder="[[ 'content.form.messages.ENTERZIPCODE' | translate ]]" ng-required="false" />
                                        <i class="ti-shortcode"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierCity" class="control-label">
                                        <span translate="content.list.fields.CITY">City</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.city" type="text" name="city" id="supplierCity" class="form-control" placeholder="[[ 'content.form.messages.ENTERCITY' | translate ]]" ng-required="false" />
                                        <i class="ti-direction"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierCountry" class="control-label">
                                        <span translate="content.list.fields.COUNTRY">Country</span>
                                    </label>
                                    <div class="block select-list" ng-if="countriesLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_country_readonly || false" ng-options="item.id as item.name for item in countries | filter:{ hidden : false }" ng-model="supplier.country" name="country" id="supplierCountry" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-flag"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierFax" class="control-label">
                                        <span translate="content.list.fields.FAX">Fax</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.fax" type="text" name="fax" id="supplierFax" class="form-control" placeholder="[[ 'content.form.messages.ENTERFAX' | translate ]]" ng-required="false" />
                                        <i class="ti-printer"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierWebsite" class="control-label">
                                        <span translate="content.list.fields.WEBSITE">Website</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.website" type="text" name="website" id="supplierWebsite" class="form-control" placeholder="[[ 'content.form.messages.ENTERWEBSITE' | translate ]]" ng-required="false" />
                                        <i class="ti-world"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.picture" type="text" name="picture" id="supplierPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="supplier.picture != '' && supplier.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + supplier.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="supplier.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 translate="content.list.fieldsets.SUPPLIER.D"></h2>
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierMainProductsServices" class="control-label">
                                        <span translate="content.list.fields.MAINPRODUCTSSERVICES">Main Products Services</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.main_products_services" type="text" name="mainProductsServices" id="supplierMainProductsServices" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAINPRODUCTSSERVICES' | translate ]]" ng-required="false" />
                                        <i class="fa fa-puzzle-piece"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierTotalRevenu" class="control-label">
                                        <span translate="content.list.fields.TOTALREVENU">Total Revenu</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.total_revenu" type="text" name="totalRevenu" id="supplierTotalRevenu" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALREVENU' | translate ]]" ng-required="false" />
                                        <i class="fa fa-money"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierFirstMarketRegion" class="control-label">
                                        <span translate="content.list.fields.FIRSTMARKETREGION">First Market Region</span>
                                    </label>
                                    <div class="block select-list" ng-if="regionsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_first_market_region_readonly || false" ng-options="item.id as item.name for item in regions | filter:{ hidden : false }" ng-model="supplier.first_market_region" name="firstMarketRegion" id="supplierFirstMarketRegion" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-globe"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierFirstMarketRate" class="control-label">
                                        <span translate="content.list.fields.FIRSTMARKETRATE">First Market Rate</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-disabled="false" ng-model="supplier.first_market_rate" type="text" name="firstMarketRate" id="supplierFirstMarketRate" class="form-control" placeholder="[[ 'content.form.messages.ENTERFIRSTMARKETRATE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-percent"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierSecondMarketRegion" class="control-label">
                                        <span translate="content.list.fields.SECONDMARKETREGION">Second Market Region</span>
                                    </label>
                                    <div class="block select-list" ng-if="regionsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_second_market_region_readonly || false" ng-options="item.id as item.name for item in regions | filter:{ hidden : false }" ng-model="supplier.second_market_region" name="secondMarketRegion" id="supplierSecondMarketRegion" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-globe"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierSecondMarketRate" class="control-label">
                                        <span translate="content.list.fields.SECONDMARKETRATE">Second Market Rate</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-disabled="false" ng-model="supplier.second_market_rate" type="text" name="secondMarketRate" id="supplierSecondMarketRate" class="form-control" placeholder="[[ 'content.form.messages.ENTERSECONDMARKETRATE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-percent"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierThirdMarketRegion" class="control-label">
                                        <span translate="content.list.fields.THIRDMARKETREGION">Third Market Region</span>
                                    </label>
                                    <div class="block select-list" ng-if="regionsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_third_market_region_readonly || false" ng-options="item.id as item.name for item in regions | filter:{ hidden : false }" ng-model="supplier.third_market_region" name="thirdMarketRegion" id="supplierThirdMarketRegion" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-globe"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierThirdMarketRate" class="control-label">
                                        <span translate="content.list.fields.THIRDMARKETRATE">Third Market Rate</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-disabled="false" ng-model="supplier.third_market_rate" type="text" name="thirdMarketRate" id="supplierThirdMarketRate" class="form-control" placeholder="[[ 'content.form.messages.ENTERTHIRDMARKETRATE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-percent"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierReferenceNumber" class="control-label">
                                        <span translate="content.list.fields.REFERENCENUMBER">Reference Number</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="supplier.reference_number" type="text" name="referenceNumber" id="supplierReferenceNumber" class="form-control" placeholder="[[ 'content.form.messages.ENTERREFERENCENUMBER' | translate ]]" ng-required="false" />
                                        <i class="fa fa-sort-numeric-asc "></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="supplierLanguage" class="control-label">
                                        <span translate="content.list.fields.LANGUAGE">Language</span>
                                    </label>
                                    <div class="block select-list" ng-if="languagesLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="supplier_language_readonly || false" ng-options="item.id as item.name for item in languages | filter:{ hidden : false }" ng-model="supplier.language" name="language" id="supplierLanguage" class="form-control" ng-required="false">
                                            </select>
                                            <i class="fa fa-language"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 translate="content.list.fieldsets.SUPPLIER.E"></h2>
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-readonly="false" ng-model="supplier.is_public" type="checkbox" name="isPublic" id="supplierIsPublic" />
                                    <label for="supplierIsPublic" translate="content.list.fields.ISPUBLIC">Is Public</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-readonly="false" ng-model="supplier.enable_comment" type="checkbox" name="enableComment" id="supplierEnableComment" />
                                    <label for="supplierEnableComment" translate="content.list.fields.ENABLECOMMENT">Enable Comment</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-readonly="false" ng-model="supplier.enable_private_message" type="checkbox" name="enablePrivateMessage" id="supplierEnablePrivateMessage" />
                                    <label for="supplierEnablePrivateMessage" translate="content.list.fields.ENABLEPRIVATEMESSAGE">Enable Private Message</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-readonly="false" ng-model="supplier.enable_share" type="checkbox" name="enableShare" id="supplierEnableShare" />
                                    <label for="supplierEnableShare" translate="content.list.fields.ENABLESHARE">Enable Share</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="supplierCategories" class="control-label">
                                    <span translate="content.list.fields.CATEGORIES">Categories</span>
                                    <span class="input-icon">
                                        <input placeholder="[[ 'content.form.messages.FILTERCATEGORIES' | translate ]]" type="text" ng-model="categoriesSearchText" class="form-control pull-right input-sm underline" />
                                         <i class="ti-filter"></i>
                                     </span><!--/input-icon-->
                                </label>
                            </div><!--/col-md-12-->
                            <div class="col-md-3" ng-repeat="category in categories | filter:categoriesSearchText" ng-if="category.id">
                                <div class="checkbox continuous-check check-primary">
                                    <input checklist-model="supplier.categories" checklist-value="category.id" type="checkbox" name="category[]" id="supplierCategory[[category.id]]" />
                                    <label for="supplierCategory[[category.id]]">[[ category.name ]]</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-3-->
                            <div class="col-md-12">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="supplierCategories" type="checkbox" id="supplierCategories" />
                                    <label class="all" for="supplierCategories" translate="content.common.SELECTALL">Select All</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKSUPPLIERS">Back to Suppliers list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="supplier.id > 0" type="button" ng-click="submitForm(supplierForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="supplierForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit && !redirect"></i><i class="fa fa-check-circle" ng-if="!(disableSubmit && !redirect)"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(supplierForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="supplierForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit && redirect"></i><i class="ti-save" ng-if="!(disableSubmit && redirect)"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="suppliers.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

