
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SUPPLIERS">Suppliers</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SupplierCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSUPPLIERS">Back to Suppliers list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDSUPPLIER">Add Supplier</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(supplier)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITSUPPLIER">Edit Supplier</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.SUPPLIERDETAILS">Supplier Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.A"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUPPLIERTYPE">Supplier Type</span></td>
                                <td><a ui-sref="app.lists.suppliertypesdetails({id: supplier.supplier_type.id})">[[ supplier.supplier_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="supplier.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="supplier.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONE">Phone</span></td>
                                <td>
                                    <div ng-bind-html="supplier.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.B"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                                <td>
                                    <div ng-bind-html="supplier.first_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                                <td>
                                    <div ng-bind-html="supplier.last_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.JOB">Job</span></td>
                                <td>
                                    <div ng-bind-html="supplier.job"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.C"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COMPANYNAME">Company Name</span></td>
                                <td>
                                    <div ng-bind-html="supplier.company_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                                <td>
                                    <div ng-bind-html="supplier.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="supplier.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                                <td>
                                    <div ng-bind-html="supplier.zip_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CITY">City</span></td>
                                <td>
                                    <div ng-bind-html="supplier.city"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: supplier.country.id})">[[ supplier.country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAX">Fax</span></td>
                                <td>
                                    <div ng-bind-html="supplier.fax"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WEBSITE">Website</span></td>
                                <td>
                                    <div ng-bind-html="supplier.website"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="supplier.picture != '' && supplier.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + supplier.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.D"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MAINPRODUCTSSERVICES">Main Products Services</span></td>
                                <td>
                                    <div ng-bind-html="supplier.main_products_services"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALREVENU">Total Revenu</span></td>
                                <td>
                                    <div ng-bind-html="supplier.total_revenu"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTMARKETREGION">First Market Region</span></td>
                                <td><a ui-sref="app.settings.regionsdetails({id: supplier.first_market_region.id})">[[ supplier.first_market_region.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTMARKETRATE">First Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="supplier.first_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECONDMARKETREGION">Second Market Region</span></td>
                                <td><a ui-sref="app.settings.regionsdetails({id: supplier.second_market_region.id})">[[ supplier.second_market_region.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECONDMARKETRATE">Second Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="supplier.second_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.THIRDMARKETREGION">Third Market Region</span></td>
                                <td><a ui-sref="app.settings.regionsdetails({id: supplier.third_market_region.id})">[[ supplier.third_market_region.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.THIRDMARKETRATE">Third Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="supplier.third_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REFERENCENUMBER">Reference Number</span></td>
                                <td>
                                    <div ng-bind-html="supplier.reference_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LANGUAGE">Language</span></td>
                                <td><a ui-sref="app.settings.languagesdetails({id: supplier.language.id})">[[ supplier.language.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.DEFAULT"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ supplier.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ supplier.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="supplier.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: supplier.creator_user.id})">[[ supplier.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: supplier.modifier_user.id})">[[ supplier.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.SUPPLIER.E"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLIC">Is Public</span></td>
                                <td>
                                    <span my-boolean="[[ supplier.is_public ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLECOMMENT">Enable Comment</span></td>
                                <td>
                                    <span my-boolean="[[ supplier.enable_comment ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEPRIVATEMESSAGE">Enable Private Message</span></td>
                                <td>
                                    <span my-boolean="[[ supplier.enable_private_message ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESHARE">Enable Share</span></td>
                                <td>
                                    <span my-boolean="[[ supplier.enable_share ]]"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
