<div ng-controller="BuyerFrontCtrl">
    <div ng-if="!loaded" class="svg-loader">
    </div>
    <div class="tender-preview" ng-if="loaded">
        <div class="row list-toolbox">
            <div class="col-md-4 margin-bottom-10">
                <button ng-click="list()" class="btn btn-primary pull-left">
                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBUYERS">Back to Buyers list</span>
                </button>
            </div>
            <div class="col-md-4 margin-bottom-10 text-center">

            </div>
            <div class="col-md-4 margin-bottom-10">

            </div>
        </div><!--/list-toolbox-->
        <h1 class="name" ng-bind="buyer.name"></h1>
        <div class="pb-1 clearfix">
            <img ng-if="buyer.picture" src="[[ buyer.picture ]]" alt="[[ buyer.name ]]" class="pull-right img-thumbnail" />
            <h2 ng-bind-html="buyer.description"></h2>
            <div class="mt-1 table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.A"></h3></th>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.BUYERTYPE">Buyer Type</span></td>
                        <td>[[ buyer.buyer_type.name ]]</td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.EMAIL">Email</span></td>
                        <td>
                            <div ng-bind-html="buyer.email"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.PHONE">Phone</span></td>
                        <td>
                            <div ng-bind-html="buyer.phone"></div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.B"></h3></th>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                        <td>
                            <div ng-bind-html="buyer.first_name"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                        <td>
                            <div ng-bind-html="buyer.last_name"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.JOB">Job</span></td>
                        <td>
                            <div ng-bind-html="buyer.job"></div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.C"></h3></th>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.COMPANYNAME">Company Name</span></td>
                        <td>
                            <div ng-bind-html="buyer.company_name"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                        <td>
                            <div ng-bind-html="buyer.address"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                        <td>
                            <div ng-bind-html="buyer.zip_code"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.CITY">City</span></td>
                        <td>
                            <div ng-bind-html="buyer.city"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                        <td><i class="country"><span class="flag-icon flag-icon-[[ buyer.country.code | lowercase ]]"></span></i> [[ buyer.country.name ]]</a></span></td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.FAX">Fax</span></td>
                        <td>
                            <div ng-bind-html="buyer.fax"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.WEBSITE">Website</span></td>
                        <td>
                            <div ng-bind-html="buyer.website"></div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.D"></h3></th>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.MAINPRODUCTSSERVICES">Main Products Services</span></td>
                        <td>
                            <div ng-bind-html="buyer.main_products_services"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.TOTALREVENU">Total Revenu</span></td>
                        <td>
                            <span ng-bind-html="buyer.total_revenu"></span> <i ng-if="buyer.total_revenu">USD</i>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="front.MARKETREGIONSRATES">Market Regions Rates</span></td>
                        <td>
                            <span ng-if="supplier.first_market_region.name && supplier.first_market_rate">
                                [[ supplier.first_market_region.name ]]
                                <i ng-bind-html="supplier.first_market_rate"></i>
                            </span>
                            <spa ng-if="supplier.second_market_region.name && supplier.second_market_rate">
                                -
                                [[ supplier.second_market_region.name ]]
                                <i ng-bind-html="supplier.second_market_rate"></i>
                            </spa>
                            <span ng-if="supplier.third_market_region.name && supplier.third_market_rate">
                                -
                                [[ supplier.third_market_region.name ]]
                                <i ng-bind-html="supplier.third_market_rate"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.REFERENCENUMBER">Reference Number</span></td>
                        <td>
                            <div ng-bind-html="buyer.reference_number"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate="content.list.fields.CATEGORIES">Categories</span></td>
                        <td>
                            <a ng-repeat-start="(i, category) in buyer.categories" ui-sref="front.category({slug: category.slug, target: 'buyers'})">[[ category.name ]]</a>
                            <span ng-repeat-end ng-if="i < (buyer.categories.length-1)">-</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!--/table-responsive-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <button ng-click="list()" class="btn btn-primary pull-left">
                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBUYERS">Back to Buyers list</span>
                </button>
            </div>
            <div class="col-md-6">
                <!--<button class="btn btn-sm pull-right" translate-attr-title="front.SHARE" title="Share"><i class="fa fa-share-alt"></i></button>-->
                <button ui-sref="front.messages.send({id: buyer.id, to:'buyer'})" ng-if="user.email && buyer.enable_private_message" class="btn btn-sm pull-right mr-1" translate-attr-title="front.MESSAGE" title="Message" ><i class="fa fa-envelope-o"></i></button>
                <!--<button class="btn btn-sm pull-right mr-1" translate-attr-title="front.COMMENTS" title="Comments"><i class="fa fa-commenting"></i></button>-->
            </div>
        </div>
    </div>
</div>