
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.STATS">Stats</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="StatCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSTATS">Back to Stats list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDSTAT">Add Stat</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(stat)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITSTAT">Edit Stat</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.STATDETAILS">Stat Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="stat.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TABLE">Table</span></td>
                                <td><a ui-sref="app.events.tablesdetails({id: stat.table.id})">[[ stat.table.id ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAM">Team</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: stat.team.id})">[[ stat.team.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.POSITION">Position</span></td>
                                <td>
                                    <div ng-bind-html="stat.position"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTPOSITION">Last Position</span></td>
                                <td>
                                    <div ng-bind-html="stat.last_position"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYED">Played</span></td>
                                <td>
                                    <div ng-bind-html="stat.played"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WON">Won</span></td>
                                <td>
                                    <div ng-bind-html="stat.won"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DRAWN">Drawn</span></td>
                                <td>
                                    <div ng-bind-html="stat.drawn"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOST">Lost</span></td>
                                <td>
                                    <div ng-bind-html="stat.lost"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GOALSFOR">Goals For</span></td>
                                <td>
                                    <div ng-bind-html="stat.goals_for"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GOALSAGAINST">Goals Against</span></td>
                                <td>
                                    <div ng-bind-html="stat.goals_against"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GOALDIFFERENCE">Goal Difference</span></td>
                                <td>
                                    <div ng-bind-html="stat.goal_difference"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.POINTS">Points</span></td>
                                <td>
                                    <div ng-bind-html="stat.points"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MOUVEMENT">Mouvement</span></td>
                                <td>
                                    <span my-enum="[[ stat.mouvement ]]" my-enum-list="[[ mouvements ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ stat.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: stat.creator_user.id})">[[ stat.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ stat.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: stat.modifier_user.id})">[[ stat.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
