<!--<div class="footer_top">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="footer_widget wow fadeInDown">
                <h2>Tag</h2>
                <ul class="tag_nav">
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 2</a></li>
                    <li><a href="#">Category 3</a></li>
                    <li><a href="#">Category 4</a></li>
                    <li><a href="#">Category 5</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6">
            <div class="footer_widget wow fadeInRightBig">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <address>
                    Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
                </address>
            </div>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <p class="copyright">Copyright &copy; [[app.year]] <a href="index.html">[[ app.author ]]</a></p>
    <p class="developer">Developed By Wpfreeware</p>
</div>-->

    <div class="row">
        <div class="col-md-4">
            <div class="col-md-4 footer-links">
                <ul>
                    <li><a ui-sref="front.tenders" translate="front.TENDERS">Tenders</a></li>
                    <li><a ui-sref="front.products" translate="front.PRODUCTION">Products</a></li>
                    <li><a ui-sref="front.buyers" translate="front.BUYERS">Buyers</a></li>
                    <li><a ui-sref="front.suppliers" translate="front.SUPPLIERS">Suppliers</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-links">
                <ul>
                    <li><a ui-sref="front.post('how-does-it-work')" translate="front.HOWDOESITWORK">How does it work?</a></li>
                    <li><a ui-sref="front.post('services')" translate="front.SERVICES">Services</a></li>
                    <li><a ui-sref="front.post('terms-of-use')" translate="front.TERMSOFUSE">Terms of use</a></li>
                    <li><a ui-sref="front.post('privacy-policy')" translate="front.BUYERS">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-links">
                <ul>
                    <li><a ui-sref="front.signin" translate="front.SIGNIN">Sign-in</a></li>
                    <li><a ui-sref="front.registerbuyer" translate="front.REGISTERASBUYER">Register as Buyer</a></li>
                    <li><a ui-sref="front.registersupplier" translate="front.REGISTERASSUPPLIER">Register as Supplier</a></li>
                    <li><a ui-sref="front.contact" translate="front.CONTACTUS">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-center">
                <ul>
                    <li><a href="http://facebook.com/" target="_blank" class="fb"></a></li>
                    <li><a href="https://twitter.com/" target="_blank" class="tw"></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="gp"></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank" class="li"></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" class="yt"></a></li>
                </ul>
                <p class="keep-in-touch"><a ui-sref="front.contact">[[ 'front.KEEP' | translate ]] <b>[[ 'front.INTOUCH' | translate ]]</b></a></p>
            </div>
            <p class="copyright">Copyright &copy; E-electricity 2017. All rights reserved.</p>
        </div>
        <div class="col-md-4">

            <div class="col-md-5">
                <span class="contact-footer" translate="front.CONTACTINFORMATIONS" class="pull-right" clas>Contact Infomations</span>
            </div>
            <div class="col-md-7 contact-infos">
                <ul>
                    <li><i class="address"></i> <span translate="front.ADDRESS">Tanjanyika road berges du lac - 1000 - Tunis - Tunisia</span></li>
                    <li><i class="tel"></i> +971 1258 4526 7</li>
                    <li><i class="fax"></i> +971 1258 4525 9</li>
                    <li><i class="email"></i> <a href="mailto:contact@e-electricity.com" target="_blank">contact@e-electricity.com</a></li>
                </ul>
            </div>

        </div>
    </div>
