
<footer id="footer">

    <hr class="footer-sep" />

    <div class="col-md-4 col-xs-12 mb-1 pad-right-0">
        <div class="col-md-4 col-xs-4 footer-links">
            <b translate="front.ACCOUNT">Account</b>
            <ul>
                <li><a ui-sref="front.buyers" translate="front.BUYER">Buyer</a></li>
                <li><a ui-sref="front.suppliers" translate="front.SUPPLIER">Supplier</a></li>
                <li ng-if="!user.email"><a ui-sref="front.register({type: 'Both'})" translate="front.REGISTER">Register</a></li>
                <li ng-if="!user.email"><a ui-sref="front.login({type: 'Both'})" translate="front.SIGNIN">Sign in</a></li>
                <li ng-if="user.email"><a ui-sref="front.logout" translate="front.SIGNOUT">Sign-out</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-4 footer-links">
            <b translate="front.SERVICES">Services</b>
            <ul>
                <li ng-if="user.email"><a ui-sref="front.mytenders.new" translate="front.PUBLISH">Publish</a></li>
                <li ng-if="!user.email"><a ui-sref="front.login({type: 'Both'})" translate="front.PUBLISH">Publish</a></li>
                <li><a ui-sref="front.tenders({section: 'Consultation'})" translate="front.CONSULT">Consult</a></li>
                <li><a ui-sref="front.tenders" translate="front.SEARCH">Search</a></li>
                <li><a ui-sref="front.post({slug: 'social-media'})" translate="front.SOCIALMEDIA">Social media</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-4 footer-links">
            <b translate="front.ABOUTUS">About us</b>
            <ul>
                <li><a ui-sref="front.post({slug: 'how-does-it-work'})" translate="front.HOWDOESITWORK">How does it work?</a></li>
                <li><a ui-sref="front.post({slug: 'electricity-magazine'})" translate="front.ELECTRICITYMAGAZINE">Electricity magazine</a></li>
                <li><a ui-sref="front.post({slug: 'services'})" translate="front.SERVICES">Services</a></li>
                <li><a ui-sref="front.contact" translate="front.CONTACTUS">Contact us</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4 col-xs-6 mb-1">
        <div class="footer-center">
            <ul>
                <li><a href="http://facebook.com/" target="_blank" class="fb"></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="tw"></a></li>
                <li><a href="https://plus.google.com/" target="_blank" class="gp"></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank" class="li"></a></li>
                <li><a href="https://www.youtube.com/" target="_blank" class="yt"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" class="ins"></a></li>
            </ul>
            <p class="keep-in-touch"><a ui-sref="front.contact" ng-bind-html-unsafe="'front.KEEPINTOUCH' | translate">Keep <b>IN TOUCH</b></a></p>
        </div>
        <p class="copyright" ng-bind-html-unsafe="'front.COPYRIGHT' | translate:'{year: app.year}'">Copyright &copy; e-electricity [[app.year]]. All rights reserved.</p>
    </div>

    <div class="col-md-4 col-xs-6 mb-1 pad-left-0">
        <!--
        <div class="col-md-5 col-sm-6 col-xs-6">
            <span class="contact-footer" translate="front.CONTACTINFORMATIONS" class="pull-right" clas>Contact Infomations</span>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-6 contact-infos">
        </div>
        -->
        <div class="contact-infos pull-right">
            <ul>
                <!--li><i class="address"></i> <span translate="front.ADDRESS">Tanjanyika road berges du lac - 1000 - Tunis - Tunisia</span></li-->
                <li><i class="tel"></i> +971 1258 4526 7</li>
                <!--li><i class="fax"></i> +971 1258 4525 9</li-->
                <li><i class="email"></i> <a href="mailto:contact@e-electricity.com" target="_blank">contact@e-electricity.com</a></li>
            </ul>
            <ul class="inline">
                <li><a ui-sref="front.post({slug: 'terms-of-use'})" target="_blank" translate="front.TERMSOFUSE">Terms of use</a></li>
                <li><span>-</span></li>
                <li><a ui-sref="front.post({slug: 'privacy-policy'})" target="_blank" translate="front.PRIVACYPOLICY">Privacy policy</a></li>
                <li><span>-</span></li>
                <li><a ui-sref="front.post({slug: 'site-map'})" target="_blank" translate="front.SITEMAP">Site map</a></li>
            </ul>
        </div>
    </div>

</footer>