<div class="footer_top">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="footer_widget wow fadeInDown">
                <h2>Tag</h2>
                <ul class="tag_nav">
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 2</a></li>
                    <li><a href="#">Category 3</a></li>
                    <li><a href="#">Category 4</a></li>
                    <li><a href="#">Category 5</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6">
            <div class="footer_widget wow fadeInRightBig">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <address>
                    Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
                </address>
            </div>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <p class="copyright">Copyright &copy; [[app.year]] <a href="index.html">[[ app.author ]]</a></p>
    <p class="developer">Developed By Wpfreeware</p>
</div>
