<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div class="container">
    <header id="header" data-ng-include=" '/assets/views/front/header.html' "></header>

    <section id="navArea" data-ng-include=" '/assets/views/front/nav_area.html' "></section>
    <div ui-view class="wrap-content container fade-in-up" id="container"></div>
    <footer id="footer" data-ng-include=" '/assets/views/front/footer.html' "></footer>
</div>

