<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<div ng-if="underPage">
    <header class="container">
        <div class="countdown-timer">
            <div class="timer">[[timer]]</div>
            <div class="circle-container">
                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle id="circle" class="circle_animation" r="60" ng-attr-r="[[circleRadius]]" cy="80" cx="80" stroke-width="12" stroke="#000000" fill="none"/>
                    </g>
                </svg>
            </div>
        </div>
    </header>
    <footer>
        <div class="pull-right">
            <a class="btn-green" ui-sref="front.home" translate="front.GETINTOUCH">GET IN TOUCH</a>
        </div>
    </footer>
</div>

<div ng-if="!underPage">

    <div data-ng-include="'/assets/views/front/header.html'"></div>

    <div class="container" id="container">
        <div class="row mt-2">
            <div class="col-md-4 pt-2">
                <span ng-if="showSlogan" class="slogan" ng-bind-html-unsafe="'front.SLOGAN' | translate"><b>Join US</b> to find your service provider in<br />Energy, Power, Electrical Products & Solutions...</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 pt-2 pr-0" data-ng-include="'/bundles/ubidelectricity/js/front/Auth/user_header.html'"></div>
        </div>
        <div class="row mt-2">
            <div ng-if="showLeftSide" class="col-lg-3 col-md-4 col-sm-12" id="specific_search" data-ng-include="'/bundles/ubidelectricity/js/front/Common/specific_search.html'"></div>
            <div ng-if="showUserMenu" class="col-lg-2 col-md-3 col-sm-12" id="partial_profile_menu" data-ng-include="'/bundles/ubidelectricity/js/front/Common/partial_profile_menu.html'"></div>
            <div id="front-content" class="col-lg-[[contentSize]] offset-lg-[[contentOffset]] col-md-[[contentSize - 1]] offset-md-[[contentOffset - 1]] col-sm-12 offset-sm-0" ui-view></div>
            <div ng-if="showRightSide" class="col-lg-3 col-md-4 col-sm-12" id="related_products" data-ng-include="'/bundles/ubidelectricity/js/front/Common/related_products.html'"></div>
        </div>
    </div>

    <div data-ng-include="'/assets/views/front/footer.html'"></div>

</div>