
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MENULINKS">Menu Links</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MenuLinkCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKMENULINKS">Back to Menu Links list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMENULINK">Add Menu Link</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(menuLink)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMENULINK">Edit Menu Link</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MENULINKDETAILS">Menu Link Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MENU">Menu</span></td>
                                <td><a ui-sref="app.settings.menusdetails({id: menuLink.menu.id})">[[ menuLink.menu.name ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLISHED">Is Published</span></td>
                                <td>
                                    <span my-boolean="[[ menuLink.is_published ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CONTROLLER">Controller</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.controller"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ACTION">Action</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.action"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FOREIGNKEY">Foreign Key</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.foreign_key"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="menuLink.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ menuLink.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: menuLink.creator_user.id})">[[ menuLink.creator_user.username ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ menuLink.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: menuLink.modifier_user.id})">[[ menuLink.modifier_user.username ]]</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
