
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MENULINKS">Menu Links</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MenuLinkFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWMENULINK" ng-if="menuLink.id == 0">
                        New Menu Link
                    </legend>
                    <legend translate="content.list.EDITMENULINK" ng-if="menuLink.id > 0">
                        Edit Menu Link
                    </legend>
                    <form name="menuLinkForm" id="menuLinkForm" novalidate ng-submit="submitForm(menuLinkForm)">
                        <div class="row">
                            <input type="hidden" name="id" id="menuLinkId" ng-model="menuLink.id" />
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.menu.$dirty && menuLinkForm.menu.$invalid, 'has-success':menuLinkForm.menu.$valid}">
                                    <label for="menuLinkMenu" class="control-label">
                                        <span translate="content.list.fields.MENU">Menu</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block" ng-if="menusLoaded">
                                    <span class="input-icon">
                                        <select ng-options="item.id as item.name for item in menus | filter:{ hidden : false }" ng-model="menuLink.menu" name="menu" id="menuLinkMenu" class="form-control" ng-required="true">
                                            <option translate="content.form.messages.SELECTMENU" value="">Select Menu</option>
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="menuLinkForm.menu.$dirty && menuLinkForm.menu.$error.required" translate="content.form.messages.MENUREQUIRED">Menu is required.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.menu.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.name.$dirty && menuLinkForm.name.$invalid, 'has-success':menuLinkForm.name.$valid}">
                                    <label for="menuLinkName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.name" type="text" name="name" id="menuLinkName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="menuLink.name" my-resource-url="menulinks" my-current-id="[[ menuLink.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuLinkForm.name.$dirty && menuLinkForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="menuLinkForm.name.$dirty && menuLinkForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="menuLinkNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.name_ar" type="text" name="nameAr" id="menuLinkNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="menuLinkNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.name_fr" type="text" name="nameFr" id="menuLinkNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                                    <slug from="menuLink.name" to="menuLink.slug"></slug>
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.slug.$dirty && menuLinkForm.slug.$invalid, 'has-success':menuLinkForm.slug.$valid}">
                                    <label for="menuLinkSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.slug" type="text" name="slug" id="menuLinkSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuLinkForm.slug.$dirty && menuLinkForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                                    <slug from="menuLink.name_ar" to="menuLink.slug_ar"></slug>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="menuLinkSlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.slug_ar" type="text" name="slugAr" id="menuLinkSlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                                    <slug from="menuLink.name_fr" to="menuLink.slug_fr"></slug>
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="menuLinkSlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.slug_fr" type="text" name="slugFr" id="menuLinkSlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="menuLink.is_published" type="checkbox" name="isPublished" id="menuLinkIsPublished" />
                                    <label for="menuLinkIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.controller.$dirty && menuLinkForm.controller.$invalid, 'has-success':menuLinkForm.controller.$valid}">
                                    <label for="menuLinkController" class="control-label">
                                        <span translate="content.list.fields.CONTROLLER">Controller</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.controller" type="text" name="controller" id="menuLinkController" class="form-control" placeholder="[[ 'content.form.messages.ENTERCONTROLLER' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuLinkForm.controller.$dirty && menuLinkForm.controller.$error.required" translate="content.form.messages.CONTROLLERREQUIRED">Controller is required.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.controller.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.action.$dirty && menuLinkForm.action.$invalid, 'has-success':menuLinkForm.action.$valid}">
                                    <label for="menuLinkAction" class="control-label">
                                        <span translate="content.list.fields.ACTION">Action</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.action" type="text" name="action" id="menuLinkAction" class="form-control" placeholder="[[ 'content.form.messages.ENTERACTION' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuLinkForm.action.$dirty && menuLinkForm.action.$error.required" translate="content.form.messages.ACTIONREQUIRED">Action is required.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.action.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="menuLinkForeignKey" class="control-label">
                                        <span translate="content.list.fields.FOREIGNKEY">Foreign Key</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.foreign_key" type="text" name="foreignKey" id="menuLinkForeignKey" class="form-control" placeholder="[[ 'content.form.messages.ENTERFOREIGNKEY' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':menuLinkForm.ordering.$dirty && menuLinkForm.ordering.$invalid, 'has-success':menuLinkForm.ordering.$valid}">
                                    <label for="menuLinkOrdering" class="control-label">
                                        <span translate="content.list.fields.ORDERING">Ordering</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menuLink.ordering" type="text" name="ordering" id="menuLinkOrdering" class="form-control" placeholder="[[ 'content.form.messages.ENTERORDERING' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuLinkForm.ordering.$dirty && menuLinkForm.ordering.$error.required" translate="content.form.messages.ORDERINGREQUIRED">Ordering is required.</span>
                                    <span class="success text-small block" ng-if="menuLinkForm.ordering.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMENULINKS">Back to Menu Links list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(menuLinkForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="menuLinkForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="menuLinks.length > 0">
                    </div>
                </fieldset>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

