
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.LOGS">Logs</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="LogCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKLOGS">Back to Logs list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDLOG">Add Log</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(log)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITLOG">Edit Log</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.LOGDETAILS">Log Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="log.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENTITY">Entity</span></td>
                                <td>
                                    <div ng-bind-html="log.entity"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FOREIGNKEY">Foreign Key</span></td>
                                <td>
                                    <div ng-bind-html="log.foreign_key"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ACTION">Action</span></td>
                                <td>
                                    <div ng-bind-html="log.action"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.IPADDRESS">Ip Address</span></td>
                                <td>
                                    <div ng-bind-html="log.ip_address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.USERAGENT">User Agent</span></td>
                                <td>
                                    <div ng-bind-html="log.user_agent"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ log.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: log.creator_user.id})">[[ log.creator_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
