
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.QUIZZES">Quizzes</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="QuizCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKQUIZZES">Back to Quizzes list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDQUIZ">Add Quiz</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(quiz)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITQUIZ">Edit Quiz</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.QUIZDETAILS">Quiz Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="quiz.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUIZTYPE">Quiz Type</span></td>
                                <td><a ui-sref="app.quizzesmanager.quiztypesdetails({id: quiz.quiz_type.id})">[[ quiz.quiz_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLE">Title</span></td>
                                <td>
                                    <div ng-bind-html="quiz.title"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLEAR">Title Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.title_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLEFR">Title Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.title_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="quiz.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="quiz.picture != '' && quiz.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + quiz.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="quiz.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONAR">Description Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.description_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONFR">Description Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.description_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.KIND">Kind</span></td>
                                <td>
                                    <span my-enum="[[ quiz.kind ]]" my-enum-list="[[ kinds ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUESTION">Question</span></td>
                                <td>
                                    <div ng-bind-html="quiz.question"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUESTIONAR">Question Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.question_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUESTIONFR">Question Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.question_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE1">Choice1</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE1AR">Choice1 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice1_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE1FR">Choice1 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice1_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE1ISCORRECT">Choice1 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice1_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE2">Choice2</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE2AR">Choice2 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice2_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE2FR">Choice2 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice2_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE2ISCORRECT">Choice2 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice2_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE3">Choice3</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE3AR">Choice3 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice3_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE3FR">Choice3 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice3_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE3ISCORRECT">Choice3 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice3_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE4">Choice4</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE4AR">Choice4 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice4_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE4FR">Choice4 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice4_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE4ISCORRECT">Choice4 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice4_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE5">Choice5</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice5"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE5AR">Choice5 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice5_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE5FR">Choice5 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice5_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE5ISCORRECT">Choice5 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice5_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE6">Choice6</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice6"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE6AR">Choice6 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice6_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE6FR">Choice6 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice6_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE6ISCORRECT">Choice6 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice6_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE7">Choice7</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice7"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE7AR">Choice7 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice7_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE7FR">Choice7 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice7_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE7ISCORRECT">Choice7 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice7_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE8">Choice8</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice8"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE8AR">Choice8 Ar</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice8_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE8FR">Choice8 Fr</span></td>
                                <td>
                                    <div ng-bind-html="quiz.choice8_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CHOICE8ISCORRECT">Choice8 Is Correct</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.choice8_is_correct ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUTOPUBLISHING">Auto Publishing</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.auto_publishing ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTPUBLISHING">Start Publishing</span></td>
                                <td>
                                    <span>[[ quiz.start_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENDPUBLISHING">End Publishing</span></td>
                                <td>
                                    <span>[[ quiz.end_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PUBLISHDATE">Publish Date</span></td>
                                <td>
                                    <span>[[ quiz.publish_date | date: dateFormat ]]</span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ quiz.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTANSWERS">Count Answers</span></td>
                                <td>
                                    <div ng-bind-html="quiz.count_answers"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTWINNERS">Count Winners</span></td>
                                <td>
                                    <div ng-bind-html="quiz.count_winners"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISFINISHED">Is Finished</span></td>
                                <td>
                                    <span my-boolean="[[ quiz.is_finished ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="quiz.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ quiz.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: quiz.creator_user.id})">[[ quiz.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ quiz.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: quiz.modifier_user.id})">[[ quiz.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
