
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BUYERS">Buyers</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BuyerCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKBUYERS">Back to Buyers list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDBUYER">Add Buyer</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(buyer)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITBUYER">Edit Buyer</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.BUYERDETAILS">Buyer Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.A"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BUYERTYPE">Buyer Type</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('buyertypesdetails')" ui-sref="app.lists.buyertypesdetails({id: buyer.buyer_type.id})" ng-bind="buyer.buyer_type.name"></a>
                                    <span ng-if="!checkStatePermission('buyertypesdetails')" ng-bind="buyer.buyer_type.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="buyer.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="buyer.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONE">Phone</span></td>
                                <td>
                                    <div ng-bind-html="buyer.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.B"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                                <td>
                                    <div ng-bind-html="buyer.first_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                                <td>
                                    <div ng-bind-html="buyer.last_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.JOB">Job</span></td>
                                <td>
                                    <div ng-bind-html="buyer.job"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.C"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COMPANYNAME">Company Name</span></td>
                                <td>
                                    <div ng-bind-html="buyer.company_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                                <td>
                                    <div ng-bind-html="buyer.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="buyer.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                                <td>
                                    <div ng-bind-html="buyer.zip_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CITY">City</span></td>
                                <td>
                                    <div ng-bind-html="buyer.city"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('countriesdetails')" ui-sref="app.settings.countriesdetails({id: buyer.country.id})" ng-bind="buyer.country.name"></a>
                                    <span ng-if="!checkStatePermission('countriesdetails')" ng-bind="buyer.country.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAX">Fax</span></td>
                                <td>
                                    <div ng-bind-html="buyer.fax"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WEBSITE">Website</span></td>
                                <td>
                                    <div ng-bind-html="buyer.website"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="buyer.picture != '' && buyer.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + buyer.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.D"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MAINPRODUCTSSERVICES">Main Products Services</span></td>
                                <td>
                                    <div ng-bind-html="buyer.main_products_services"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALREVENU">Total Revenu</span></td>
                                <td>
                                    <div ng-bind-html="buyer.total_revenu"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTMARKETREGION">First Market Region</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('regionsdetails')" ui-sref="app.settings.regionsdetails({id: buyer.first_market_region.id})" ng-bind="buyer.first_market_region.name"></a>
                                    <span ng-if="!checkStatePermission('regionsdetails')" ng-bind="buyer.first_market_region.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTMARKETRATE">First Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="buyer.first_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECONDMARKETREGION">Second Market Region</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('regionsdetails')" ui-sref="app.settings.regionsdetails({id: buyer.second_market_region.id})" ng-bind="buyer.second_market_region.name"></a>
                                    <span ng-if="!checkStatePermission('regionsdetails')" ng-bind="buyer.second_market_region.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECONDMARKETRATE">Second Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="buyer.second_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.THIRDMARKETREGION">Third Market Region</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('regionsdetails')" ui-sref="app.settings.regionsdetails({id: buyer.third_market_region.id})" ng-bind="buyer.third_market_region.name"></a>
                                    <span ng-if="!checkStatePermission('regionsdetails')" ng-bind="buyer.third_market_region.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.THIRDMARKETRATE">Third Market Rate</span></td>
                                <td>
                                    <div ng-bind-html="buyer.third_market_rate"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REFERENCENUMBER">Reference Number</span></td>
                                <td>
                                    <div ng-bind-html="buyer.reference_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LANGUAGE">Language</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('languagesdetails')" ui-sref="app.settings.languagesdetails({id: buyer.language.id})" ng-bind="buyer.language.name"></a>
                                    <span ng-if="!checkStatePermission('languagesdetails')" ng-bind="buyer.language.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.E"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLIC">Is Public</span></td>
                                <td>
                                    <span my-boolean="[[ buyer.is_public ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLECOMMENT">Enable Comment</span></td>
                                <td>
                                    <span my-boolean="[[ buyer.enable_comment ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEPRIVATEMESSAGE">Enable Private Message</span></td>
                                <td>
                                    <span my-boolean="[[ buyer.enable_private_message ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESHARE">Enable Share</span></td>
                                <td>
                                    <span my-boolean="[[ buyer.enable_share ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CATEGORIES">Categories</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('categoriesdetails')" ng-repeat="category in buyer.categories" ui-sref="app.lists.categoriesdetails({id: category.id})" ng-bind="category.name"></a>
                                    <span ng-if="!checkStatePermission('categoriesdetails')" ng-repeat="category in buyer.categories" ng-bind="category.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LANGUAGES">Languages</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('languagesdetails')" ng-repeat="language in buyer.languages" ui-sref="app.settings.languagesdetails({id: language.id})" ng-bind="language.name"></a>
                                    <span ng-if="!checkStatePermission('languagesdetails')" ng-repeat="language in buyer.languages" ng-bind="language.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3 translate="content.list.fieldsets.BUYER.Z"></h3></th>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ buyer.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: buyer.creator_user.id})" ng-bind="buyer.creator_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="buyer.creator_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ buyer.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.access.usersdetails({id: buyer.modifier_user.id})" ng-bind="buyer.modifier_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="buyer.modifier_user.username"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
