
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PRODUCTTYPES">Product Types</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="ProductTypeCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPRODUCTTYPES">Back to Product Types list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPRODUCTTYPE">Add Product Type</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(productType)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPRODUCTTYPE">Edit Product Type</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PRODUCTTYPEDETAILS">Product Type Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="productType.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="productType.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="productType.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="productType.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="productType.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="productType.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="productType.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLISHED">Is Published</span></td>
                                <td>
                                    <span my-boolean="[[ productType.is_published ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ productType.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: productType.creator_user.id})">[[ productType.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ productType.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: productType.modifier_user.id})">[[ productType.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
