
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SUBSCRIPTIONS">Subscriptions</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SubscriptionFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSUBSCRIPTION" ng-if="subscription.id == 0">
                        New Subscription
                    </legend>
                    <legend translate="content.list.EDITSUBSCRIPTION" ng-if="subscription.id > 0">
                        Edit Subscription
                    </legend>
                    <form name="subscriptionForm" id="subscriptionForm" novalidate ng-submit="submitForm(subscriptionForm)">
                        <input type="hidden" name="id" id="subscriptionId" ng-model="subscription.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionVisit" class="control-label">
                                        <span translate="content.list.fields.VISIT">Visit</span>
                                    </label>
                                <div class="block select-list" ng-if="visitsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="subscription_visit_readonly" ng-options="item.id as item.ip for item in visits | filter:{ hidden : false }" ng-model="subscription.visit" name="visit" id="subscriptionVisit" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionPackage" class="control-label">
                                        <span translate="content.list.fields.PACKAGE">Package</span>
                                    </label>
                                <div class="block select-list" ng-if="packagesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="subscription_package_readonly" ng-options="item.id as item.name for item in packages | filter:{ hidden : false }" ng-model="subscription.package" name="package" id="subscriptionPackage" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':subscriptionForm.status.$dirty && subscriptionForm.status.$invalid, 'has-success':subscriptionForm.status.$valid}">
                                    <label for="subscriptionStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="status in statuses" ng-model="subscription.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in statuses" ng-model="subscription.status" name="status" id="subscriptionStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="subscriptionForm.status.$dirty && subscriptionForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="subscriptionForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionReference" class="control-label">
                                        <span translate="content.list.fields.REFERENCE">Reference</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.reference" type="text" name="reference" id="subscriptionReference" class="form-control" placeholder="[[ 'content.form.messages.ENTERREFERENCE' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionToken" class="control-label">
                                        <span translate="content.list.fields.TOKEN">Token</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.token" type="text" name="token" id="subscriptionToken" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOKEN' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionMsisdn" class="control-label">
                                        <span translate="content.list.fields.MSISDN">Msisdn</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.msisdn" type="text" name="msisdn" id="subscriptionMsisdn" class="form-control" placeholder="[[ 'content.form.messages.ENTERMSISDN' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionVoucher" class="control-label">
                                        <span translate="content.list.fields.VOUCHER">Voucher</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.voucher" type="text" name="voucher" id="subscriptionVoucher" class="form-control" placeholder="[[ 'content.form.messages.ENTERVOUCHER' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionSerialNumber" class="control-label">
                                        <span translate="content.list.fields.SERIALNUMBER">Serial Number</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.serial_number" type="text" name="serialNumber" id="subscriptionSerialNumber" class="form-control" placeholder="[[ 'content.form.messages.ENTERSERIALNUMBER' | translate ]]" ng-required="false" />
                                        <i class="fa fa-barcode"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionAmount" class="control-label">
                                        <span translate="content.list.fields.AMOUNT">Amount</span>
                                    </label>
                                        <input ng-model="subscription.amount" type="text" name="amount" id="subscriptionAmount" class="form-control" placeholder="[[ 'content.form.messages.ENTERAMOUNT' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionCurrency" class="control-label">
                                        <span translate="content.list.fields.CURRENCY">Currency</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="subscription.currency" type="text" name="currency" id="subscriptionCurrency" class="form-control" placeholder="[[ 'content.form.messages.ENTERCURRENCY' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionDuration" class="control-label">
                                        <span translate="content.list.fields.DURATION">Duration</span>
                                    </label>
                                        <input ng-model="subscription.duration" type="text" name="duration" id="subscriptionDuration" class="form-control" placeholder="[[ 'content.form.messages.ENTERDURATION' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionStartDate" class="control-label">
                                        <span translate="content.list.fields.STARTDATE">Start Date</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="subscription.start_date" type="text" name="startDate" id="subscriptionStartDate" class="form-control" placeholder="[[ 'content.form.messages.SELECTSTARTDATE' | translate ]]" is-open="startDateOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-calendar"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="startDateToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionEndDate" class="control-label">
                                        <span translate="content.list.fields.ENDDATE">End Date</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="subscription.end_date" type="text" name="endDate" id="subscriptionEndDate" class="form-control" placeholder="[[ 'content.form.messages.SELECTENDDATE' | translate ]]" is-open="endDateOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-calendar"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="endDateToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionPrice" class="control-label">
                                        <span translate="content.list.fields.PRICE">Price</span>
                                    </label>
                                <div class="block select-list" ng-if="pricesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="subscription_price_readonly" ng-options="item.id as item.name for item in prices | filter:{ hidden : false }" ng-model="subscription.price" name="price" id="subscriptionPrice" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subscriptionPriceValue" class="control-label">
                                        <span translate="content.list.fields.PRICEVALUE">Price Value</span>
                                    </label>
                                        <input ng-model="subscription.price_value" type="text" name="priceValue" id="subscriptionPriceValue" class="form-control" placeholder="[[ 'content.form.messages.ENTERPRICEVALUE' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="subscriptionUserAgent" class="control-label">
                                        <span translate="content.list.fields.USERAGENT">User Agent</span>
                                    </label>
                                    <div class="note-editor">
                                        <div ckeditor="editorOptions" ready="onReadyEditor()"ng-model="subscription.user_agent" name="userAgent" id="subscriptionUserAgent" class="form-control" placeholder="[[ 'content.form.messages.ENTERUSERAGENT' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="false"></div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSUBSCRIPTIONS">Back to Subscriptions list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(subscriptionForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="subscriptionForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="subscriptions.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

