
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.USERS">Users</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="UserCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKUSERS">Back to Users list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDUSER">Add User</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(user)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITUSER">Edit User</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.USERDETAILS">User Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="user.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TYPE">Type</span></td>
                                <td>
                                    <span my-enum="[[ user.type ]]" my-enum-list="[[ types ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.USERNAME">Username</span></td>
                                <td>
                                    <div ng-bind-html="user.username"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PASSWORD">Password</span></td>
                                <td>
                                    <div ng-bind-html="user.password"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SALT">Salt</span></td>
                                <td>
                                    <div ng-bind-html="user.salt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONE">Phone</span></td>
                                <td>
                                    <div ng-bind-html="user.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="user.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GENDER">Gender</span></td>
                                <td>
                                    <span my-enum="[[ user.gender ]]" my-enum-list="[[ genders ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                                <td>
                                    <div ng-bind-html="user.first_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                                <td>
                                    <div ng-bind-html="user.last_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="user.picture != '' && user.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + user.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                                <td>
                                    <div ng-bind-html="user.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                                <td>
                                    <div ng-bind-html="user.zip_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COMPANYNAME">Company Name</span></td>
                                <td>
                                    <div ng-bind-html="user.company_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.JOB">Job</span></td>
                                <td>
                                    <div ng-bind-html="user.job"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: user.country.id})">[[ user.country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LANGUAGE">Language</span></td>
                                <td><a ui-sref="app.settings.languagesdetails({id: user.language.id})">[[ user.language.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PROFILE">Profile</span></td>
                                <td>
                                    <div ng-bind-html="user.profile"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ROLES">Roles</span></td>
                                <td>
                                    <div ng-bind-html="user.roles"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_SUPER_ADMIN') > -1" >
                                <td><span translate="content.list.fields.ENABLED">Enabled</span></td>
                                <td>
                                    <span my-boolean="[[ user.enabled ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_SUPER_ADMIN') > -1" >
                                <td><span translate="content.list.fields.LOCKED">Locked</span></td>
                                <td>
                                    <span my-boolean="[[ user.locked ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_SUPER_ADMIN') > -1" >
                                <td><span translate="content.list.fields.EXPIRED">Expired</span></td>
                                <td>
                                    <span my-boolean="[[ user.expired ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREDENTIALSEXPIRED">Credentials Expired</span></td>
                                <td>
                                    <span my-boolean="[[ user.credentials_expired ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ user.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: user.creator_user.id})">[[ user.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ user.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: user.modifier_user.id})">[[ user.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
