
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.CITIES">Cities</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="CityFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWCITY" ng-if="city.id == 0">
                        New City
                    </legend>
                    <legend translate="content.list.EDITCITY" ng-if="city.id > 0">
                        Edit City
                    </legend>
                    <form name="cityForm" id="cityForm" novalidate ng-submit="submitForm(cityForm)">
                        <input type="hidden" name="id" id="cityId" ng-model="city.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':cityForm.country.$dirty && cityForm.country.$invalid, 'has-success':cityForm.country.$valid}">
                                    <label for="cityCountry" class="control-label">
                                        <span translate="content.list.fields.COUNTRY">Country</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="countriesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="city_country_readonly" ng-options="item.id as item.name for item in countries | filter:{ hidden : false }" ng-model="city.country" name="country" id="cityCountry" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-globe"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="cityForm.country.$dirty && cityForm.country.$error.required" translate="content.form.messages.COUNTRYREQUIRED">Country is required.</span>
                                    <span class="success text-small block" ng-if="cityForm.country.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':cityForm.name.$dirty && cityForm.name.$invalid, 'has-success':cityForm.name.$valid}">
                                    <label for="cityName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="city.name" type="text" name="name" id="cityName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="city.name" my-resource-url="cities" my-current-id="[[ city.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="cityForm.name.$dirty && cityForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="cityForm.name.$dirty && cityForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="cityForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="cityNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="city.name_ar" type="text" name="nameAr" id="cityNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="cityNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="city.name_fr" type="text" name="nameFr" id="cityNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="city.published" type="checkbox" name="published" id="cityPublished" />
                                    <label for="cityPublished" translate="content.list.fields.PUBLISHED">Published</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKCITIES">Back to Cities list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(cityForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="cityForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="cities.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

