
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.COMMENTS">Comments</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="CommentCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKCOMMENTS">Back to Comments list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDCOMMENT">Add Comment</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(comment)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITCOMMENT">Edit Comment</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.COMMENTDETAILS">Comment Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="comment.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENTITY">Entity</span></td>
                                <td>
                                    <div ng-bind-html="comment.entity"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FOREIGNKEY">Foreign Key</span></td>
                                <td>
                                    <div ng-bind-html="comment.foreign_key"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PSEUDO">Pseudo</span></td>
                                <td>
                                    <div ng-bind-html="comment.pseudo"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AGE">Age</span></td>
                                <td>
                                    <div ng-bind-html="comment.age"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CITY">City</span></td>
                                <td><a ui-sref="app.settings.citiesdetails({id: comment.city.id})">[[ comment.city.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ICON">Icon</span></td>
                                <td>
                                    <div ng-bind-html="comment.icon"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUBJECT">Subject</span></td>
                                <td>
                                    <div ng-bind-html="comment.subject"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BODY">Body</span></td>
                                <td>
                                    <div ng-bind-html="comment.body"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ comment.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ comment.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: comment.creator_user.id})">[[ comment.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ comment.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: comment.modifier_user.id})">[[ comment.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
