
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.COMMENTS">Comments</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="CommentFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWCOMMENT" ng-if="comment.id == 0">
                        New Comment
                    </legend>
                    <legend translate="content.list.EDITCOMMENT" ng-if="comment.id > 0">
                        Edit Comment
                    </legend>
                    <form name="commentForm" id="commentForm" novalidate ng-submit="submitForm(commentForm)">
                        <input type="hidden" name="id" id="commentId" ng-model="comment.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.entity.$dirty && commentForm.entity.$invalid, 'has-success':commentForm.entity.$valid}">
                                    <label for="commentEntity" class="control-label">
                                        <span translate="content.list.fields.ENTITY">Entity</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.entity" type="text" name="entity" id="commentEntity" class="form-control" placeholder="[[ 'content.form.messages.ENTERENTITY' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.entity.$dirty && commentForm.entity.$error.required" translate="content.form.messages.ENTITYREQUIRED">Entity is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.entity.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.foreignKey.$dirty && commentForm.foreignKey.$invalid, 'has-success':commentForm.foreignKey.$valid}">
                                    <label for="commentForeignKey" class="control-label">
                                        <span translate="content.list.fields.FOREIGNKEY">Foreign Key</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.foreign_key" type="text" name="foreignKey" id="commentForeignKey" class="form-control" placeholder="[[ 'content.form.messages.ENTERFOREIGNKEY' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.foreignKey.$dirty && commentForm.foreignKey.$error.required" translate="content.form.messages.FOREIGNKEYREQUIRED">Foreign Key is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.foreignKey.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.pseudo.$dirty && commentForm.pseudo.$invalid, 'has-success':commentForm.pseudo.$valid}">
                                    <label for="commentPseudo" class="control-label">
                                        <span translate="content.list.fields.PSEUDO">Pseudo</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.pseudo" type="text" name="pseudo" id="commentPseudo" class="form-control" placeholder="[[ 'content.form.messages.ENTERPSEUDO' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.pseudo.$dirty && commentForm.pseudo.$error.required" translate="content.form.messages.PSEUDOREQUIRED">Pseudo is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.pseudo.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.age.$dirty && commentForm.age.$invalid, 'has-success':commentForm.age.$valid}">
                                    <label for="commentAge" class="control-label">
                                        <span translate="content.list.fields.AGE">Age</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.age" type="text" name="age" id="commentAge" class="form-control" placeholder="[[ 'content.form.messages.ENTERAGE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.age.$dirty && commentForm.age.$error.required" translate="content.form.messages.AGEREQUIRED">Age is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.age.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="commentCity" class="control-label">
                                        <span translate="content.list.fields.CITY">City</span>
                                    </label>
                                <div class="block select-list" ng-if="citiesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="comment_city_readonly" ng-options="item.id as item.name for item in cities | filter:{ hidden : false }" ng-model="comment.city" name="city" id="commentCity" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-direction"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.icon.$dirty && commentForm.icon.$invalid, 'has-success':commentForm.icon.$valid}">
                                    <label for="commentIcon" class="control-label">
                                        <span translate="content.list.fields.ICON">Icon</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.icon" type="text" name="icon" id="commentIcon" class="form-control" placeholder="[[ 'content.form.messages.ENTERICON' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.icon.$dirty && commentForm.icon.$error.required" translate="content.form.messages.ICONREQUIRED">Icon is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.icon.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':commentForm.subject.$dirty && commentForm.subject.$invalid, 'has-success':commentForm.subject.$valid}">
                                    <label for="commentSubject" class="control-label">
                                        <span translate="content.list.fields.SUBJECT">Subject</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="comment.subject" type="text" name="subject" id="commentSubject" class="form-control" placeholder="[[ 'content.form.messages.ENTERSUBJECT' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="commentForm.subject.$dirty && commentForm.subject.$error.required" translate="content.form.messages.SUBJECTREQUIRED">Subject is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.subject.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-12">

                                <div class="form-group" ng-class="{'has-error':commentForm.body.$dirty && commentForm.body.$invalid, 'has-success':commentForm.body.$valid}">
                                    <label for="commentBody" class="control-label">
                                        <span translate="content.list.fields.BODY">Body</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="note-editor">
                                        <div ckeditor="editorOptions" ready="onReadyEditor()"ng-model="comment.body" name="body" id="commentBody" class="form-control" placeholder="[[ 'content.form.messages.ENTERBODY' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="true"></div>
                                    </div>
                                    <span class="error text-small block" ng-if="commentForm.body.$dirty && commentForm.body.$error.required" translate="content.form.messages.BODYREQUIRED">Body is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.body.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':commentForm.status.$dirty && commentForm.status.$invalid, 'has-success':commentForm.status.$valid}">
                                    <label for="commentStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="comment.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="comment.status" name="status" id="commentStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="commentForm.status.$dirty && commentForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="commentForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKCOMMENTS">Back to Comments list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(commentForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="commentForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="comments.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

