
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BANNERS">Banners</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BannerFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWBANNER" ng-if="banner.id == 0">
                        New Banner
                    </legend>
                    <legend translate="content.list.EDITBANNER" ng-if="banner.id > 0">
                        Edit Banner
                    </legend>
                    <form name="bannerForm" id="bannerForm" novalidate ng-submit="submitForm(bannerForm)">
                        <input type="hidden" name="id" id="bannerId" ng-model="banner.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bannerForm.bannerType.$dirty && bannerForm.bannerType.$invalid, 'has-success':bannerForm.bannerType.$valid}">
                                    <label for="bannerBannerType" class="control-label">
                                        <span translate="content.list.fields.BANNERTYPE">Banner Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="bannerTypesLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="banner_banner_type_readonly" ng-options="item.id as item.name for item in bannerTypes | filter:{ hidden : false }" ng-model="banner.banner_type" name="bannerType" id="bannerBannerType" class="form-control" ng-required="true">
                                            </select>
                                            <i class="fa fa-cog"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="bannerForm.bannerType.$dirty && bannerForm.bannerType.$error.required" translate="content.form.messages.BANNERTYPEREQUIRED">Banner Type is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.bannerType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bannerForm.name.$dirty && bannerForm.name.$invalid, 'has-success':bannerForm.name.$valid}">
                                    <label for="bannerName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.name" type="text" name="name" id="bannerName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerForm.name.$dirty && bannerForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="banner.picture" type="text" name="picture" id="bannerPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="banner.picture != '' && banner.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + banner.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="banner.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="banner.closable" type="checkbox" name="closable" id="bannerClosable" />
                                    <label for="bannerClosable" translate="content.list.fields.CLOSABLE">Closable</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerCountDown" class="control-label">
                                        <span translate="content.list.fields.COUNTDOWN">Count Down</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.count_down" type="text" name="countDown" id="bannerCountDown" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOUNTDOWN' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-arrow-down"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bannerForm.iphoneAction.$dirty && bannerForm.iphoneAction.$invalid, 'has-success':bannerForm.iphoneAction.$valid}">
                                    <label for="bannerIphoneAction" class="control-label">
                                        <span translate="content.list.fields.IPHONEACTION">Iphone Action</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.iphone_action" type="text" name="iphoneAction" id="bannerIphoneAction" class="form-control" placeholder="[[ 'content.form.messages.ENTERIPHONEACTION' | translate ]]" ng-required="true" />
                                        <i class="ti-apple"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerForm.iphoneAction.$dirty && bannerForm.iphoneAction.$error.required" translate="content.form.messages.IPHONEACTIONREQUIRED">Iphone Action is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.iphoneAction.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bannerForm.androidAction.$dirty && bannerForm.androidAction.$invalid, 'has-success':bannerForm.androidAction.$valid}">
                                    <label for="bannerAndroidAction" class="control-label">
                                        <span translate="content.list.fields.ANDROIDACTION">Android Action</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.android_action" type="text" name="androidAction" id="bannerAndroidAction" class="form-control" placeholder="[[ 'content.form.messages.ENTERANDROIDACTION' | translate ]]" ng-required="true" />
                                        <i class="ti-android"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerForm.androidAction.$dirty && bannerForm.androidAction.$error.required" translate="content.form.messages.ANDROIDACTIONREQUIRED">Android Action is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.androidAction.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bannerForm.webAction.$dirty && bannerForm.webAction.$invalid, 'has-success':bannerForm.webAction.$valid}">
                                    <label for="bannerWebAction" class="control-label">
                                        <span translate="content.list.fields.WEBACTION">Web Action</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.web_action" type="text" name="webAction" id="bannerWebAction" class="form-control" placeholder="[[ 'content.form.messages.ENTERWEBACTION' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerForm.webAction.$dirty && bannerForm.webAction.$error.required" translate="content.form.messages.WEBACTIONREQUIRED">Web Action is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.webAction.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerGender" class="control-label">
                                        <span translate="content.list.fields.GENDER">Gender</span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="genders.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="gender in genders" ng-model="banner.gender" type="radio" id="gender[[ gender.id ]]" value="[[ gender.id ]]" name="gender" ng-required="false" />
                                        <label ng-repeat-end for="gender[[ gender.id ]]">
                                            [[ gender.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="genders.length >= 10">
                                        <span class="input-icon">
                                            <select ng-disabled="false" ng-options="item.id as item.title for item in genders" ng-model="banner.gender" name="gender" id="bannerGender" class="form-control" ng-required="false">
                                            </select>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMinAge" class="control-label">
                                        <span translate="content.list.fields.MINAGE">Min Age</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.min_age" type="text" name="minAge" id="bannerMinAge" class="form-control" placeholder="[[ 'content.form.messages.ENTERMINAGE' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-birthday-cake"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMaxAge" class="control-label">
                                        <span translate="content.list.fields.MAXAGE">Max Age</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.max_age" type="text" name="maxAge" id="bannerMaxAge" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAXAGE' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-birthday-cake"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerPriority" class="control-label">
                                        <span translate="content.list.fields.PRIORITY">Priority</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.priority" type="text" name="priority" id="bannerPriority" class="form-control" placeholder="[[ 'content.form.messages.ENTERPRIORITY' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-exclamation"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerWebUrl" class="control-label">
                                        <span translate="content.list.fields.WEBURL">Web Url</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.web_url" type="text" name="webUrl" id="bannerWebUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERWEBURL' | translate ]]" ng-required="false" />
                                        <i class="ti-link"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerPhoneNumberToCall" class="control-label">
                                        <span translate="content.list.fields.PHONENUMBERTOCALL">Phone Number To Call</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.phone_number_to_call" type="text" name="phoneNumberToCall" id="bannerPhoneNumberToCall" class="form-control" placeholder="[[ 'content.form.messages.ENTERPHONENUMBERTOCALL' | translate ]]" ng-required="false" />
                                        <i class="fa fa-sort-numeric-asc "></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerSmsMobileNumber" class="control-label">
                                        <span translate="content.list.fields.SMSMOBILENUMBER">Sms Mobile Number</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.sms_mobile_number" type="text" name="smsMobileNumber" id="bannerSmsMobileNumber" class="form-control" placeholder="[[ 'content.form.messages.ENTERSMSMOBILENUMBER' | translate ]]" ng-required="false" />
                                        <i class="fa fa-sort-numeric-asc "></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerSmsBody" class="control-label">
                                        <span translate="content.list.fields.SMSBODY">Sms Body</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.sms_body" type="text" name="smsBody" id="bannerSmsBody" class="form-control" placeholder="[[ 'content.form.messages.ENTERSMSBODY' | translate ]]" ng-required="false" />
                                        <i class="fa fa-calculator"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerEmailAdress" class="control-label">
                                        <span translate="content.list.fields.EMAILADRESS">Email Adress</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.email_adress" type="text" name="emailAdress" id="bannerEmailAdress" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAILADRESS' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerEmailSubject" class="control-label">
                                        <span translate="content.list.fields.EMAILSUBJECT">Email Subject</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.email_subject" type="text" name="emailSubject" id="bannerEmailSubject" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAILSUBJECT' | translate ]]" ng-required="false" />
                                        <i class="fa fa-file-text-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerEmailBody" class="control-label">
                                        <span translate="content.list.fields.EMAILBODY">Email Body</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.email_body" type="text" name="emailBody" id="bannerEmailBody" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAILBODY' | translate ]]" ng-required="false" />
                                        <i class="fa fa-calculator"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerAndroidAppUrl" class="control-label">
                                        <span translate="content.list.fields.ANDROIDAPPURL">Android App Url</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.android_app_url" type="text" name="androidAppUrl" id="bannerAndroidAppUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERANDROIDAPPURL' | translate ]]" ng-required="false" />
                                        <i class="ti-android"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerIphoneAppUrl" class="control-label">
                                        <span translate="content.list.fields.IPHONEAPPURL">Iphone App Url</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.iphone_app_url" type="text" name="iphoneAppUrl" id="bannerIphoneAppUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERIPHONEAPPURL' | translate ]]" ng-required="false" />
                                        <i class="ti-apple"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerYoutubeUrl" class="control-label">
                                        <span translate="content.list.fields.YOUTUBEURL">Youtube Url</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.youtube_url" type="text" name="youtubeUrl" id="bannerYoutubeUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERYOUTUBEURL' | translate ]]" ng-required="false" />
                                        <i class="ti-youtube"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMapLatitude" class="control-label">
                                        <span translate="content.list.fields.MAPLATITUDE">Map Latitude</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.map_latitude" type="text" name="mapLatitude" id="bannerMapLatitude" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAPLATITUDE' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-map-marker"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMapLongitude" class="control-label">
                                        <span translate="content.list.fields.MAPLONGITUDE">Map Longitude</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.map_longitude" type="text" name="mapLongitude" id="bannerMapLongitude" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAPLONGITUDE' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-map-marker"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerScreen" class="control-label">
                                        <span translate="content.list.fields.SCREEN">Screen</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.screen" type="text" name="screen" id="bannerScreen" class="form-control" placeholder="[[ 'content.form.messages.ENTERSCREEN' | translate ]]" ng-required="false" />
                                        <i class="fa fa-tv"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerScreenParameters" class="control-label">
                                        <span translate="content.list.fields.SCREENPARAMETERS">Screen Parameters</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.screen_parameters" type="text" name="screenParameters" id="bannerScreenParameters" class="form-control" placeholder="[[ 'content.form.messages.ENTERSCREENPARAMETERS' | translate ]]" ng-required="false" />
                                        <i class="fa fa-cogs"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTotalHits" class="control-label">
                                        <span translate="content.list.fields.TOTALHITS">Total Hits</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.total_hits" type="text" name="totalHits" id="bannerTotalHits" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALHITS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-eye"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTodayHits" class="control-label">
                                        <span translate="content.list.fields.TODAYHITS">Today Hits</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.today_hits" type="text" name="todayHits" id="bannerTodayHits" class="form-control" placeholder="[[ 'content.form.messages.ENTERTODAYHITS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-calendar-check-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTotalClicks" class="control-label">
                                        <span translate="content.list.fields.TOTALCLICKS">Total Clicks</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.total_clicks" type="text" name="totalClicks" id="bannerTotalClicks" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALCLICKS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTodayClicks" class="control-label">
                                        <span translate="content.list.fields.TODAYCLICKS">Today Clicks</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.today_clicks" type="text" name="todayClicks" id="bannerTodayClicks" class="form-control" placeholder="[[ 'content.form.messages.ENTERTODAYCLICKS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-calendar-check-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTemplate" class="control-label">
                                        <span translate="content.list.fields.TEMPLATE">Template</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.template" type="text" name="template" id="bannerTemplate" class="form-control" placeholder="[[ 'content.form.messages.ENTERTEMPLATE' | translate ]]" ng-required="false" />
                                        <i class="ti-layout"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerAdText" class="control-label">
                                        <span translate="content.list.fields.ADTEXT">Ad Text</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.ad_text" type="text" name="adText" id="bannerAdText" class="form-control" placeholder="[[ 'content.form.messages.ENTERADTEXT' | translate ]]" ng-required="false" />
                                        <i class="ti-text"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerTextColor" class="control-label">
                                        <span translate="content.list.fields.TEXTCOLOR">Text Color</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.text_color" type="text" name="textColor" id="bannerTextColor" class="form-control" placeholder="[[ 'content.form.messages.ENTERTEXTCOLOR' | translate ]]" ng-required="false" colorpicker="hex" />
                                        <i class="ti-palette"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerBackgroundColor" class="control-label">
                                        <span translate="content.list.fields.BACKGROUNDCOLOR">Background Color</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.background_color" type="text" name="backgroundColor" id="bannerBackgroundColor" class="form-control" placeholder="[[ 'content.form.messages.ENTERBACKGROUNDCOLOR' | translate ]]" ng-required="false" colorpicker="hex" />
                                        <i class="ti-palette"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="banner.auto_publishing" type="checkbox" name="autoPublishing" id="bannerAutoPublishing" />
                                    <label for="bannerAutoPublishing" translate="content.list.fields.AUTOPUBLISHING">Auto Publishing</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerStartPublishing" class="control-label">
                                        <span translate="content.list.fields.STARTPUBLISHING">Start Publishing</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="banner.start_publishing" type="text" name="startPublishing" id="bannerStartPublishing" class="form-control" placeholder="[[ 'content.form.messages.SELECTSTARTPUBLISHING' | translate ]]" is-open="startPublishingOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-control-skip-forward"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="startPublishingToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerEndPublishing" class="control-label">
                                        <span translate="content.list.fields.ENDPUBLISHING">End Publishing</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="banner.end_publishing" type="text" name="endPublishing" id="bannerEndPublishing" class="form-control" placeholder="[[ 'content.form.messages.SELECTENDPUBLISHING' | translate ]]" is-open="endPublishingOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-control-skip-backward"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="endPublishingToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerStartPublishingTime" class="control-label">
                                        <span translate="content.list.fields.STARTPUBLISHINGTIME">Start Publishing Time</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.start_publishing_time" type="text" name="startPublishingTime" id="bannerStartPublishingTime" class="form-control" placeholder="[[ 'content.form.messages.ENTERSTARTPUBLISHINGTIME' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-alarm-clock"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerEndPublishingTime" class="control-label">
                                        <span translate="content.list.fields.ENDPUBLISHINGTIME">End Publishing Time</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.end_publishing_time" type="text" name="endPublishingTime" id="bannerEndPublishingTime" class="form-control" placeholder="[[ 'content.form.messages.ENTERENDPUBLISHINGTIME' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-alarm-clock"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMaxClicksPerDay" class="control-label">
                                        <span translate="content.list.fields.MAXCLICKSPERDAY">Max Clicks Per Day</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.max_clicks_per_day" type="text" name="maxClicksPerDay" id="bannerMaxClicksPerDay" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAXCLICKSPERDAY' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-calendar-check-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMaxTotalClicks" class="control-label">
                                        <span translate="content.list.fields.MAXTOTALCLICKS">Max Total Clicks</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.max_total_clicks" type="text" name="maxTotalClicks" id="bannerMaxTotalClicks" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAXTOTALCLICKS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMaxHitsPerDay" class="control-label">
                                        <span translate="content.list.fields.MAXHITSPERDAY">Max Hits Per Day</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.max_hits_per_day" type="text" name="maxHitsPerDay" id="bannerMaxHitsPerDay" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAXHITSPERDAY' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-calendar-check-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bannerMaxTotalHits" class="control-label">
                                        <span translate="content.list.fields.MAXTOTALHITS">Max Total Hits</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="banner.max_total_hits" type="text" name="maxTotalHits" id="bannerMaxTotalHits" class="form-control" placeholder="[[ 'content.form.messages.ENTERMAXTOTALHITS' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-eye"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':bannerForm.status.$dirty && bannerForm.status.$invalid, 'has-success':bannerForm.status.$valid}">
                                    <label for="bannerStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="banner.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <span class="input-icon">
                                            <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="banner.status" name="status" id="bannerStatus" class="form-control" ng-required="true">
                                            </select>
                                        </span>
                                    </div>
                                    <span class="error text-small block" ng-if="bannerForm.status.$dirty && bannerForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="bannerForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="bannerBannerPositions" class="control-label">
                                    <span translate="content.list.fields.BANNERPOSITIONS">Banner Positions</span>
                                    <span class="input-icon">
                                        <input placeholder="[[ 'content.form.messages.FILTERBANNERPOSITIONS' | translate ]]" type="text" ng-model="bannerPositionsSearchText" class="form-control pull-right input-sm underline" />
                                         <i class="ti-filter"></i>
                                     </span><!--/input-icon-->
                                </label>
                            </div><!--/col-md-12-->
                            <div class="col-md-3" ng-repeat="bannerPosition in bannerPositions | filter:bannerPositionsSearchText" ng-if="bannerPosition.id">
                                <div class="checkbox continuous-check check-primary">
                                    <input checklist-model="banner.banner_positions" checklist-value="bannerPosition.id" type="checkbox" name="bannerPosition[]" id="bannerBannerPosition[[bannerPosition.id]]" />
                                    <label for="bannerBannerPosition[[bannerPosition.id]]">[[ bannerPosition.name ]]</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-3-->
                            <div class="col-md-12">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="bannerBannerPositions" type="checkbox" id="bannerBannerPositions" />
                                    <label for="bannerBannerPositions" translate="content.common.SELECTALL">Select All</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBANNERS">Back to Banners list</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="banner.id > 0" type="button" ng-click="submitForm(bannerForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="bannerForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="fa fa-check-circle" ng-if="!disableSubmit"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(bannerForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="bannerForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="banners.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

