
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.USERS">Users</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="UserCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKUSERS">Back to Users list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDUSER">Add User</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(user)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITUSER">Edit User</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.USERDETAILS">User Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="user.id"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('SUP') > -1" >
                                <td><span translate="content.list.fields.TYPE">Type</span></td>
                                <td>
                                    <span my-enum="[[ user.type ]]" my-enum-list="[[ types ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.USERNAME">Username</span></td>
                                <td>
                                    <div ng-bind-html="user.username"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PASSWORD">Password</span></td>
                                <td>
                                    <div ng-bind-html="user.password"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SALT">Salt</span></td>
                                <td>
                                    <div ng-bind-html="user.salt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONE">Phone</span></td>
                                <td>
                                    <div ng-bind-html="user.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="user.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.USERNAMECANONICAL">Username Canonical</span></td>
                                <td>
                                    <div ng-bind-html="user.username_canonical"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAILCANONICAL">Email Canonical</span></td>
                                <td>
                                    <div ng-bind-html="user.email_canonical"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GENDER">Gender</span></td>
                                <td>
                                    <span my-enum="[[ user.gender ]]" my-enum-list="[[ genders ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                                <td>
                                    <div ng-bind-html="user.first_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                                <td>
                                    <div ng-bind-html="user.last_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHDATE">Birth Date</span></td>
                                <td>
                                    <span>[[ user.birth_date | date: dateFormat ]]</span>
                                    <span>([[ user.birth_date | age ]])</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="user.picture != '' && user.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + user.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                                <td>
                                    <div ng-bind-html="user.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                                <td>
                                    <div ng-bind-html="user.zip_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COMPANYNAME">Company Name</span></td>
                                <td>
                                    <div ng-bind-html="user.company_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.JOB">Job</span></td>
                                <td>
                                    <div ng-bind-html="user.job"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CITYNAME">City Name</span></td>
                                <td>
                                    <div ng-bind-html="user.city_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('countriesdetails')" ui-sref="app.systemsettings.countriesdetails({id: user.country.id})" ng-bind="user.country.name"></a>
                                    <span ng-if="!checkStatePermission('countriesdetails')" ng-bind="user.country.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LANGUAGE">Language</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('languagesdetails')" ui-sref="app.translation.languagesdetails({id: user.language.id})" ng-bind="user.language.name"></a>
                                    <span ng-if="!checkStatePermission('languagesdetails')" ng-bind="user.language.name"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEOAUTH">Enable Oauth</span></td>
                                <td>
                                    <span my-boolean="[[ user.enable_oauth ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SESSIONTIMEOUT">Session Timeout</span></td>
                                <td>
                                    <div ng-bind-html="user.session_timeout"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MULTIPLESESSION">Multiple Session</span></td>
                                <td>
                                    <span my-boolean="[[ user.multiple_session ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONEVALIDATED">Phone Validated</span></td>
                                <td>
                                    <span my-boolean="[[ user.phone_validated ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONEVALIDATIONCODE">Phone Validation Code</span></td>
                                <td>
                                    <div ng-bind-html="user.phone_validation_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAILVALIDATED">Email Validated</span></td>
                                <td>
                                    <span my-boolean="[[ user.email_validated ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAILVALIDATIONCODE">Email Validation Code</span></td>
                                <td>
                                    <div ng-bind-html="user.email_validation_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUTHENTICATIONMODE">Authentication Mode</span></td>
                                <td>
                                    <span my-enum="[[ user.authentication_mode ]]" my-enum-list="[[ authenticationModes ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ROLES">Roles</span></td>
                                <td>
                                    <div ng-bind-html="user.roles"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLED">Enabled</span></td>
                                <td>
                                    <span my-boolean="[[ user.enabled ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CONFIRMATIONTOKEN">Confirmation Token</span></td>
                                <td>
                                    <div ng-bind-html="user.confirmation_token"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PASSWORDREQUESTEDAT">Password Requested At</span></td>
                                <td>
                                    <span>[[ user.password_requested_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOCKED">Locked</span></td>
                                <td>
                                    <span my-boolean="[[ user.locked ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EXPIRED">Expired</span></td>
                                <td>
                                    <span my-boolean="[[ user.expired ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EXPIRESAT">Expires At</span></td>
                                <td>
                                    <span>[[ user.expires_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREDENTIALSEXPIRED">Credentials Expired</span></td>
                                <td>
                                    <span my-boolean="[[ user.credentials_expired ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREDENTIALSEXPIREAT">Credentials Expire At</span></td>
                                <td>
                                    <span>[[ user.credentials_expire_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTLOGIN">Last Login</span></td>
                                <td>
                                    <span>[[ user.last_login | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTFAILEDLOGIN">Last Failed Login</span></td>
                                <td>
                                    <span>[[ user.last_failed_login | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOGINCOUNT">Login Count</span></td>
                                <td>
                                    <div ng-bind-html="user.login_count"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAILEDLOGINCOUNT">Failed Login Count</span></td>
                                <td>
                                    <div ng-bind-html="user.failed_login_count"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTFAILEDLOGINCOUNT">Last Failed Login Count</span></td>
                                <td>
                                    <div ng-bind-html="user.last_failed_login_count"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.accesscontrol.usersdetails({id: user.creator_user.id})" ng-bind="user.creator_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="user.creator_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ user.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td>
                                    <a ng-if="checkStatePermission('usersdetails')" ui-sref="app.accesscontrol.usersdetails({id: user.modifier_user.id})" ng-bind="user.modifier_user.username"></a>
                                    <span ng-if="!checkStatePermission('usersdetails')" ng-bind="user.modifier_user.username"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ user.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
