<!-- start: EMAIL CONFIRM -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="logo text-center">
            <img src="/assets/images/big_logo.png" alt="[[app.name]]"/><!-- ng-src="[[app.layout.logo]]" -->
        </div>
        <div ng-controller="EmailConfirmCtrl">
            <h2 ng-if="status == 'progress'" class="text-center">
                <i class="fa fa-spinner fa-spin fa-2x text-primary block margin-bottom-10"></i>
                <span translate="emailconfirm.EMAILCONFIRMATIONINPROGRESS">Email confirmation in progress...</span>
            </h2>
            <h2 ng-if="status == 'success'" class="text-center">
                <i class="fa fa-check-circle-o fa-2x text-success block margin-bottom-10"></i>
                <span translate="emailconfirm.EMAILCONFIRMED">Email confrimed, your can access to your dashboard.</span>
            </h2>
            <div class="logo text-center">
                <a ng-if="authenticated" class="btn btn-primary btn-o " ui-sref="app.dashboard" translate="content.form.messages.GOTODASHBOARD" ng-if="authenticated">
                    Go to Dashboard
                </a>
            </div>
            <h2 ng-if="status == 'error'" class="text-center">
                <i class="fa fa-times-circle  fa-2x text-danger block margin-bottom-10"></i>
                <span translate="emailconfirm.EMAILNOTCONFIRMED">Invalid token or email already confirmed!</span>
            </h2>
            <h2 ng-if="status == 'warning'" class="text-center">
                <i class="fa fa-warning fa-2x text-warning block margin-bottom-10"></i>
                <span translate="emailconfirm.NOTOKEN">No token, please check url!</span>
            </h2>
        </div>
    </div>
</div>
<!-- end: EMAIL CONFIRM -->