<!-- start: LOCK SCREEN -->
<div class="row">
	<div class="lock-screen">
		<div class="logo text-center">
			<img src="/assets/images/big_logo.png" alt="[[app.name]]"/><!-- ng-src="[[app.layout.logo]]" -->
		</div>
		<div class="box-ls">
			<img style="max-width: 80%;" ng-src="[[ user.picture ]]" alt="[[ user.name ]]"  class="img-rounded" />
			<div class="user-info">
				<h4>[[ user.name ]]</h4>
				<span>[[ user.email ]]</span>
				<form ng-controller="LockScreenCtrl">
					<div class="alert alert-danger" ng-if="status == 'error'">
						<button data-ct-dismiss="alert" class="close">
							&times;
						</button>
						<span translate="login.ERROR">Incorrect Email or Password.</span>
					</div>
					<div class="input-group">
						<input type="text" placeholder="[[ 'content.form.messages.PASSWORDTOUNLOCK' | translate ]]" ng-model="password" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="submit()">
								<i class="fa fa-chevron-right"></i>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end: LOCK SCREEN -->