
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-blue">
    <div class="row">
        <div class="col-md-12 myBid-details" ng-controller="MyBidCtrl">
            <div>

                <h4 class="name" translate="content.list.BIDDETAILS">Bid Details</h4>
                <div class="table-responsive">
                    <table class="table table-striped">

                            <tr>
                                <th><span translate="content.list.fields.ID">Id</span></th>
                                <td>
                                    <div ng-bind-html="bid.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.TENDER">Tender</span></th>
                                <td>[[ bid.tender.title ]]</td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.SUPPLIER">Supplier</span></th>
                                <td>[[ bid.supplier.name ]]</td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.TITLE">Title</span></th>
                                <td>
                                    <div ng-bind-html="bid.title"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.SLUG">Slug</span></th>
                                <td>
                                    <div ng-bind-html="bid.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.REFERENCE">Reference</span></th>
                                <td>
                                    <div ng-bind-html="bid.reference"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.DESCRIPTION">Description</span></th>
                                <td>
                                    <div ng-bind-html="bid.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.STATUS">Status</span></th>
                                <td>
                                    <span my-enum="[[ bid.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.NOTE">Note</span></th>
                                <td>
                                    <div ng-bind-html="bid.note"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.TOTALCOST">Total Cost</span></th>
                                <td>
                                    <div ng-bind-html="bid.total_cost"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.ADDRESS">Address</span></th>
                                <td>
                                    <div ng-bind-html="bid.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.EMAIL">Email</span></th>
                                <td>
                                    <div ng-bind-html="bid.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.PHONE">Phone</span></th>
                                <td>
                                    <div ng-bind-html="bid.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ATTACHMENTFILES">Attachment Files</span></td>
                                <td>
                                    <div ng-if="bid.attachment_files != '' && bid.attachment_files != null">
                                        <ul class="list-group"><li class="list-group-item" ng-repeat="file in bid.attachment_files.split(',')"><a class="btn btn-wide btn-primary" target="_blank" href="[[ file ]]" alt=""><i class="ti-download"></i> [[ file ]]</a></li></ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.CREATEDAT">Created At</span></th>
                                <td>
                                    <span>[[ bid.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="content.list.fields.MODIFIEDAT">Modified At</span></th>
                                <td>
                                    <span>[[ bid.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                        <button ng-click="list()" class="btn btn-primary pull-left">
                            <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBIDS">Back to Bids list</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">

                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(bid)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITBID">Edit Bid</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
