
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PRIZEWINNERS">Prize Winners</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PrizeWinnerCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPRIZEWINNERS">Back to Prize Winners list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPRIZEWINNER">Add Prize Winner</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(prizeWinner)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPRIZEWINNER">Edit Prize Winner</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PRIZEWINNERDETAILS">Prize Winner Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="prizeWinner.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SPORTEVENT">Sport Event</span></td>
                                <td><a ui-sref="app.events.sporteventsdetails({id: prizeWinner.sport_event.id})">[[ prizeWinner.sport_event.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.YEAR">Year</span></td>
                                <td>
                                    <div ng-bind-html="prizeWinner.year"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMHOME">Team Home</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: prizeWinner.team_home.id})">[[ prizeWinner.team_home.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMAWAY">Team Away</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: prizeWinner.team_away.id})">[[ prizeWinner.team_away.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SCOREHOME">Score Home</span></td>
                                <td>
                                    <div ng-bind-html="prizeWinner.score_home"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SCOREAWAY">Score Away</span></td>
                                <td>
                                    <div ng-bind-html="prizeWinner.score_away"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: prizeWinner.country.id})">[[ prizeWinner.country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ prizeWinner.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: prizeWinner.creator_user.id})">[[ prizeWinner.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ prizeWinner.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: prizeWinner.modifier_user.id})">[[ prizeWinner.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
