
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.AUDIOS">Audios</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="AudioFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWAUDIO" ng-if="audio.id == 0">
                        New Audio
                    </legend>
                    <legend translate="content.list.EDITAUDIO" ng-if="audio.id > 0">
                        Edit Audio
                    </legend>
                    <form name="audioForm" id="audioForm" novalidate ng-submit="submitForm(audioForm)">
                        <input type="hidden" name="id" id="audioId" ng-model="audio.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':audioForm.audioType.$dirty && audioForm.audioType.$invalid, 'has-success':audioForm.audioType.$valid}">
                                    <label for="audioAudioType" class="control-label">
                                        <span translate="content.list.fields.AUDIOTYPE">Audio Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="audioTypesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="audio_audio_type_readonly" ng-options="item.id as item.name for item in audioTypes | filter:{ hidden : false }" ng-model="audio.audio_type" name="audioType" id="audioAudioType" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-sitemap"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="audioForm.audioType.$dirty && audioForm.audioType.$error.required" translate="content.form.messages.AUDIOTYPEREQUIRED">Audio Type is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.audioType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':audioForm.price.$dirty && audioForm.price.$invalid, 'has-success':audioForm.price.$valid}">
                                    <label for="audioPrice" class="control-label">
                                        <span translate="content.list.fields.PRICE">Price</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="pricesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="audio_price_readonly" ng-options="item.id as item.name for item in prices | filter:{ hidden : false }" ng-model="audio.price" name="price" id="audioPrice" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="audioForm.price.$dirty && audioForm.price.$error.required" translate="content.form.messages.PRICEREQUIRED">Price is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.price.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':audioForm.sharing.$dirty && audioForm.sharing.$invalid, 'has-success':audioForm.sharing.$valid}">
                                    <label for="audioSharing" class="control-label">
                                        <span translate="content.list.fields.SHARING">Sharing</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="sharingsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="audio_sharing_readonly" ng-options="item.id as item.name for item in sharings | filter:{ hidden : false }" ng-model="audio.sharing" name="sharing" id="audioSharing" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="audioForm.sharing.$dirty && audioForm.sharing.$error.required" translate="content.form.messages.SHARINGREQUIRED">Sharing is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.sharing.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':audioForm.name.$dirty && audioForm.name.$invalid, 'has-success':audioForm.name.$valid}">
                                    <label for="audioName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.name" type="text" name="name" id="audioName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="audioForm.name.$dirty && audioForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.name_ar" type="text" name="nameAr" id="audioNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.name_fr" type="text" name="nameFr" id="audioNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="audio.name" to="audio.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':audioForm.slug.$dirty && audioForm.slug.$invalid, 'has-success':audioForm.slug.$valid}">
                                    <label for="audioSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.slug" type="text" name="slug" id="audioSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="audioForm.slug.$dirty && audioForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="audio.name_ar" to="audio.slug_ar"></slug>
                                <div class="form-group">
                                    <label for="audioSlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.slug_ar" type="text" name="slugAr" id="audioSlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="audio.name_fr" to="audio.slug_fr"></slug>
                                <div class="form-group">
                                    <label for="audioSlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.slug_fr" type="text" name="slugFr" id="audioSlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioFile" class="control-label">
                                        <span translate="content.list.fields.FILE">File</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="audio.file" type="text" name="file" id="audioFile" class="form-control" placeholder="[[ 'content.form.messages.ENTERFILE' | translate ]]" ng-required="false" />
                                        <i class="ti-folder"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('file')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="audio.file != '' && audio.file != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + audio.file ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('file')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="audio.file = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioFileSize" class="control-label">
                                        <span translate="content.list.fields.FILESIZE">File Size</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.file_size" type="text" name="fileSize" id="audioFileSize" class="form-control" placeholder="[[ 'content.form.messages.ENTERFILESIZE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-folder"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="audioDescription" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTION">Description</span>
                                    </label>
                                    <div class="note-editor">
                                        <div ckeditor="editorOptions" ready="onReadyEditor()"ng-model="audio.description" name="description" id="audioDescription" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTION' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="false"></div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioDescriptionAr" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTIONAR">Description Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.description_ar" type="text" name="descriptionAr" id="audioDescriptionAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTIONAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioDescriptionFr" class="control-label">
                                        <span translate="content.list.fields.DESCRIPTIONFR">Description Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.description_fr" type="text" name="descriptionFr" id="audioDescriptionFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERDESCRIPTIONFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioAlbum" class="control-label">
                                        <span translate="content.list.fields.ALBUM">Album</span>
                                    </label>
                                <div class="block select-list" ng-if="albumsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="audio_album_readonly" ng-options="item.id as item.name for item in albums | filter:{ hidden : false }" ng-model="audio.album" name="album" id="audioAlbum" class="form-control" ng-required="false">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioDuration" class="control-label">
                                        <span translate="content.list.fields.DURATION">Duration</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.duration" type="text" name="duration" id="audioDuration" class="form-control" placeholder="[[ 'content.form.messages.ENTERDURATION' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-timer"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audio.remote_source" type="checkbox" name="remoteSource" id="audioRemoteSource" />
                                    <label for="audioRemoteSource" translate="content.list.fields.REMOTESOURCE">Remote Source</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioUrl" class="control-label">
                                        <span translate="content.list.fields.URL">Url</span>
                                    </label>
                                    <div class="note-editor">
                                        <span class="input-icon">
                                            <textarea ng-model="audio.url" name="url" id="audioUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERURL' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="false"></textarea>
                                            <i class="ti-link"></i>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioAlternativeUrl" class="control-label">
                                        <span translate="content.list.fields.ALTERNATIVEURL">Alternative Url</span>
                                    </label>
                                    <div class="note-editor">
                                        <span class="input-icon">
                                            <textarea ng-model="audio.alternative_url" name="alternativeUrl" id="audioAlternativeUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERALTERNATIVEURL' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="false"></textarea>
                                            <i class="ti-link"></i>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioCopyright" class="control-label">
                                        <span translate="content.list.fields.COPYRIGHT">Copyright</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.copyright" type="text" name="copyright" id="audioCopyright" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOPYRIGHT' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audio.is_top" type="checkbox" name="isTop" id="audioIsTop" />
                                    <label for="audioIsTop" translate="content.list.fields.ISTOP">Is Top</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audio.is_new" type="checkbox" name="isNew" id="audioIsNew" />
                                    <label for="audioIsNew" translate="content.list.fields.ISNEW">Is New</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':audioForm.status.$dirty && audioForm.status.$invalid, 'has-success':audioForm.status.$valid}">
                                    <label for="audioStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="audio.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="audio.status" name="status" id="audioStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="audioForm.status.$dirty && audioForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="audioForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalPreviewed" class="control-label">
                                        <span translate="content.list.fields.TOTALPREVIEWED">Total Previewed</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_previewed" type="text" name="totalPreviewed" id="audioTotalPreviewed" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALPREVIEWED' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalDownloads" class="control-label">
                                        <span translate="content.list.fields.TOTALDOWNLOADS">Total Downloads</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_downloads" type="text" name="totalDownloads" id="audioTotalDownloads" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALDOWNLOADS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalHits" class="control-label">
                                        <span translate="content.list.fields.TOTALHITS">Total Hits</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_hits" type="text" name="totalHits" id="audioTotalHits" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALHITS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalComments" class="control-label">
                                        <span translate="content.list.fields.TOTALCOMMENTS">Total Comments</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_comments" type="text" name="totalComments" id="audioTotalComments" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALCOMMENTS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalRatings" class="control-label">
                                        <span translate="content.list.fields.TOTALRATINGS">Total Ratings</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_ratings" type="text" name="totalRatings" id="audioTotalRatings" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALRATINGS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioAverageRatings" class="control-label">
                                        <span translate="content.list.fields.AVERAGERATINGS">Average Ratings</span>
                                    </label>
                                        <input ng-model="audio.average_ratings" type="text" name="averageRatings" id="audioAverageRatings" class="form-control" placeholder="[[ 'content.form.messages.ENTERAVERAGERATINGS' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalLikes" class="control-label">
                                        <span translate="content.list.fields.TOTALLIKES">Total Likes</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_likes" type="text" name="totalLikes" id="audioTotalLikes" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALLIKES' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalDislikes" class="control-label">
                                        <span translate="content.list.fields.TOTALDISLIKES">Total Dislikes</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_dislikes" type="text" name="totalDislikes" id="audioTotalDislikes" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALDISLIKES' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioTotalBookmarks" class="control-label">
                                        <span translate="content.list.fields.TOTALBOOKMARKS">Total Bookmarks</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="audio.total_bookmarks" type="text" name="totalBookmarks" id="audioTotalBookmarks" class="form-control" placeholder="[[ 'content.form.messages.ENTERTOTALBOOKMARKS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-bar-chart"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audio.enable_streaming" type="checkbox" name="enableStreaming" id="audioEnableStreaming" />
                                    <label for="audioEnableStreaming" translate="content.list.fields.ENABLESTREAMING">Enable Streaming</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audio.auto_publishing" type="checkbox" name="autoPublishing" id="audioAutoPublishing" />
                                    <label for="audioAutoPublishing" translate="content.list.fields.AUTOPUBLISHING">Auto Publishing</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioStartPublishing" class="control-label">
                                        <span translate="content.list.fields.STARTPUBLISHING">Start Publishing</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="audio.start_publishing" type="text" name="startPublishing" id="audioStartPublishing" class="form-control" placeholder="[[ 'content.form.messages.SELECTSTARTPUBLISHING' | translate ]]" is-open="startPublishingOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-control-skip-forward"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="startPublishingToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="audioEndPublishing" class="control-label">
                                        <span translate="content.list.fields.ENDPUBLISHING">End Publishing</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-icon">
                                            <input ng-model="audio.end_publishing" type="text" name="endPublishing" id="audioEndPublishing" class="form-control" placeholder="[[ 'content.form.messages.SELECTENDPUBLISHING' | translate ]]" is-open="endPublishingOpened" uib-datepicker-popup="[[dateTimeFormat]]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="[[ 'content.common.CLOSE' | translate ]]" current-text="[[ 'content.common.CURRENT' | translate ]]" clear-text="[[ 'content.common.CLEAR' | translate ]]" time-text="[[ 'content.common.TIME' | translate ]]" date-text="[[ 'content.common.DATE' | translate ]]" ng-required="false" />
                                            <i class="ti-control-skip-backward"></i>
                                        </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="endPublishingToggle($event)">
                                            <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="audioAudioCategories" class="control-label">
                                    <span translate="content.list.fields.AUDIOCATEGORIES">Audio Categories</span>
                                    <input type="text" ng-model="audioCategoriesSearchText" class="form-control underline" />
                                </label>
                            </div><!--/col-md-12-->
                            <div class="col-md-3" ng-repeat="audioCategory in audioCategories | filter:audioCategoriesSearchText" ng-if="audioCategory.id">
                                <div class="checkbox continuous-check check-primary">
                                    <input checklist-model="audio.audio_categories" checklist-value="audioCategory.id" type="checkbox" name="audioCategory[]" id="audioAudioCategory[[audioCategory.id]]" />
                                    <label for="audioAudioCategory[[audioCategory.id]]">[[ audioCategory.name ]]</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-3-->
                            <div class="col-md-12">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="audioAudioCategories" type="checkbox" id="audioAudioCategories" />
                                    <label for="audioAudioCategories" translate="content.common.SELECTALL">Select All</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKAUDIOS">Back to Audios list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(audioForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="audioForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="audios.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

