
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.AUDIOS">Audios</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="AudioCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKAUDIOS">Back to Audios list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDAUDIO">Add Audio</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(audio)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITAUDIO">Edit Audio</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.AUDIODETAILS">Audio Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="audio.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUDIOTYPE">Audio Type</span></td>
                                <td><a ui-sref="app.webradio.audiotypesdetails({id: audio.audio_type.id})">[[ audio.audio_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRICE">Price</span></td>
                                <td><a ui-sref="app.offer.pricesdetails({id: audio.price.id})">[[ audio.price.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SHARING">Sharing</span></td>
                                <td><a ui-sref="app.offer.sharingsdetails({id: audio.sharing.id})">[[ audio.sharing.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="audio.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="audio.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="audio.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="audio.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="audio.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="audio.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FILE">File</span></td>
                                <td>
                                    <div ng-if="audio.file != '' && audio.file != null">
                                        <a class="btn btn-wide btn-primary" target="_blank" href="[[ audio.file ]]" alt=""><i class="ti-download"></i> [[audio.file]]</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FILESIZE">File Size</span></td>
                                <td>
                                    <div ng-if="audio.file_size != '' && audio.file_size != null">
                                        <a class="btn btn-wide btn-primary" target="_blank" href="[[ audio.file_size ]]" alt=""><i class="ti-download"></i> [[audio.file_size]]</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="audio.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONAR">Description Ar</span></td>
                                <td>
                                    <div ng-bind-html="audio.description_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTIONFR">Description Fr</span></td>
                                <td>
                                    <div ng-bind-html="audio.description_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALBUM">Album</span></td>
                                <td><a ui-sref="app.webradio.albumsdetails({id: audio.album.id})">[[ audio.album.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DURATION">Duration</span></td>
                                <td>
                                    <div ng-bind-html="audio.duration"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REMOTESOURCE">Remote Source</span></td>
                                <td>
                                    <span my-boolean="[[ audio.remote_source ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.URL">Url</span></td>
                                <td>
                                    <div ng-bind-html="audio.url"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALTERNATIVEURL">Alternative Url</span></td>
                                <td>
                                    <div ng-bind-html="audio.alternative_url"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COPYRIGHT">Copyright</span></td>
                                <td>
                                    <div ng-bind-html="audio.copyright"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISTOP">Is Top</span></td>
                                <td>
                                    <span my-boolean="[[ audio.is_top ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISNEW">Is New</span></td>
                                <td>
                                    <span my-boolean="[[ audio.is_new ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ audio.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALPREVIEWED">Total Previewed</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_previewed"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALDOWNLOADS">Total Downloads</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_downloads"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALHITS">Total Hits</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_hits"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALCOMMENTS">Total Comments</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_comments"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALRATINGS">Total Ratings</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_ratings"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AVERAGERATINGS">Average Ratings</span></td>
                                <td>
                                    <div ng-bind-html="audio.average_ratings"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALLIKES">Total Likes</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_likes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALDISLIKES">Total Dislikes</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_dislikes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALBOOKMARKS">Total Bookmarks</span></td>
                                <td>
                                    <div ng-bind-html="audio.total_bookmarks"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESTREAMING">Enable Streaming</span></td>
                                <td>
                                    <span my-boolean="[[ audio.enable_streaming ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUTOPUBLISHING">Auto Publishing</span></td>
                                <td>
                                    <span my-boolean="[[ audio.auto_publishing ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTPUBLISHING">Start Publishing</span></td>
                                <td>
                                    <span>[[ audio.start_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENDPUBLISHING">End Publishing</span></td>
                                <td>
                                    <span>[[ audio.end_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ audio.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: audio.creator_user.id})">[[ audio.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ audio.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: audio.modifier_user.id})">[[ audio.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUDIOCATEGORIES">Audio Categories</span></td>
                                <td>
                                    <a ng-repeat="audioCategory in audio.audio_categories" ui-sref="app.webradio.audiocategoriesdetails({id: audioCategory.id})">[[ audioCategory.name ]]</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
