
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PLAYERS">Players</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PlayerCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPLAYERS">Back to Players list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPLAYER">Add Player</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(player)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPLAYER">Edit Player</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PLAYERDETAILS">Player Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="player.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="player.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.POSITION">Position</span></td>
                                <td>
                                    <span my-enum="[[ player.position ]]" my-enum-list="[[ positions ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="player.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="player.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="player.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="player.picture != '' && player.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + player.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAME">First Name</span></td>
                                <td>
                                    <div ng-bind-html="player.first_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAMEAR">First Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="player.first_name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTNAMEFR">First Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="player.first_name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAME">Last Name</span></td>
                                <td>
                                    <div ng-bind-html="player.last_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAMEAR">Last Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="player.last_name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTNAMEFR">Last Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="player.last_name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHDATE">Birth Date</span></td>
                                <td>
                                    <span>[[ player.birth_date | date: dateFormat ]]</span>
                                    <span>([[ player.birth_date | age ]])</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHPLACE">Birth Place</span></td>
                                <td>
                                    <div ng-bind-html="player.birth_place"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHPLACEAR">Birth Place Ar</span></td>
                                <td>
                                    <div ng-bind-html="player.birth_place_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHPLACEFR">Birth Place Fr</span></td>
                                <td>
                                    <div ng-bind-html="player.birth_place_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BIRTHCOUNTRY">Birth Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: player.birth_country.id})">[[ player.birth_country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NATIONALITYCOUNTRY">Nationality Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: player.nationality_country.id})">[[ player.nationality_country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.HEIGHT">Height</span></td>
                                <td>
                                    <div ng-bind-html="player.height"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WEIGHT">Weight</span></td>
                                <td>
                                    <div ng-bind-html="player.weight"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SHOESIZE">Shoe Size</span></td>
                                <td>
                                    <div ng-bind-html="player.shoe_size"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WRITINGHAND">Writing Hand</span></td>
                                <td>
                                    <span my-enum="[[ player.writing_hand ]]" my-enum-list="[[ writingHands ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STRONGERFOOT">Stronger Foot</span></td>
                                <td>
                                    <span my-enum="[[ player.stronger_foot ]]" my-enum-list="[[ strongerFoots ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MARITALSTATUS">Marital Status</span></td>
                                <td>
                                    <span my-enum="[[ player.marital_status ]]" my-enum-list="[[ maritalStatuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WIVESNAMES">Wives Names</span></td>
                                <td>
                                    <div ng-bind-html="player.wives_names"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SONSNAMES">Sons Names</span></td>
                                <td>
                                    <div ng-bind-html="player.sons_names"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DAUGHTERSNAMES">Daughters Names</span></td>
                                <td>
                                    <div ng-bind-html="player.daughters_names"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FATHERNAME">Father Name</span></td>
                                <td>
                                    <div ng-bind-html="player.father_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MOTHERNAME">Mother Name</span></td>
                                <td>
                                    <div ng-bind-html="player.mother_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BROTHERSNAMES">Brothers Names</span></td>
                                <td>
                                    <div ng-bind-html="player.brothers_names"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SISTERSNAMES">Sisters Names</span></td>
                                <td>
                                    <div ng-bind-html="player.sisters_names"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EDUCATION">Education</span></td>
                                <td>
                                    <div ng-bind-html="player.education"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PERSONALATTRIBUTES">Personal Attributes</span></td>
                                <td>
                                    <div ng-bind-html="player.personal_attributes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.HOBBIES">Hobbies</span></td>
                                <td>
                                    <div ng-bind-html="player.hobbies"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAVOURITEFOOD">Favourite Food</span></td>
                                <td>
                                    <div ng-bind-html="player.favourite_food"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAVOURITEDRINK">Favourite Drink</span></td>
                                <td>
                                    <div ng-bind-html="player.favourite_drink"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTREPLICAKIT">First Replica Kit</span></td>
                                <td>
                                    <div ng-bind-html="player.first_replica_kit"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TVSHOWRARELYMISS">Tv Show Rarely Miss</span></td>
                                <td>
                                    <div ng-bind-html="player.tv_show_rarely_miss"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMCLUB">Team Club</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: player.team_club.id})">[[ player.team_club.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMCLUBNUMBER">Team Club Number</span></td>
                                <td>
                                    <div ng-bind-html="player.team_club_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMNATIONAL">Team National</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: player.team_national.id})">[[ player.team_national.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMNATIONALNUMBER">Team National Number</span></td>
                                <td>
                                    <div ng-bind-html="player.team_national_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PERSONALBIOGRAPHY">Personal Biography</span></td>
                                <td>
                                    <div ng-bind-html="player.personal_biography"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TECHNICALPROFILE">Technical Profile</span></td>
                                <td>
                                    <div ng-bind-html="player.technical_profile"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FACEBOOK">Facebook</span></td>
                                <td>
                                    <div ng-bind-html="player.facebook"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TWITTER">Twitter</span></td>
                                <td>
                                    <div ng-bind-html="player.twitter"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WEBSITE">Website</span></td>
                                <td>
                                    <div ng-bind-html="player.website"></div>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ player.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EUROSPORT">Eurosport</span></td>
                                <td>
                                    <div ng-bind-html="player.eurosport"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LEQUIPE">Lequipe</span></td>
                                <td>
                                    <div ng-bind-html="player.lequipe"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ player.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: player.creator_user.id})">[[ player.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ player.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: player.modifier_user.id})">[[ player.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
