
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PLAYERSTATS">Player Stats</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PlayerStatCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPLAYERSTATS">Back to Player Stats list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPLAYERSTAT">Add Player Stat</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(playerStat)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPLAYERSTAT">Edit Player Stat</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PLAYERSTATDETAILS">Player Stat Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYER">Player</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: playerStat.player.id})">[[ playerStat.player.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SEASON">Season</span></td>
                                <td><a ui-sref="app.events.seasonsdetails({id: playerStat.season.id})">[[ playerStat.season.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GOALS">Goals</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.goals"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ASSISTS">Assists</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.assists"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MATCHES">Matches</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.matches"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WINS">Wins</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.wins"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOSTS">Losts</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.losts"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MINUTES">Minutes</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.minutes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTER">Starter</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.starter"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUBSTITUE">Substitue</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.substitue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAULTSMADE">Faults Made</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.faults_made"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAULTSRECEIVED">Faults Received</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.faults_received"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.YELLOWCARDS">Yellow Cards</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.yellow_cards"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.REDCARDS">Red Cards</span></td>
                                <td>
                                    <div ng-bind-html="playerStat.red_cards"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ playerStat.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: playerStat.creator_user.id})">[[ playerStat.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ playerStat.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: playerStat.modifier_user.id})">[[ playerStat.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
