
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PLAYERSTATS">Player Stats</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PlayerStatFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWPLAYERSTAT" ng-if="playerStat.id == 0">
                        New Player Stat
                    </legend>
                    <legend translate="content.list.EDITPLAYERSTAT" ng-if="playerStat.id > 0">
                        Edit Player Stat
                    </legend>
                    <form name="playerStatForm" id="playerStatForm" novalidate ng-submit="submitForm(playerStatForm)">
                        <input type="hidden" name="id" id="playerStatId" ng-model="playerStat.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':playerStatForm.player.$dirty && playerStatForm.player.$invalid, 'has-success':playerStatForm.player.$valid}">
                                    <label for="playerStatPlayer" class="control-label">
                                        <span translate="content.list.fields.PLAYER">Player</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="playersLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="player_stat_player_readonly" ng-options="item.id as item.name for item in players | filter:{ hidden : false }" ng-model="playerStat.player" name="player" id="playerStatPlayer" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-user"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="playerStatForm.player.$dirty && playerStatForm.player.$error.required" translate="content.form.messages.PLAYERREQUIRED">Player is required.</span>
                                    <span class="success text-small block" ng-if="playerStatForm.player.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':playerStatForm.season.$dirty && playerStatForm.season.$invalid, 'has-success':playerStatForm.season.$valid}">
                                    <label for="playerStatSeason" class="control-label">
                                        <span translate="content.list.fields.SEASON">Season</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="seasonsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="player_stat_season_readonly" ng-options="item.id as item.name for item in seasons | filter:{ hidden : false }" ng-model="playerStat.season" name="season" id="playerStatSeason" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="playerStatForm.season.$dirty && playerStatForm.season.$error.required" translate="content.form.messages.SEASONREQUIRED">Season is required.</span>
                                    <span class="success text-small block" ng-if="playerStatForm.season.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatGoals" class="control-label">
                                        <span translate="content.list.fields.GOALS">Goals</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.goals" type="text" name="goals" id="playerStatGoals" class="form-control" placeholder="[[ 'content.form.messages.ENTERGOALS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatAssists" class="control-label">
                                        <span translate="content.list.fields.ASSISTS">Assists</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.assists" type="text" name="assists" id="playerStatAssists" class="form-control" placeholder="[[ 'content.form.messages.ENTERASSISTS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatMatches" class="control-label">
                                        <span translate="content.list.fields.MATCHES">Matches</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.matches" type="text" name="matches" id="playerStatMatches" class="form-control" placeholder="[[ 'content.form.messages.ENTERMATCHES' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-futbol-o"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatWins" class="control-label">
                                        <span translate="content.list.fields.WINS">Wins</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.wins" type="text" name="wins" id="playerStatWins" class="form-control" placeholder="[[ 'content.form.messages.ENTERWINS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatLosts" class="control-label">
                                        <span translate="content.list.fields.LOSTS">Losts</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.losts" type="text" name="losts" id="playerStatLosts" class="form-control" placeholder="[[ 'content.form.messages.ENTERLOSTS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatMinutes" class="control-label">
                                        <span translate="content.list.fields.MINUTES">Minutes</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.minutes" type="text" name="minutes" id="playerStatMinutes" class="form-control" placeholder="[[ 'content.form.messages.ENTERMINUTES' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatStarter" class="control-label">
                                        <span translate="content.list.fields.STARTER">Starter</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.starter" type="text" name="starter" id="playerStatStarter" class="form-control" placeholder="[[ 'content.form.messages.ENTERSTARTER' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-control-skip-forward"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatSubstitue" class="control-label">
                                        <span translate="content.list.fields.SUBSTITUE">Substitue</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.substitue" type="text" name="substitue" id="playerStatSubstitue" class="form-control" placeholder="[[ 'content.form.messages.ENTERSUBSTITUE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatFaultsMade" class="control-label">
                                        <span translate="content.list.fields.FAULTSMADE">Faults Made</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.faults_made" type="text" name="faultsMade" id="playerStatFaultsMade" class="form-control" placeholder="[[ 'content.form.messages.ENTERFAULTSMADE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatFaultsReceived" class="control-label">
                                        <span translate="content.list.fields.FAULTSRECEIVED">Faults Received</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.faults_received" type="text" name="faultsReceived" id="playerStatFaultsReceived" class="form-control" placeholder="[[ 'content.form.messages.ENTERFAULTSRECEIVED' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatYellowCards" class="control-label">
                                        <span translate="content.list.fields.YELLOWCARDS">Yellow Cards</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.yellow_cards" type="text" name="yellowCards" id="playerStatYellowCards" class="form-control" placeholder="[[ 'content.form.messages.ENTERYELLOWCARDS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="playerStatRedCards" class="control-label">
                                        <span translate="content.list.fields.REDCARDS">Red Cards</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="playerStat.red_cards" type="text" name="redCards" id="playerStatRedCards" class="form-control" placeholder="[[ 'content.form.messages.ENTERREDCARDS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPLAYERSTATS">Back to Player Stats list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(playerStatForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="playerStatForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="playerStats.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

