
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.HITS">Hits</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="HitFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWHIT" ng-if="hit.id == 0">
                        New Hit
                    </legend>
                    <legend translate="content.list.EDITHIT" ng-if="hit.id > 0">
                        Edit Hit
                    </legend>
                    <form name="hitForm" id="hitForm" novalidate ng-submit="submitForm(hitForm)">
                        <input type="hidden" name="id" id="hitId" ng-model="hit.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':hitForm.visit.$dirty && hitForm.visit.$invalid, 'has-success':hitForm.visit.$valid}">
                                    <label for="hitVisit" class="control-label">
                                        <span translate="content.list.fields.VISIT">Visit</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="visitsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="hit_visit_readonly" ng-options="item.id as item.ip for item in visits | filter:{ hidden : false }" ng-model="hit.visit" name="visit" id="hitVisit" class="form-control" ng-required="true">
                                            </select>
                                            <i class="ti-marker-alt"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="hitForm.visit.$dirty && hitForm.visit.$error.required" translate="content.form.messages.VISITREQUIRED">Visit is required.</span>
                                    <span class="success text-small block" ng-if="hitForm.visit.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':hitForm.entity.$dirty && hitForm.entity.$invalid, 'has-success':hitForm.entity.$valid}">
                                    <label for="hitEntity" class="control-label">
                                        <span translate="content.list.fields.ENTITY">Entity</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="hit.entity" type="text" name="entity" id="hitEntity" class="form-control" placeholder="[[ 'content.form.messages.ENTERENTITY' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="hitForm.entity.$dirty && hitForm.entity.$error.required" translate="content.form.messages.ENTITYREQUIRED">Entity is required.</span>
                                    <span class="success text-small block" ng-if="hitForm.entity.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':hitForm.foreignKey.$dirty && hitForm.foreignKey.$invalid, 'has-success':hitForm.foreignKey.$valid}">
                                    <label for="hitForeignKey" class="control-label">
                                        <span translate="content.list.fields.FOREIGNKEY">Foreign Key</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="hit.foreign_key" type="text" name="foreignKey" id="hitForeignKey" class="form-control" placeholder="[[ 'content.form.messages.ENTERFOREIGNKEY' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="hitForm.foreignKey.$dirty && hitForm.foreignKey.$error.required" translate="content.form.messages.FOREIGNKEYREQUIRED">Foreign Key is required.</span>
                                    <span class="success text-small block" ng-if="hitForm.foreignKey.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':hitForm.url.$dirty && hitForm.url.$invalid, 'has-success':hitForm.url.$valid}">
                                    <label for="hitUrl" class="control-label">
                                        <span translate="content.list.fields.URL">Url</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="hit.url" type="text" name="url" id="hitUrl" class="form-control" placeholder="[[ 'content.form.messages.ENTERURL' | translate ]]" ng-required="true" />
                                        <i class="ti-link"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="hitForm.url.$dirty && hitForm.url.$error.required" translate="content.form.messages.URLREQUIRED">Url is required.</span>
                                    <span class="success text-small block" ng-if="hitForm.url.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKHITS">Back to Hits list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="hit.id > 0" type="button" ng-click="submitForm(hitForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="hitForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="fa fa-check-circle" ng-if="!disableSubmit"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(hitForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="hitForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="hits.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

