
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONSECTORS">Translation Sectors</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationSectorFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWTRANSLATIONSECTOR" ng-if="translationSector.id == 0">
                        New Translation Sector
                    </legend>
                    <legend translate="content.list.EDITTRANSLATIONSECTOR" ng-if="translationSector.id > 0">
                        Edit Translation Sector
                    </legend>
                    <form name="translationSectorForm" id="translationSectorForm" novalidate ng-submit="submitForm(translationSectorForm)">
                        <input type="hidden" name="id" id="translationSectorId" ng-model="translationSector.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationSectorForm.sector.$dirty && translationSectorForm.sector.$invalid, 'has-success':translationSectorForm.sector.$valid}">
                                    <label for="translationSectorSector" class="control-label">
                                        <span translate="content.list.fields.SECTOR">Sector</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="sectorsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="translation_sector_sector_readonly" ng-options="item.id as item.name for item in sectors | filter:{ hidden : false }" ng-model="translationSector.sector" name="sector" id="translationSectorSector" class="form-control" ng-required="true">
                                            </select>
                                            <i class="fa fa-industry"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="translationSectorForm.sector.$dirty && translationSectorForm.sector.$error.required" translate="content.form.messages.SECTORREQUIRED">Sector is required.</span>
                                    <span class="success text-small block" ng-if="translationSectorForm.sector.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationSectorForm.locale.$dirty && translationSectorForm.locale.$invalid, 'has-success':translationSectorForm.locale.$valid}">
                                    <label for="translationSectorLocale" class="control-label">
                                        <span translate="content.list.fields.LOCALE">Locale</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list">
                                        <select ng-options="langKey as langName for (langKey, langName) in languages" ng-model="translationSector.locale" name="locale" id="translationSectorLocale" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="translationSectorForm.locale.$dirty && translationSectorForm.locale.$error.required" translate="content.form.messages.LOCALEREQUIRED">Locale is required.</span>
                                    <span class="success text-small block" ng-if="translationSectorForm.locale.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationSectorForm.name.$dirty && translationSectorForm.name.$invalid, 'has-success':translationSectorForm.name.$valid}">
                                    <label for="translationSectorName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationSector.name" type="text" name="name" id="translationSectorName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationSectorForm.name.$dirty && translationSectorForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="translationSectorForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="translationSector.locale" to="translationSector.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':translationSectorForm.slug.$dirty && translationSectorForm.slug.$invalid, 'has-success':translationSectorForm.slug.$valid}">
                                    <label for="translationSectorSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationSector.slug" type="text" name="slug" id="translationSectorSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationSectorForm.slug.$dirty && translationSectorForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="translationSectorForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="translationSector.validated" type="checkbox" name="validated" id="translationSectorValidated" />
                                    <label for="translationSectorValidated" translate="content.list.fields.VALIDATED">Validated</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRANSLATIONSECTORS">Back to Translation Sectors list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(translationSectorForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="translationSectorForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="translationSectors.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

