
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHCARDS">Match Cards</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchCardCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHCARDS">Back to Match Cards list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMATCHCARD">Add Match Card</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(matchCard)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMATCHCARD">Edit Match Card</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MATCHCARDDETAILS">Match Card Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="matchCard.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MATCH">Match</span></td>
                                <td><a ui-sref="app.matchday.matchesdetails({id: matchCard.match.id})">[[ matchCard.match.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAM">Team</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: matchCard.team.id})">[[ matchCard.team.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYER">Player</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: matchCard.player.id})">[[ matchCard.player.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MINUTE">Minute</span></td>
                                <td>
                                    <div ng-bind-html="matchCard.minute"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CARD">Card</span></td>
                                <td>
                                    <span my-enum="[[ matchCard.card ]]" my-enum-list="[[ cards ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ matchCard.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchCard.creator_user.id})">[[ matchCard.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ matchCard.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchCard.modifier_user.id})">[[ matchCard.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
