
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SPORTEVENTS">Sport Events</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SportEventFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSPORTEVENT" ng-if="sportEvent.id == 0">
                        New Sport Event
                    </legend>
                    <legend translate="content.list.EDITSPORTEVENT" ng-if="sportEvent.id > 0">
                        Edit Sport Event
                    </legend>
                    <form name="sportEventForm" id="sportEventForm" novalidate ng-submit="submitForm(sportEventForm)">
                        <input type="hidden" name="id" id="sportEventId" ng-model="sportEvent.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.sport.$dirty && sportEventForm.sport.$invalid, 'has-success':sportEventForm.sport.$valid}">
                                    <label for="sportEventSport" class="control-label">
                                        <span translate="content.list.fields.SPORT">Sport</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="sportsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="sport_event_sport_readonly" ng-options="item.id as item.name for item in sports | filter:{ hidden : false }" ng-model="sportEvent.sport" name="sport" id="sportEventSport" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="sportEventForm.sport.$dirty && sportEventForm.sport.$error.required" translate="content.form.messages.SPORTREQUIRED">Sport is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.sport.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.season.$dirty && sportEventForm.season.$invalid, 'has-success':sportEventForm.season.$valid}">
                                    <label for="sportEventSeason" class="control-label">
                                        <span translate="content.list.fields.SEASON">Season</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="seasonsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="sport_event_season_readonly" ng-options="item.id as item.name for item in seasons | filter:{ hidden : false }" ng-model="sportEvent.season" name="season" id="sportEventSeason" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="sportEventForm.season.$dirty && sportEventForm.season.$error.required" translate="content.form.messages.SEASONREQUIRED">Season is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.season.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventPostType" class="control-label">
                                        <span translate="content.list.fields.POSTTYPE">Post Type</span>
                                    </label>
                                <div class="block select-list" ng-if="postTypesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="sport_event_post_type_readonly" ng-options="item.id as item.name for item in postTypes | filter:{ hidden : false }" ng-model="sportEvent.post_type" name="postType" id="sportEventPostType" class="form-control" ng-required="false">
                                        </select>
                                        <i class="fa fa-sitemap"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventPostCategory" class="control-label">
                                        <span translate="content.list.fields.POSTCATEGORY">Post Category</span>
                                    </label>
                                <div class="block select-list" ng-if="postCategoriesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="sport_event_post_category_readonly" ng-options="item.id as item.name for item in postCategories | filter:{ hidden : false }" ng-model="sportEvent.post_category" name="postCategory" id="sportEventPostCategory" class="form-control" ng-required="false">
                                        </select>
                                        <i class="fa fa-foolder-open-o"></i>
                                    </span><!--/input-icon-->
                                </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.country.$dirty && sportEventForm.country.$invalid, 'has-success':sportEventForm.country.$valid}">
                                    <label for="sportEventCountry" class="control-label">
                                        <span translate="content.list.fields.COUNTRY">Country</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="countriesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="sport_event_country_readonly" ng-options="item.id as item.name for item in countries | filter:{ hidden : false }" ng-model="sportEvent.country" name="country" id="sportEventCountry" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-globe"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="sportEventForm.country.$dirty && sportEventForm.country.$error.required" translate="content.form.messages.COUNTRYREQUIRED">Country is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.country.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.name.$dirty && sportEventForm.name.$invalid, 'has-success':sportEventForm.name.$valid}">
                                    <label for="sportEventName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.name" type="text" name="name" id="sportEventName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="sportEvent.name" my-resource-url="sportevents" my-current-id="[[ sportEvent.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="sportEventForm.name.$dirty && sportEventForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="sportEventForm.name.$dirty && sportEventForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.name_ar" type="text" name="nameAr" id="sportEventNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.name_fr" type="text" name="nameFr" id="sportEventNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="sportEvent.name" to="sportEvent.slug"></slug>
                                <div class="form-group">
                                    <label for="sportEventSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.slug" type="text" name="slug" id="sportEventSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="sportEvent.name_ar" to="sportEvent.slug_ar"></slug>
                                <div class="form-group">
                                    <label for="sportEventSlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.slug_ar" type="text" name="slugAr" id="sportEventSlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="sportEvent.name_fr" to="sportEvent.slug_fr"></slug>
                                <div class="form-group">
                                    <label for="sportEventSlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.slug_fr" type="text" name="slugFr" id="sportEventSlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.picture" type="text" name="picture" id="sportEventPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="sportEvent.picture != '' && sportEvent.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + sportEvent.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="sportEvent.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.alias.$dirty && sportEventForm.alias.$invalid, 'has-success':sportEventForm.alias.$valid}">
                                    <label for="sportEventAlias" class="control-label">
                                        <span translate="content.list.fields.ALIAS">Alias</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.alias" type="text" name="alias" id="sportEventAlias" class="form-control" placeholder="[[ 'content.form.messages.ENTERALIAS' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="sportEventForm.alias.$dirty && sportEventForm.alias.$error.required" translate="content.form.messages.ALIASREQUIRED">Alias is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.alias.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventAliasAr" class="control-label">
                                        <span translate="content.list.fields.ALIASAR">Alias Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.alias_ar" type="text" name="aliasAr" id="sportEventAliasAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERALIASAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventAliasFr" class="control-label">
                                        <span translate="content.list.fields.ALIASFR">Alias Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.alias_fr" type="text" name="aliasFr" id="sportEventAliasFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERALIASFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.ordering.$dirty && sportEventForm.ordering.$invalid, 'has-success':sportEventForm.ordering.$valid}">
                                    <label for="sportEventOrdering" class="control-label">
                                        <span translate="content.list.fields.ORDERING">Ordering</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.ordering" type="text" name="ordering" id="sportEventOrdering" class="form-control" placeholder="[[ 'content.form.messages.ENTERORDERING' | translate ]]" touchspin data-min="-10000000" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="sportEventForm.ordering.$dirty && sportEventForm.ordering.$error.required" translate="content.form.messages.ORDERINGREQUIRED">Ordering is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.ordering.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':sportEventForm.teamType.$dirty && sportEventForm.teamType.$invalid, 'has-success':sportEventForm.teamType.$valid}">
                                    <label for="sportEventTeamType" class="control-label">
                                        <span translate="content.list.fields.TEAMTYPE">Team Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="teamTypes.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="teamType in teamTypes" ng-model="sportEvent.team_type" type="radio" id="team_type[[ teamType.id ]]" value="[[ teamType.id ]]" name="teamType" ng-required="true" />
                                        <label ng-repeat-end for="team_type[[ teamType.id ]]">
                                            [[ teamType.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="teamTypes.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in teamTypes" ng-model="sportEvent.team_type" name="team_type" id="sportEventTeamType" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="sportEventForm.teamType.$dirty && sportEventForm.teamType.$error.required" translate="content.form.messages.TEAMTYPEREQUIRED">Team Type is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.teamType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_calendar" type="checkbox" name="enableCalendar" id="sportEventEnableCalendar" />
                                    <label for="sportEventEnableCalendar" translate="content.list.fields.ENABLECALENDAR">Enable Calendar</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_live" type="checkbox" name="enableLive" id="sportEventEnableLive" />
                                    <label for="sportEventEnableLive" translate="content.list.fields.ENABLELIVE">Enable Live</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_table" type="checkbox" name="enableTable" id="sportEventEnableTable" />
                                    <label for="sportEventEnableTable" translate="content.list.fields.ENABLETABLE">Enable Table</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_results" type="checkbox" name="enableResults" id="sportEventEnableResults" />
                                    <label for="sportEventEnableResults" translate="content.list.fields.ENABLERESULTS">Enable Results</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_teams" type="checkbox" name="enableTeams" id="sportEventEnableTeams" />
                                    <label for="sportEventEnableTeams" translate="content.list.fields.ENABLETEAMS">Enable Teams</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_scorers" type="checkbox" name="enableScorers" id="sportEventEnableScorers" />
                                    <label for="sportEventEnableScorers" translate="content.list.fields.ENABLESCORERS">Enable Scorers</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_stadia" type="checkbox" name="enableStadia" id="sportEventEnableStadia" />
                                    <label for="sportEventEnableStadia" translate="content.list.fields.ENABLESTADIA">Enable Stadia</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_prize_winners" type="checkbox" name="enablePrizeWinners" id="sportEventEnablePrizeWinners" />
                                    <label for="sportEventEnablePrizeWinners" translate="content.list.fields.ENABLEPRIZEWINNERS">Enable Prize Winners</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_statistics" type="checkbox" name="enableStatistics" id="sportEventEnableStatistics" />
                                    <label for="sportEventEnableStatistics" translate="content.list.fields.ENABLESTATISTICS">Enable Statistics</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_line_up" type="checkbox" name="enableLineUp" id="sportEventEnableLineUp" />
                                    <label for="sportEventEnableLineUp" translate="content.list.fields.ENABLELINEUP">Enable Line Up</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_posts" type="checkbox" name="enablePosts" id="sportEventEnablePosts" />
                                    <label for="sportEventEnablePosts" translate="content.list.fields.ENABLEPOSTS">Enable Posts</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_videos" type="checkbox" name="enableVideos" id="sportEventEnableVideos" />
                                    <label for="sportEventEnableVideos" translate="content.list.fields.ENABLEVIDEOS">Enable Videos</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEvent.enable_images" type="checkbox" name="enableImages" id="sportEventEnableImages" />
                                    <label for="sportEventEnableImages" translate="content.list.fields.ENABLEIMAGES">Enable Images</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1"  ng-class="{'has-error':sportEventForm.status.$dirty && sportEventForm.status.$invalid, 'has-success':sportEventForm.status.$valid}">
                                    <label for="sportEventStatus" class="control-label">
                                        <span translate="content.list.fields.STATUS">Status</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="statuses.length < 10">
                                        <input ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-repeat-start="status in statuses" ng-model="sportEvent.status" type="radio" id="status[[ status.id ]]" value="[[ status.id ]]" name="status" ng-required="true" />
                                        <label ng-repeat-end for="status[[ status.id ]]">
                                            [[ status.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="statuses.length >= 10">
                                        <select ng-disabled="(currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') == -1)" ng-options="item.id as item.title for item in statuses" ng-model="sportEvent.status" name="status" id="sportEventStatus" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="sportEventForm.status.$dirty && sportEventForm.status.$error.required" translate="content.form.messages.STATUSREQUIRED">Status is required.</span>
                                    <span class="success text-small block" ng-if="sportEventForm.status.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventEurosport" class="control-label">
                                        <span translate="content.list.fields.EUROSPORT">Eurosport</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.eurosport" type="text" name="eurosport" id="sportEventEurosport" class="form-control" placeholder="[[ 'content.form.messages.ENTEREUROSPORT' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="sportEventLequipe" class="control-label">
                                        <span translate="content.list.fields.LEQUIPE">Lequipe</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="sportEvent.lequipe" type="text" name="lequipe" id="sportEventLequipe" class="form-control" placeholder="[[ 'content.form.messages.ENTERLEQUIPE' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="sportEventTeams" class="control-label">
                                    <span translate="content.list.fields.TEAMS">Teams</span>
                                    <input type="text" ng-model="teamsSearchText" class="form-control underline" />
                                </label>
                            </div><!--/col-md-12-->
                            <div class="col-md-3" ng-repeat="team in teams | filter:teamsSearchText" ng-if="team.id">
                                <div class="checkbox continuous-check check-primary">
                                    <input checklist-model="sportEvent.teams" checklist-value="team.id" type="checkbox" name="team[]" id="sportEventTeam[[team.id]]" />
                                    <label for="sportEventTeam[[team.id]]">[[ team.name ]]</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-3-->
                            <div class="col-md-12">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="sportEventTeams" type="checkbox" id="sportEventTeams" />
                                    <label for="sportEventTeams" translate="content.common.SELECTALL">Select All</label>
                                </div><!--/checkbox-->
                            </div><!--/col-md-12-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSPORTEVENTS">Back to Sport Events list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(sportEventForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="sportEventForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="sportEvents.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

