
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SPORTEVENTS">Sport Events</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SportEventCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSPORTEVENTS">Back to Sport Events list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDSPORTEVENT">Add Sport Event</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(sportEvent)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITSPORTEVENT">Edit Sport Event</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.SPORTEVENTDETAILS">Sport Event Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SPORT">Sport</span></td>
                                <td><a ui-sref="app.events.sportsdetails({id: sportEvent.sport.id})">[[ sportEvent.sport.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SEASON">Season</span></td>
                                <td><a ui-sref="app.events.seasonsdetails({id: sportEvent.season.id})">[[ sportEvent.season.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.POSTTYPE">Post Type</span></td>
                                <td><a ui-sref="app.news.posttypesdetails({id: sportEvent.post_type.id})">[[ sportEvent.post_type.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.POSTCATEGORY">Post Category</span></td>
                                <td><a ui-sref="app.news.postcategoriesdetails({id: sportEvent.post_category.id})">[[ sportEvent.post_category.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: sportEvent.country.id})">[[ sportEvent.country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="sportEvent.picture != '' && sportEvent.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + sportEvent.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALIAS">Alias</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.alias"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALIASAR">Alias Ar</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.alias_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALIASFR">Alias Fr</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.alias_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMTYPE">Team Type</span></td>
                                <td>
                                    <span my-enum="[[ sportEvent.team_type ]]" my-enum-list="[[ teamTypes ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLECALENDAR">Enable Calendar</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_calendar ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLELIVE">Enable Live</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_live ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLETABLE">Enable Table</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_table ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLERESULTS">Enable Results</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_results ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLETEAMS">Enable Teams</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_teams ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESCORERS">Enable Scorers</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_scorers ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESTADIA">Enable Stadia</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_stadia ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEPRIZEWINNERS">Enable Prize Winners</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_prize_winners ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESTATISTICS">Enable Statistics</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_statistics ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLELINEUP">Enable Line Up</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_line_up ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEPOSTS">Enable Posts</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_posts ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEVIDEOS">Enable Videos</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_videos ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEIMAGES">Enable Images</span></td>
                                <td>
                                    <span my-boolean="[[ sportEvent.enable_images ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ sportEvent.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EUROSPORT">Eurosport</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.eurosport"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LEQUIPE">Lequipe</span></td>
                                <td>
                                    <div ng-bind-html="sportEvent.lequipe"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ sportEvent.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: sportEvent.creator_user.id})">[[ sportEvent.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ sportEvent.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: sportEvent.modifier_user.id})">[[ sportEvent.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMS">Teams</span></td>
                                <td>
                                    <a ng-repeat="team in sportEvent.teams" ui-sref="app.events.teamsdetails({id: team.id})">[[ team.name ]]</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
