
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SCORERS">Scorers</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="ScorerFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSCORER" ng-if="scorer.id == 0">
                        New Scorer
                    </legend>
                    <legend translate="content.list.EDITSCORER" ng-if="scorer.id > 0">
                        Edit Scorer
                    </legend>
                    <form name="scorerForm" id="scorerForm" novalidate ng-submit="submitForm(scorerForm)">
                        <input type="hidden" name="id" id="scorerId" ng-model="scorer.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':scorerForm.team.$dirty && scorerForm.team.$invalid, 'has-success':scorerForm.team.$valid}">
                                    <label for="scorerTeam" class="control-label">
                                        <span translate="content.list.fields.TEAM">Team</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="teamsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="scorer_team_readonly" ng-options="item.id as item.name for item in teams | filter:{ hidden : false }" ng-model="scorer.team" name="team" id="scorerTeam" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-users"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="scorerForm.team.$dirty && scorerForm.team.$error.required" translate="content.form.messages.TEAMREQUIRED">Team is required.</span>
                                    <span class="success text-small block" ng-if="scorerForm.team.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':scorerForm.player.$dirty && scorerForm.player.$invalid, 'has-success':scorerForm.player.$valid}">
                                    <label for="scorerPlayer" class="control-label">
                                        <span translate="content.list.fields.PLAYER">Player</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="playersLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="scorer_player_readonly" ng-options="item.id as item.name for item in players | filter:{ hidden : false }" ng-model="scorer.player" name="player" id="scorerPlayer" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-user"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="scorerForm.player.$dirty && scorerForm.player.$error.required" translate="content.form.messages.PLAYERREQUIRED">Player is required.</span>
                                    <span class="success text-small block" ng-if="scorerForm.player.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':scorerForm.sportEvent.$dirty && scorerForm.sportEvent.$invalid, 'has-success':scorerForm.sportEvent.$valid}">
                                    <label for="scorerSportEvent" class="control-label">
                                        <span translate="content.list.fields.SPORTEVENT">Sport Event</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="sportEventsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="scorer_sport_event_readonly" ng-options="item.id as item.name for item in sportEvents | filter:{ hidden : false }" ng-model="scorer.sport_event" name="sportEvent" id="scorerSportEvent" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-trophy"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="scorerForm.sportEvent.$dirty && scorerForm.sportEvent.$error.required" translate="content.form.messages.SPORTEVENTREQUIRED">Sport Event is required.</span>
                                    <span class="success text-small block" ng-if="scorerForm.sportEvent.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':scorerForm.goals.$dirty && scorerForm.goals.$invalid, 'has-success':scorerForm.goals.$valid}">
                                    <label for="scorerGoals" class="control-label">
                                        <span translate="content.list.fields.GOALS">Goals</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="scorer.goals" type="text" name="goals" id="scorerGoals" class="form-control" placeholder="[[ 'content.form.messages.ENTERGOALS' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="scorerForm.goals.$dirty && scorerForm.goals.$error.required" translate="content.form.messages.GOALSREQUIRED">Goals is required.</span>
                                    <span class="success text-small block" ng-if="scorerForm.goals.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSCORERS">Back to Scorers list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(scorerForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="scorerForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="scorers.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

