
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.LIVECHANNELS">Live Channels</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="LiveChannelCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKLIVECHANNELS">Back to Live Channels list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDLIVECHANNEL">Add Live Channel</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(liveChannel)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITLIVECHANNEL">Edit Live Channel</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.LIVECHANNELDETAILS">Live Channel Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRICE">Price</span></td>
                                <td><a ui-sref="app.offer.pricesdetails({id: liveChannel.price.id})">[[ liveChannel.price.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SHARING">Sharing</span></td>
                                <td><a ui-sref="app.offer.sharingsdetails({id: liveChannel.sharing.id})">[[ liveChannel.sharing.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGAR">Slug Ar</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.slug_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUGFR">Slug Fr</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.slug_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STREAMNAME">Stream Name</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.stream_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PUTONHOME">Put On Home</span></td>
                                <td>
                                    <span my-boolean="[[ liveChannel.put_on_home ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ liveChannel.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALVIEWS">Total Views</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_views"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALHITS">Total Hits</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_hits"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALCOMMENTS">Total Comments</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_comments"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALRATINGS">Total Ratings</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_ratings"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AVERAGERATINGS">Average Ratings</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.average_ratings"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALLIKES">Total Likes</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_likes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALDISLIKES">Total Dislikes</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_dislikes"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOTALBOOKMARKS">Total Bookmarks</span></td>
                                <td>
                                    <div ng-bind-html="liveChannel.total_bookmarks"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESTREAMING">Enable Streaming</span></td>
                                <td>
                                    <span my-boolean="[[ liveChannel.enable_streaming ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AUTOPUBLISHING">Auto Publishing</span></td>
                                <td>
                                    <span my-boolean="[[ liveChannel.auto_publishing ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTPUBLISHING">Start Publishing</span></td>
                                <td>
                                    <span>[[ liveChannel.start_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENDPUBLISHING">End Publishing</span></td>
                                <td>
                                    <span>[[ liveChannel.end_publishing | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ liveChannel.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: liveChannel.creator_user.id})">[[ liveChannel.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ liveChannel.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: liveChannel.modifier_user.id})">[[ liveChannel.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
