{% extends 'UbidElectricityBundle::email_template.html.twig' %}
{% block mailContent %}
    <p>Dear ,</p>
    <p>&nbsp;</p>
    <p>

        You have just received a new mail from {{ firstName }}  {{ lastName }}
    </p>
    <p>with subject : {{ subject }}</p>
    <p>{{ message }}</p>
    <p>&nbsp;</p>
{% endblock %}