{% extends 'UbidElectricityBundle::email_template.html.twig' %}
{% block mailContent %}
    <p>Dear {{ user.username }},</p>
    <p>&nbsp;</p>
    {% autoescape false %}
        {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
    {% endautoescape %}

    <p>&nbsp;</p>
    {{ 'email.signature' | trans | raw }}
{% endblock %}