
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHSUBSTITUTIONS">Match Substitutions</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchSubstitutionCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHSUBSTITUTIONS">Back to Match Substitutions list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMATCHSUBSTITUTION">Add Match Substitution</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(matchSubstitution)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMATCHSUBSTITUTION">Edit Match Substitution</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MATCHSUBSTITUTIONDETAILS">Match Substitution Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="matchSubstitution.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MATCH">Match</span></td>
                                <td><a ui-sref="app.matchday.matchesdetails({id: matchSubstitution.match.id})">[[ matchSubstitution.match.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAM">Team</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: matchSubstitution.team.id})">[[ matchSubstitution.team.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYERIN">Player In</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: matchSubstitution.player_in.id})">[[ matchSubstitution.player_in.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYEROUT">Player Out</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: matchSubstitution.player_out.id})">[[ matchSubstitution.player_out.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MINUTE">Minute</span></td>
                                <td>
                                    <div ng-bind-html="matchSubstitution.minute"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ matchSubstitution.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchSubstitution.creator_user.id})">[[ matchSubstitution.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ matchSubstitution.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchSubstitution.modifier_user.id})">[[ matchSubstitution.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
