
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN">Dashboard</span>
				</div>
			</div>
		</a>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('CALL') > -1" ng-class="{'active open':$state.includes('app.marketplace')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-control-shuffle"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.marketplace.MAIN">Marketplace</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('CALL') > -1" ng-class="{'active':$state.includes('app.marketplace.suppliers')}">
				<a ui-sref="app.marketplace.suppliers">
					<span class="title" translate="content.list.SUPPLIERS">Suppliers</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.supplierproducts')}">
				<a ui-sref="app.marketplace.supplierproducts">
					<span class="title" translate="content.list.SUPPLIERPRODUCTS">Supplier Products</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('CALL') > -1" ng-class="{'active':$state.includes('app.marketplace.buyers')}">
				<a ui-sref="app.marketplace.buyers">
					<span class="title" translate="content.list.BUYERS">Buyers</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.tenders')}">
				<a ui-sref="app.marketplace.tenders">
					<span class="title" translate="content.list.TENDERS">Tenders</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.bids')}">
				<a ui-sref="app.marketplace.bids">
					<span class="title" translate="content.list.BIDS">Bids</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.lists')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-list"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.lists.MAIN">Lists</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.sectors')}">
				<a ui-sref="app.lists.sectors">
					<span class="title" translate="content.list.SECTORS">Sectors</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.buyertypes')}">
				<a ui-sref="app.lists.buyertypes">
					<span class="title" translate="content.list.BUYERTYPES">Buyer Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.suppliertypes')}">
				<a ui-sref="app.lists.suppliertypes">
					<span class="title" translate="content.list.SUPPLIERTYPES">Supplier Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.categories')}">
				<a ui-sref="app.lists.categories">
					<span class="title" translate="content.list.CATEGORIES">Categories</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.tendertypes')}">
				<a ui-sref="app.lists.tendertypes">
					<span class="title" translate="content.list.TENDERTYPES">Tender Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.biddingtypes')}">
				<a ui-sref="app.lists.biddingtypes">
					<span class="title" translate="content.list.BIDDINGTYPES">Bidding Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.lists.producttypes')}">
				<a ui-sref="app.lists.producttypes">
					<span class="title" translate="content.list.PRODUCTTYPES">Product Types</span>
				</a>
			</li>
		</ul>
	</li>

	<!--li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.adserving')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-target"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.adserving.MAIN">Adserving</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.adserving.banners')}">
				<a ui-sref="app.adserving.banners">
					<span class="title" translate="content.list.BANNERS">Banners</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.adserving.bannertypes')}">
				<a ui-sref="app.adserving.bannertypes">
					<span class="title" translate="content.list.BANNERTYPES">Banner Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.adserving.clicks')}">
				<a ui-sref="app.adserving.clicks">
					<span class="title" translate="content.list.CLICKS">Clicks</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.adserving.bannerpositions')}">
				<a ui-sref="app.adserving.bannerpositions">
					<span class="title" translate="content.list.BANNERPOSITIONS">Banner Positions</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.adserving.impressions')}">
				<a ui-sref="app.adserving.impressions">
					<span class="title" translate="content.list.IMPRESSIONS">Impressions</span>
				</a>
			</li>
		</ul>
	</li-->

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.settings')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.settings.MAIN">Settings</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.languages')}">
				<a ui-sref="app.settings.languages">
					<span class="title" translate="content.list.LANGUAGES">Languages</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.countries')}">
				<a ui-sref="app.settings.countries">
					<span class="title" translate="content.list.COUNTRIES">Countries</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.regions')}">
				<a ui-sref="app.settings.regions">
					<span class="title" translate="content.list.REGIONS">Regions</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.menus')}">
				<a ui-sref="app.settings.menus">
					<span class="title" translate="content.list.MENUS">Menus</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.menulinks')}">
				<a ui-sref="app.settings.menulinks">
					<span class="title" translate="content.list.MENULINKS">Menu Links</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.translation')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-list"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.translation.MAIN">Translation</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationproducttypes')}">
				<a ui-sref="app.translation.translationproducttypes">
					<span class="title" translate="content.list.TRANSLATIONPRODUCTTYPES">Translation Product Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationposttypes')}">
				<a ui-sref="app.translation.translationposttypes">
					<span class="title" translate="content.list.TRANSLATIONPOSTTYPES">Translation Post Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationregions')}">
				<a ui-sref="app.translation.translationregions">
					<span class="title" translate="content.list.TRANSLATIONREGIONS">Translation Regions</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationsectors')}">
				<a ui-sref="app.translation.translationsectors">
					<span class="title" translate="content.list.TRANSLATIONSECTORS">Translation Sectors</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationtendertypes')}">
				<a ui-sref="app.translation.translationtendertypes">
					<span class="title" translate="content.list.TRANSLATIONTENDERTYPES">Translation Tender Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationsuppliertypes')}">
				<a ui-sref="app.translation.translationsuppliertypes">
					<span class="title" translate="content.list.TRANSLATIONSUPPLIERTYPES">Translation Supplier Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationpostcategories')}">
				<a ui-sref="app.translation.translationpostcategories">
					<span class="title" translate="content.list.TRANSLATIONPOSTCATEGORIES">Translation Post Categories</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationposts')}">
				<a ui-sref="app.translation.translationposts">
					<span class="title" translate="content.list.TRANSLATIONPOSTS">Translation Posts</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationbuyertypes')}">
				<a ui-sref="app.translation.translationbuyertypes">
					<span class="title" translate="content.list.TRANSLATIONBUYERTYPES">Translation Buyer Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationbiddingtypes')}">
				<a ui-sref="app.translation.translationbiddingtypes">
					<span class="title" translate="content.list.TRANSLATIONBIDDINGTYPES">Translation Bidding Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationcategories')}">
				<a ui-sref="app.translation.translationcategories">
					<span class="title" translate="content.list.TRANSLATIONCATEGORIES">Translation Categories</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationcountries')}">
				<a ui-sref="app.translation.translationcountries">
					<span class="title" translate="content.list.TRANSLATIONCOUNTRIES">Translation Countries</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationmenulinks')}">
				<a ui-sref="app.translation.translationmenulinks">
					<span class="title" translate="content.list.TRANSLATIONMENULINKS">Translation Menu Links</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.translation.translationmenus')}">
				<a ui-sref="app.translation.translationmenus">
					<span class="title" translate="content.list.TRANSLATIONMENUS">Translation Menus</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.news')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-book"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.news.MAIN">News</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.news.posts')}">
				<a ui-sref="app.news.posts">
					<span class="title" translate="content.list.POSTS">Posts</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.news.postcategories')}">
				<a ui-sref="app.news.postcategories">
					<span class="title" translate="content.list.POSTCATEGORIES">Post Categories</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.news.posttypes')}">
				<a ui-sref="app.news.posttypes">
					<span class="title" translate="content.list.POSTTYPES">Post Types</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('IT') > -1 || user.roles.join('').indexOf('CALL') > -1" ng-class="{'active open':$state.includes('app.access')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-lock"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.access.MAIN">Access</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('IT') > -1 || user.roles.join('').indexOf('CALL') > -1" ng-class="{'active':$state.includes('app.access.users')}">
				<a ui-sref="app.access.users">
					<span class="title" translate="content.list.USERS">Users</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('') > -1" ng-class="{'active':$state.includes('app.access.notifications')}">
				<a ui-sref="app.access.notifications">
					<span class="title" translate="content.list.NOTIFICATIONS">Notifications</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('') > -1" ng-class="{'active':$state.includes('app.access.messages')}">
				<a ui-sref="app.access.messages">
					<span class="title" translate="content.list.MESSAGES">Messages</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.groups')}">
				<a ui-sref="app.access.groups">
					<span class="title" translate="content.list.GROUPS">Groups</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('') > -1" ng-class="{'active':$state.includes('app.access.alerts')}">
				<a ui-sref="app.access.alerts">
					<span class="title" translate="content.list.ALERTS">Alerts</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.logs')}">
				<a ui-sref="app.access.logs">
					<span class="title" translate="content.list.LOGS">Logs</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.usersettings')}">
				<a ui-sref="app.access.usersettings">
					<span class="title" translate="content.list.USERSETTINGS">User Settings</span>
				</a>
			</li>
		</ul>
	</li>

</ul>
