<!-- start: SEARCH FORM -->
<!--div class="search-form">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="[[ 'sidebar.search.PLACEHOLDER' | translate ]]">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
		</div>
	</form>
</div-->
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN">Dashboard</span>
				</div>
			</div>
		</a>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.marketplace')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-control-shuffle"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.marketplace.MAIN">Marketplace</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.buyers')}">
				<a ui-sref="app.marketplace.buyers">
					<span class="title" translate="content.list.BUYERS">Buyers</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.tenders')}">
				<a ui-sref="app.marketplace.tenders">
					<span class="title" translate="content.list.TENDERS">Tenders</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.tenderproducts')}">
				<a ui-sref="app.marketplace.tenderproducts">
					<span class="title" translate="content.list.TENDERPRODUCTS">Tender Products</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.bids')}">
				<a ui-sref="app.marketplace.bids">
					<span class="title" translate="content.list.BIDS">Bids</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.marketplace.bidproducts')}">
				<a ui-sref="app.marketplace.bidproducts">
					<span class="title" translate="content.list.BIDPRODUCTS">Bid Products</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.tenders')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-gavel"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.tenders.MAIN">Tenders</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.sectors')}">
				<a ui-sref="app.tenders.sectors">
					<span class="title" translate="content.list.SECTORS">Sectors</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.buyertypes')}">
				<a ui-sref="app.tenders.buyertypes">
					<span class="title" translate="content.list.BUYERTYPES">Buyer Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.tendercategories')}">
				<a ui-sref="app.tenders.tendercategories">
					<span class="title" translate="content.list.TENDERCATEGORIES">Tender Categories</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.producttypes')}">
				<a ui-sref="app.tenders.producttypes">
					<span class="title" translate="content.list.PRODUCTTYPES">Product Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.tendertypes')}">
				<a ui-sref="app.tenders.tendertypes">
					<span class="title" translate="content.list.TENDERTYPES">Tender Types</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.tenders.biddingtypes')}">
				<a ui-sref="app.tenders.biddingtypes">
					<span class="title" translate="content.list.BIDDINGTYPES">Bidding Types</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.settings')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.settings.MAIN">Settings</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.languages')}">
				<a ui-sref="app.settings.languages">
					<span class="title" translate="content.list.LANGUAGES">Languages</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.countries')}">
				<a ui-sref="app.settings.countries">
					<span class="title" translate="content.list.COUNTRIES">Countries</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.regions')}">
				<a ui-sref="app.settings.regions">
					<span class="title" translate="content.list.REGIONS">Regions</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.menus')}">
				<a ui-sref="app.settings.menus">
					<span class="title" translate="content.list.MENUS">Menus</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.menulinks')}">
				<a ui-sref="app.settings.menulinks">
					<span class="title" translate="content.list.MENULINKS">Menu Links</span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.access')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-lock"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.access.MAIN">Access</span>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ng-if="user.roles.join('').indexOf('') > -1" ng-class="{'active':$state.includes('app.access.notifications')}">
				<a ui-sref="app.access.notifications">
					<span class="title" translate="content.list.NOTIFICATIONS">Notifications</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.users')}">
				<a ui-sref="app.access.users">
					<span class="title" translate="content.list.USERS">Users</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.groups')}">
				<a ui-sref="app.access.groups">
					<span class="title" translate="content.list.GROUPS">Groups</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.logs')}">
				<a ui-sref="app.access.logs">
					<span class="title" translate="content.list.LOGS">Logs</span>
				</a>
			</li>
			<li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.usersettings')}">
				<a ui-sref="app.access.usersettings">
					<span class="title" translate="content.list.USERSETTINGS">User Settings</span>
				</a>
			</li>
		</ul>
	</li>

</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: CORE FEATURES -->
<!--div class="navbar-title">
	<span translate="sidebar.heading.FEATURES">Core Features</span>
</div>
<ul class="folders">
	<li>
		<a ui-sref="app.pages.calendar">
			<div class="item-content">
				<div class="item-media">
					<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i></span>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.pages.CALENDAR"> Calendar</span>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a ui-sref="app.pages.messages">
			<div class="item-content">
				<div class="item-media">
					<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i></span>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.pages.MESSAGES"> Messages</span>
				</div>
			</div>
		</a>
	</li>
</ul-->
<!-- end: CORE FEATURES -->
<!-- start: DOCUMENTATION BUTTON -->
<!--div class="wrapper">
	<a ui-sref="app.documentation" class="button-o">
		<i class="ti-help"></i>
		<span translate="sidebar.heading.DOCUMENTATION">Documentation</span>
	</a>
</div-->
<!-- end: DOCUMENTATION BUTTON -->
