
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONMENULINKS">Translation Menu Links</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationMenuLinkFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWTRANSLATIONMENULINK" ng-if="translationMenuLink.id == 0">
                        New Translation Menu Link
                    </legend>
                    <legend translate="content.list.EDITTRANSLATIONMENULINK" ng-if="translationMenuLink.id > 0">
                        Edit Translation Menu Link
                    </legend>
                    <form name="translationMenuLinkForm" id="translationMenuLinkForm" novalidate ng-submit="submitForm(translationMenuLinkForm)">
                        <input type="hidden" name="id" id="translationMenuLinkId" ng-model="translationMenuLink.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuLinkForm.menuLink.$dirty && translationMenuLinkForm.menuLink.$invalid, 'has-success':translationMenuLinkForm.menuLink.$valid}">
                                    <label for="translationMenuLinkMenuLink" class="control-label">
                                        <span translate="content.list.fields.MENULINK">Menu Link</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="menuLinksLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="translation_menu_link_menu_link_readonly" ng-options="item.id as item.name for item in menuLinks | filter:{ hidden : false }" ng-model="translationMenuLink.menu_link" name="menuLink" id="translationMenuLinkMenuLink" class="form-control" ng-required="true">
                                            </select>
                                            <i class="ti-link"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="translationMenuLinkForm.menuLink.$dirty && translationMenuLinkForm.menuLink.$error.required" translate="content.form.messages.MENULINKREQUIRED">Menu Link is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuLinkForm.menuLink.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuLinkForm.locale.$dirty && translationMenuLinkForm.locale.$invalid, 'has-success':translationMenuLinkForm.locale.$valid}">
                                    <label for="translationMenuLinkLocale" class="control-label">
                                        <span translate="content.list.fields.LOCALE">Locale</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list">
                                        <span class="input-icon">
                                            <select ng-options="langKey as langName for (langKey, langName) in languages" ng-model="translationMenuLink.locale" name="locale" id="translationMenuLinkLocale" class="form-control" ng-required="true">
                                            </select>
                                        </span>
                                    </div>
                                    <span class="error text-small block" ng-if="translationMenuLinkForm.locale.$dirty && translationMenuLinkForm.locale.$error.required" translate="content.form.messages.LOCALEREQUIRED">Locale is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuLinkForm.locale.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationMenuLinkForm.name.$dirty && translationMenuLinkForm.name.$invalid, 'has-success':translationMenuLinkForm.name.$valid}">
                                    <label for="translationMenuLinkName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationMenuLink.name" type="text" name="name" id="translationMenuLinkName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationMenuLinkForm.name.$dirty && translationMenuLinkForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuLinkForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="translationMenuLink.locale" to="translationMenuLink.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':translationMenuLinkForm.slug.$dirty && translationMenuLinkForm.slug.$invalid, 'has-success':translationMenuLinkForm.slug.$valid}">
                                    <label for="translationMenuLinkSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationMenuLink.slug" type="text" name="slug" id="translationMenuLinkSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationMenuLinkForm.slug.$dirty && translationMenuLinkForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="translationMenuLinkForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="translationMenuLink.validated" type="checkbox" name="validated" id="translationMenuLinkValidated" />
                                    <label for="translationMenuLinkValidated" translate="content.list.fields.VALIDATED">Validated</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRANSLATIONMENULINKS">Back to Translation Menu Links list</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="translationMenuLink.id > 0" type="button" ng-click="submitForm(translationMenuLinkForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="translationMenuLinkForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="fa fa-check-circle" ng-if="!disableSubmit"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(translationMenuLinkForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="translationMenuLinkForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="translationMenuLinks.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

