
<h1 translate="front.BUYERS">Buyers</h1>
<div  ng-if="buyerCount > 0" ng-repeat="buyer in buyers" class="tender-preview">
    <a ui-sref="front.buyer({id: buyer.id, locale: locale})" ng-if="user.email" class="name" ng-bind="buyer.name"></a>
    <a ui-sref="front.login({locale: locale})" ng-if="!user.email" class="name" ng-bind="buyer.name"></a>
    <div class="pb-1 clearfix">
        <img ng-if="buyer.picture" src="[[ buyer.picture ]]" alt="[[ buyer.name ]]" class="pull-right img-thumbnail" />
        <div ng-bind-html="buyer.description"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button ui-sref="front.buyer({id: buyer.id, locale: locale})" ng-if="user.email" class="btn btn-sm"><i class="fa fa-chevron-circle-down"></i> <span translate="front.READMORE">Read more</span></button>
            <button ui-sref="front.login({locale: locale})" ng-if="!user.email" class="btn btn-sm"><i class="fa fa-chevron-circle-down"></i> <span translate="front.READMORE">Read more</span></button>
        </div>
        <div class="col-md-6">
            <!-- <button class="btn btn-sm pull-right" translate-attr-title="front.SHARE" title="Share"><i class="fa fa-share-alt"></i></button> -->
            <!-- <button class="btn btn-sm pull-right mr-1" translate-attr-title="front.COMMENTS" title="Comments"><i class="fa fa-commenting"></i></button> -->
        </div>
    </div>
</div>
<div class="mt-3 mb-3" ng-if="buyerCount == 0">
    <h3 class="text-center text-info" translate="front.NORESULTSFORBUYERS">No results for buyers</h3>
</div>