<div ng-if="user.email" id="user-menu-icon"><i class="fa fa-user"></i></div>
<!-- menu with accordion -->
<div ng-if="user.email">
    <uib-accordion close-others="true">

        <uib-accordion-group is-open="status.open1">
            <uib-accordion-heading>
                [[ 'front.MYACCOUNT'| translate]]
                <i  class="fa pull-right" ng-class="{'fa-angle-down': status.open1, 'fa-angle-right': !status.open1}"></i>
            </uib-accordion-heading>
            <ul>
                <li ng-if="user.type == 'Buyer' || user.type == 'Both'"><a ui-sref="front.mybuyers.list({locale: locale})"><i class="fa fa-building"></i> <span translate="front.MYBUYERS" title="[['front.USERMENU.MYBUYERS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Buyers</span></a></li>
                <li ng-if="user.type == 'Buyer' || user.type == 'Both'"><a ui-sref="front.mybuyers.new({locale: locale})"><i class="fa fa-plus"></i> <span translate="front.NEWBUYER" title="[['front.USERMENU.NEWBUYER' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>New Buyer</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.mysuppliers.list({locale: locale})"><i class="fa fa-user"></i> <span translate="front.MYSUPPLIERS" title="[['front.USERMENU.MYSUPPLIERS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Suppliers</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.mysuppliers.new({locale: locale})"><i class="fa fa-user-plus"></i> <span translate="front.NEWSUPPLIER" title="[['front.USERMENU.NEWSUPPLIER' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>New Supplier</span></a></li>
                <li><a ui-sref="front.profile({locale: locale})"><i class="fa fa-user-circle-o"></i> <span translate="front.MYPROFILE" title="[['front.USERMENU.MYPROFILE' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Profile</span></a></li>
                <li><a ui-sref="front.changepassword({locale: locale})"><i class="fa fa-key"></i> <span translate="front.CHANGEPASSWORD" title="[['front.USERMENU.CHANGEPASSWORD' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Change Password</span></a></li>
            </ul>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.open2">
            <uib-accordion-heading>
                [[ 'front.MYTENDERS'| translate]]
                <i class="fa pull-right" ng-class="{'fa-angle-down': status.open2, 'fa-angle-right': !status.open2}"></i>
            </uib-accordion-heading>
            <ul>
                <li><a ui-sref="front.mytenders.list({locale: locale})"><i class="fa fa-gavel"></i> <span translate="front.MYTENDERS" title="[['front.USERMENU.MYTENDERS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Tenders</span></a></li>
                <li><a ui-sref="front.mytenders.new({locale: locale})"><i class="fa fa-plus-circle"></i> <span translate="front.NEWTENDER" title="[['front.USERMENU.NEWTENDER' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>New Tender</span></a></li>
                <li><a ui-sref="front.projectbids.list({locale: locale})"><i class="fa fa-tags"></i> <span translate="front.PROJECTBIDS" title="[['front.USERMENU.PROJECTBIDS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Project bids</span></a></li>
                <li><a ui-sref="front.projectbids.shortlist({locale: locale})"><i class="fa fa-thumbs-up"></i> <span translate="front.PROJECTBIDSSHORTLIST" title="[['front.USERMENU.PROJECTBIDSSHORTLIST' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Project bids</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.myproducts.list({locale: locale})"><i class="fa fa-shopping-cart"></i> <span translate="front.MYPRODUCTS" title="[['front.USERMENU.MYPRODUCTS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Products</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.myproducts.new({locale: locale})"><i class="fa fa-cart-plus"></i> <span translate="front.NEWPRODUCT" title="[['front.USERMENU.NEWPRODUCT' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>New Product</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.mybids.list({locale: locale})"><i class="fa fa-shopping-cart"></i> <span translate="front.MYBIDS" title="[['front.USERMENU.MYBIDS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Bids</span></a></li>
                <li ng-if="user.type == 'Supplier' || user.type == 'Both'"><a ui-sref="front.bookmarkproject.list({locale: locale})"><i class="fa fa-shopping-cart"></i> <span translate="front.BOOKMARKPROJECT" title="[['front.USERMENU.BOOKMARKPROJECT' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Bookmarks project</span></a></li>
            </ul>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.open3">
            <uib-accordion-heading>
                [[ 'front.MYALERTS'| translate]]
                <i class="fa pull-right" ng-class="{'fa-angle-down': status.open3, 'fa-angle-right': !status.open3}"></i>
            </uib-accordion-heading>
            <ul>
                <li><a ui-sref="front.myAlerts.list({locale: locale})"><i class="fa fa-bell"></i> <span translate="front.MYALERTS" title="[['front.USERMENU.MYALERTS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>My Alerts</span></a></li>
                <li><a ui-sref="front.myAlerts.new({locale: locale})"><i class="fa fa-plus-square"></i> <span translate="front.NEWALERT" title="[['front.USERMENU.NEWALERT' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>New alert</span></a></li>
                <li><a ui-sref="front.myAlerts.settings({locale: locale})"><i class="fa fa-cogs"></i> <span translate="front.ALERTSETTINGS" title="[['front.USERMENU.SETTINGS' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>settings</span></a></li>
            </ul>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.open4">
            <uib-accordion-heading>
                [[ 'front.MYMESSAGES'| translate]]
                <i class="fa pull-right" ng-class="{'fa-angle-down': status.open4, 'fa-angle-right': !status.open4}"></i>
            </uib-accordion-heading>
            <ul>
                <li><a ui-sref="front.messages.list({type: 'outbox', locale: locale})"><i class="fa fa-send"></i> <span translate="front.SENTMESSAGE" title="[['front.USERMENU.MYSENTMESSAGE' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Sent messages</span></a></li>
                <li><a ui-sref="front.messages.list({type: 'inbox', locale: locale})"><i class="fa fa-envelope"></i> <span translate="front.RECEIVEDMESSAGE" title="[['front.USERMENU.MYRECEIVEDMESSAGE' | translate]]" data-toggle="tooltip" data-placement="right" my-tooltip>Received message</span></a></li>
            </ul>
        </uib-accordion-group>

    </uib-accordion>

</div>