<div ng-if="user.email">

    <ul ng-if="user.type == 'Buyer' || user.type == 'Both'">
        <li><a ui-sref="front.mybuyers.list"><i class="fa fa-building"></i> <span translate="front.MYBUYERS">My Buyers</span></a></li>
        <li><a ui-sref="front.mybuyers.new"><i class="fa fa-plus"></i> <span translate="front.NEWBUYER">New Buyer</span></a></li>
        <li><a ui-sref="front.mytenders.list"><i class="fa fa-gavel"></i> <span translate="front.MYTENDERS">My Tenders</span></a></li>
        <li><a ui-sref="front.mytenders.new"><i class="fa fa-plus-circle"></i> <span translate="front.NEWTENDER">New Tender</span></a></li>
    </ul>

    <ul ng-if="user.type == 'Supplier' || user.type == 'Both'">
        <li><a ui-sref="front.mysuppliers.list"><i class="fa fa-user"></i> <span translate="front.MYSUPPLIERS">My Suppliers</span></a></li>
        <li><a ui-sref="front.mysuppliers.new"><i class="fa fa-user-plus"></i> <span translate="front.NEWSUPPLIER">New Supplier</span></a></li>
        <li><a ui-sref="front.myproducts.list"><i class="fa fa-shopping-cart"></i> <span translate="front.MYPRODUCTS">My Products</span></a></li>
        <li><a ui-sref="front.myproducts.new"><i class="fa fa-cart-plus"></i> <span translate="front.NEWPRODUCT">New Product</span></a></li>
    </ul>

    <ul>
        <li><a ui-sref="front.profile"><i class="fa fa-user-circle-o"></i> <span translate="front.MYPROFILE">My Profile</span></a></li>
        <li><a ui-sref="front.changepassword"><i class="fa fa-key"></i> <span translate="front.CHANGEPASSWORD">Change Password</span></a></li>
        <li><a ui-sref="front.logout"><i class="fa fa-sign-out"></i> <span translate="front.SIGNOUT">Sign-out</span></a></li>
    </ul>

</div>
