
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MENUS">Menus</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MenuCtrl">
            <div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMENUS">Back to Menus list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMENU">Add Menu</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(menu)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMENU">Edit Menu</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MENUDETAILS">Menu Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="menu.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="menu.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="menu.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODE">Mode</span></td>
                                <td>
                                    <span my-enum="[[ menu.mode ]]" my-enum-list="[[ modes ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MENUCSS">Menu Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.menu_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ITEMCSS">Item Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.item_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ACTIVECSS">Active Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.active_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NOTACTIVECSS">Not Active Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.not_active_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FIRSTCSS">First Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.first_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LASTCSS">Last Css</span></td>
                                <td>
                                    <div ng-bind-html="menu.last_css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BEFORETXT">Before Txt</span></td>
                                <td>
                                    <div ng-bind-html="menu.before_txt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AFTERTXT">After Txt</span></td>
                                <td>
                                    <div ng-bind-html="menu.after_txt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SEPARATOR">Separator</span></td>
                                <td>
                                    <div ng-bind-html="menu.separator"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COLUMNSNUMBER">Columns Number</span></td>
                                <td>
                                    <div ng-bind-html="menu.columns_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DISPLAYMODE">Display Mode</span></td>
                                <td>
                                    <span my-enum="[[ menu.display_mode ]]" my-enum-list="[[ displayModes ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEXTPOSITION">Text Position</span></td>
                                <td>
                                    <span my-enum="[[ menu.text_position ]]" my-enum-list="[[ textPositions ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLISHED">Is Published</span></td>
                                <td>
                                    <span my-boolean="[[ menu.is_published ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ menu.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: menu.creator_user.id})">[[ menu.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ menu.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: menu.modifier_user.id})">[[ menu.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
