
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MENUS">Menus</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MenuFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWMENU" ng-if="menu.id == 0">
                        New Menu
                    </legend>
                    <legend translate="content.list.EDITMENU" ng-if="menu.id > 0">
                        Edit Menu
                    </legend>
                    <form name="menuForm" id="menuForm" novalidate ng-submit="submitForm(menuForm)">
                        <input type="hidden" name="id" id="menuId" ng-model="menu.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':menuForm.name.$dirty && menuForm.name.$invalid, 'has-success':menuForm.name.$valid}">
                                    <label for="menuName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.name" type="text" name="name" id="menuName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="menu.name" my-resource-url="menus" my-current-id="[[ menu.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuForm.name.$dirty && menuForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="menuForm.name.$dirty && menuForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="menuForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="menu.name" to="menu.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':menuForm.slug.$dirty && menuForm.slug.$invalid, 'has-success':menuForm.slug.$valid}">
                                    <label for="menuSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.slug" type="text" name="slug" id="menuSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="menuForm.slug.$dirty && menuForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="menuForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuMode" class="control-label">
                                        <span translate="content.list.fields.MODE">Mode</span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="modes.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="mode in modes" ng-model="menu.mode" type="radio" id="mode[[ mode.id ]]" value="[[ mode.id ]]" name="mode" ng-required="false" />
                                        <label ng-repeat-end for="mode[[ mode.id ]]">
                                            [[ mode.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="modes.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in modes" ng-model="menu.mode" name="mode" id="menuMode" class="form-control" ng-required="false">
                                        </select>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuMenuCss" class="control-label">
                                        <span translate="content.list.fields.MENUCSS">Menu Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.menu_css" type="text" name="menuCss" id="menuMenuCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERMENUCSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuItemCss" class="control-label">
                                        <span translate="content.list.fields.ITEMCSS">Item Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.item_css" type="text" name="itemCss" id="menuItemCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERITEMCSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuActiveCss" class="control-label">
                                        <span translate="content.list.fields.ACTIVECSS">Active Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.active_css" type="text" name="activeCss" id="menuActiveCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERACTIVECSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuNotActiveCss" class="control-label">
                                        <span translate="content.list.fields.NOTACTIVECSS">Not Active Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.not_active_css" type="text" name="notActiveCss" id="menuNotActiveCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERNOTACTIVECSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuFirstCss" class="control-label">
                                        <span translate="content.list.fields.FIRSTCSS">First Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.first_css" type="text" name="firstCss" id="menuFirstCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERFIRSTCSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuLastCss" class="control-label">
                                        <span translate="content.list.fields.LASTCSS">Last Css</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.last_css" type="text" name="lastCss" id="menuLastCss" class="form-control" placeholder="[[ 'content.form.messages.ENTERLASTCSS' | translate ]]" ng-required="false" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuBeforeTxt" class="control-label">
                                        <span translate="content.list.fields.BEFORETXT">Before Txt</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.before_txt" type="text" name="beforeTxt" id="menuBeforeTxt" class="form-control" placeholder="[[ 'content.form.messages.ENTERBEFORETXT' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuAfterTxt" class="control-label">
                                        <span translate="content.list.fields.AFTERTXT">After Txt</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.after_txt" type="text" name="afterTxt" id="menuAfterTxt" class="form-control" placeholder="[[ 'content.form.messages.ENTERAFTERTXT' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuSeparator" class="control-label">
                                        <span translate="content.list.fields.SEPARATOR">Separator</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.separator" type="text" name="separator" id="menuSeparator" class="form-control" placeholder="[[ 'content.form.messages.ENTERSEPARATOR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="menuColumnsNumber" class="control-label">
                                        <span translate="content.list.fields.COLUMNSNUMBER">Columns Number</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="menu.columns_number" type="text" name="columnsNumber" id="menuColumnsNumber" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOLUMNSNUMBER' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':menuForm.displayMode.$dirty && menuForm.displayMode.$invalid, 'has-success':menuForm.displayMode.$valid}">
                                    <label for="menuDisplayMode" class="control-label">
                                        <span translate="content.list.fields.DISPLAYMODE">Display Mode</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="displayModes.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="displayMode in displayModes" ng-model="menu.display_mode" type="radio" id="display_mode[[ displayMode.id ]]" value="[[ displayMode.id ]]" name="displayMode" ng-required="true" />
                                        <label ng-repeat-end for="display_mode[[ displayMode.id ]]">
                                            [[ displayMode.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="displayModes.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in displayModes" ng-model="menu.display_mode" name="display_mode" id="menuDisplayMode" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="menuForm.displayMode.$dirty && menuForm.displayMode.$error.required" translate="content.form.messages.DISPLAYMODEREQUIRED">Display Mode is required.</span>
                                    <span class="success text-small block" ng-if="menuForm.displayMode.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':menuForm.textPosition.$dirty && menuForm.textPosition.$invalid, 'has-success':menuForm.textPosition.$valid}">
                                    <label for="menuTextPosition" class="control-label">
                                        <span translate="content.list.fields.TEXTPOSITION">Text Position</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="textPositions.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="textPosition in textPositions" ng-model="menu.text_position" type="radio" id="text_position[[ textPosition.id ]]" value="[[ textPosition.id ]]" name="textPosition" ng-required="true" />
                                        <label ng-repeat-end for="text_position[[ textPosition.id ]]">
                                            [[ textPosition.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="textPositions.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in textPositions" ng-model="menu.text_position" name="text_position" id="menuTextPosition" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="menuForm.textPosition.$dirty && menuForm.textPosition.$error.required" translate="content.form.messages.TEXTPOSITIONREQUIRED">Text Position is required.</span>
                                    <span class="success text-small block" ng-if="menuForm.textPosition.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="menu.is_published" type="checkbox" name="isPublished" id="menuIsPublished" />
                                    <label for="menuIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMENUS">Back to Menus list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(menuForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="menuForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="menus.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

