
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRANSLATIONREGIONS">Translation Regions</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TranslationRegionFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWTRANSLATIONREGION" ng-if="translationRegion.id == 0">
                        New Translation Region
                    </legend>
                    <legend translate="content.list.EDITTRANSLATIONREGION" ng-if="translationRegion.id > 0">
                        Edit Translation Region
                    </legend>
                    <form name="translationRegionForm" id="translationRegionForm" novalidate ng-submit="submitForm(translationRegionForm)">
                        <input type="hidden" name="id" id="translationRegionId" ng-model="translationRegion.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationRegionForm.region.$dirty && translationRegionForm.region.$invalid, 'has-success':translationRegionForm.region.$valid}">
                                    <label for="translationRegionRegion" class="control-label">
                                        <span translate="content.list.fields.REGION">Region</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="regionsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="translation_region_region_readonly" ng-options="item.id as item.name for item in regions | filter:{ hidden : false }" ng-model="translationRegion.region" name="region" id="translationRegionRegion" class="form-control" ng-required="true">
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="translationRegionForm.region.$dirty && translationRegionForm.region.$error.required" translate="content.form.messages.REGIONREQUIRED">Region is required.</span>
                                    <span class="success text-small block" ng-if="translationRegionForm.region.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationRegionForm.locale.$dirty && translationRegionForm.locale.$invalid, 'has-success':translationRegionForm.locale.$valid}">
                                    <label for="translationRegionLocale" class="control-label">
                                        <span translate="content.list.fields.LOCALE">Locale</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list">
                                        <select ng-options="langKey as langName for (langKey, langName) in languages" ng-model="translationRegion.locale" name="locale" id="translationRegionLocale" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="translationRegionForm.locale.$dirty && translationRegionForm.locale.$error.required" translate="content.form.messages.LOCALEREQUIRED">Locale is required.</span>
                                    <span class="success text-small block" ng-if="translationRegionForm.locale.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':translationRegionForm.name.$dirty && translationRegionForm.name.$invalid, 'has-success':translationRegionForm.name.$valid}">
                                    <label for="translationRegionName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="translationRegion.name" type="text" name="name" id="translationRegionName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="translationRegionForm.name.$dirty && translationRegionForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="translationRegionForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="translationRegion.validated" type="checkbox" name="validated" id="translationRegionValidated" />
                                    <label for="translationRegionValidated" translate="content.list.fields.VALIDATED">Validated</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRANSLATIONREGIONS">Back to Translation Regions list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(translationRegionForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="translationRegionForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="translationRegions.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

