@font-face {
    font-family: 'CenturyGothic';
    src: url('/front/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('/front/fonts/CenturyGothic.woff') format('woff'),
    url('/front/fonts/CenturyGothic.ttf')  format('truetype'),
    url('/front/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'CenturyGothic';
}

.bg-inverse {
    background-color: #1D69AD !important;
}

.navbar-logo-icon {
    background-image: url('/front/images/logo-e-electricity-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 85px;
    width: 58px;
    display: inline-block;
}

.navbar-logo-text {
    background-image: url('/front/images/logo-e-electricity-text.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 85px;
    width: 236px;
    display: inline-block;
}