@font-face {
    font-family: 'CenturyGothic';
    src: url('/front/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('/front/fonts/CenturyGothic.woff') format('woff'),
    url('/front/fonts/CenturyGothic.ttf')  format('truetype'),
    url('/front/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'CenturyGothic';
}

body {
    font-size: 0.8rem;
    background-image: url('/front/img/container.png');
    background-position: center 85px;
    background-repeat: no-repeat;
}

#electricity-navbar {
    background-color: #1D69AD !important;
    height: 86px;
    padding: 14px;
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

#electricity-navbar .header-container {
    width: 80%;
    margin: auto;
}

#electricity-navbar form {
    margin: 12px 0;
    width: 320px;
    position: relative;
}

#electricity-navbar button, #electricity-navbar button:after {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 38px;
    width: 38px;
    cursor: pointer;
    /*
    background-image: url('/front/img/search.png');
    background-position: center;
    background-repeat: no-repeat;
    */
}

#electricity-navbar button:after {
    color: #1D69AD;
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 38px;;
    content: "\f002";
    z-index: 10;
}

.navbar-logo-icon {
    background-image: url('/front/img/logo-e-electricity-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 58px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.navbar-logo-text {
    background-image: url('/front/img/logo-e-electricity-text.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 236px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#electricity-navbar .nav {
    margin: 14px 0;
}

#electricity-navbar .nav-link {
    background-color: #ffffff;
    color: #1D69AD;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

#language-switcher {
    margin: 14px 0 0 70px;
    height: 30px;
}

.flag {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: block;
    cursor: pointer;
}

.current-language {
    display: inline-block;
    border: 2px solid #ffffff;
    margin: 0 11px;
    position: relative;
}

.current-language .languages {
    display: none;
}

.current-language:hover .languages {
    display: inline;
}

.en {
    background-image: url('/front/img/circle-flags/United-Kingdom.png');
}

.es {
    background-image: url('/front/img/circle-flags/Spain.png');
}

.fr {
    background-image: url('/front/img/circle-flags/France.png');
}

.it {
    background-image: url('/front/img/circle-flags/Italy.png');
}

.de {
    background-image: url('/front/img/circle-flags/Germany.png');
}

.languages {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: #eeeeee;
    width: 50px;
    border: 1px solid #1D69AD;
    text-align: center;
    padding: 10px 10px 0px 10px;
    top: 28px;
    left: -11px;
}

.languages .flag {
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #eeeeee;
}

.languages .flag:hover {
    border: 2px solid #1D69AD;
}

#language-switcher .fa {
    color: #ffffff;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
}

#container {
    min-height: 500px;
    margin-top: 86px;
}

.footer-sep {
    border-top: 4px #1D69AD solid;
}

.footer-links {
    padding-right: 0;
}

.footer-links ul, .footer-links ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links ul li a {
    color: #1D69AD !important;
}

.footer-center ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
}

.footer-center ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
    display: inline;
    float: left;
    text-align: center;
    width: 20%;
}

.footer-center {
    max-width: 220px;
    margin: auto;
}

.footer-center ul li a {
    text-decoration: none;
}

.footer-center ul li a:before {
    height: 30px;
    width: 30px;
    margin: auto;
    display: block;
    text-align: center;
    /*background-position: center center;
    background-repeat: no-repeat;*/
    font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 30px;
    padding: 0;
}

.footer-center ul li a:before:hover {
    font-size: 32px;
}

.footer-center ul li a.fb:before {
    /*background-image: url('/front/img/fb.png');*/
    content: "\f082";
    color: #3e5b98;
}

.footer-center ul li a.tw:before {
    /*background-image: url('/front/img/tw.png');*/
    content: "\f081";
    color: #4da7de;
}

.footer-center ul li a.gp:before {
    /*background-image: url('/front/img/gp.png');*/
    content: "\f0d4";
    color: #dd4b39;
}

.footer-center ul li a.li:before {
    /*background-image: url('/front/img/li.png');*/
    content: "\f08c";
    color: #3371b7;
}

.footer-center ul li a.yt:before {
    /*background-image: url('/front/img/yt.png');*/
    content: "\f166";
    color: #e02a20;
}

p.keep-in-touch {
    text-align: center;
    background-image: linear-gradient(180deg, #1D69AD 1px, #ffffff 1px);
    background-position: center 10px;
    margin-top: 10px;
}

p.keep-in-touch a {
    font-size: 1rem;
    color: #1D69AD !important;
    background-color: #ffffff;
    padding: 0 8px;
    line-height: 20px;
}

p.copyright {
    color: #1D69AD !important;
    text-align: center;

}

.contact-footer {
    color: #1D69AD !important;
    display: block;
    text-align: right;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.contact-infos {
    border-left: 1px solid #1D69AD;
}

.contact-infos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-infos ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #1D69AD !important;
    line-height: 18px;
}

.contact-infos ul li i {
    font-style: normal;
}

.contact-infos ul li i:before {
    height: 18px;
    width: 18px;
    margin: auto;
    display: inline-block;
    /*ackground-position: center center;
    background-repeat: no-repeat;*/
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 18px;
    padding: 0;
}

.contact-infos ul li i.address:before {
    /*background-image: url('/front/img/address.png');*/
    content: "\f015";
}

.contact-infos ul li i.tel:before {
    /*background-image: url('/front/img/tel.png');*/
    content: "\f095";
}

.contact-infos ul li i.fax:before {
    /*background-image: url('/front/img/fax.png');*/
    content: "\f1ac";
}

.contact-infos ul li i.email:before {
    /*background-image: url('/front/img/email.png');*/
    content: "\f0e0";
}

.search-box, .search-box-home {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('/front/img/workman.png');
    height: 130px;
    padding: 60px 0 0 74px;
    background-color: transparent;
    margin: auto;
    max-width: 520px;
}

.search-box-home {
    background-position: center top;
    height: 230px;
    padding: 140px 0 0 0;
}

.search-box ul, .search-box-home ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    width: 320px;
    display: block;
    background-color: transparent;
}

.search-box-home ul {
    margin-top: 10px;
    width: 520px;
}

.search-box ul li, .search-box-home ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 24%;
    height: 36px;
    display: inline-block;
    text-align: center;
}

.search-box ul li a, .search-box-home ul li a  {
    height: 31px;
    width: 31px;
    margin: auto;
    padding-bottom: 5px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.search-box ul li a.plus, .search-box-home ul li a.plus {
    background-image: url('/front/img/plus.svg');
}

.search-box ul li a.flash, .search-box-home ul li a.flash {
    background-image: url('/front/img/flash.svg');
}

.search-box ul li a.microship, .search-box-home ul li a.microship {
    background-image: url('/front/img/microship.svg');
}

.search-box ul li a.pole, .search-box-home ul li a.pole {
    background-image: url('/front/img/pole.svg');
}

.search-box input, .search-box-home input {
    border-color: #1D69AD;
    max-width: 320px;
    display: inline;
    border-radius: 6px;
}

.search-box-home input {
    max-width: 390px;
}

.search-box button, .search-box-home button {
    background-color: #1D69AD;
    border: 1px solid #1D69AD;
    color: #ffffff;
    border: none;
    display: inline;
    min-width: 120px;
    float: right;
}

.slogan {
    font-size: 1rem;
}

.slogan b {
    color: #1D69AD;
    font-size: 2rem;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    border-bottom: 2px #1D69AD solid;
    margin: 20px 0;
    padding: 0 20px;
    display: inline-block;
    clear: both;
}

#specific_search label {
    color: #1D69AD;
}

.sidebar-label {
    border-bottom: 1px #000000 solid;
    margin: 10px 0;
    padding: 0 10px;
    display: inline-block;
    clear: both;
}

.input-group-addon {
    background-color: #1D69AD;
    color: #ffffff;
    cursor: pointer;
}

.input-group select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}

.nice-select {
    position: relative;
}

.nice-select select {
    z-index: 1;
}

.nice-select .input-group-addon {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 10;
    width: auto !important;
}

.categories-checkbox, .countries-checkbox  {
    height: 132px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
}

.categories-checkbox .form-group, .countries-checkbox .form-group {
    margin-bottom: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-image: url('/front/img/check.svg');
}

.product {
    text-align: center;
}

.product a {
    text-align: left;
    display: block;
    margin: 10px 0 20px 0;
    color: #918FA1;
}

.form-control {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.col-form-label {
    padding-top: 0.6rem;
}

input.form-control {
    padding: 0.7rem 0.75rem;
}

.notification {
    display: inline-block;
    height: 36px;
    width: 36px;
    position: relative;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
}

.notification:before {
    height: 36px;
    width: 36px;
    margin: auto;
    display: inline-block;
    text-align: center;
    /*background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/front/img/notification.png');*/
    font-family: 'FontAwesome';
    color: #1D69AD;
    font-size: 34px;
    line-height: 34px;
    padding: 0;
    content: "\f0f3";
}

.notification:hover:before {
    content: "\f0a2";
}

.notification .badge {
    background: red;
    text-align: center;
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
}

.user-photo {
    height: 34px;
    width: 34px;
    margin: 0 10px;
    display: inline-block;
    color: #36373B;
    background-color: #F6F6F9;
    font-size: 34px;
    line-height: 34px;
    border: 1px solid #36373B;
    border-radius: 18px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}

.Male {
    background-image: url('/front/img/Male.svg');
}

.Female {
    background-image: url('/front/img/Female.svg');
}

.user-photo:hover {
    border-color: #1D69AD;
}

.user-name {
    cursor: pointer;
    color: #1D69AD;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-weight: bold;
    vertical-align: top;
    position: relative;
}

.user-name:hover {
}

.user-name .submenu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #1D69AD;
    min-width: 130px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1000;
}

.user-name .submenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-name .submenu li a {
    display: block;
    line-height: 24px;
    padding: 0 10px;
    background: #eee;
}

.user-name .submenu li a:hover {
    background: #ccc;
    color: #333;
}

.user-name:hover .submenu {
    display: block;
}

.center-menu {
    max-width: 600px;
    margin: auto;
}

.center-menu ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 230px;
    text-align: center;
}

.center-menu ul li {
    height: 230px;
    width: 24%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
}

.center-menu ul li a {
    color: #616161;
    font-weight: bold;
    margin: 120px 0 0 0;
    padding: 0;
    display: none;
}

.center-menu ul li:hover a {
    display: block;
}

.center-menu ul li.publish {
    background-image: url('/front/img/publish.png');
}

.center-menu ul li.publish:hover {
    background-image: url('/front/img/publish_large.png');
}

.center-menu ul li.tender {
    background-image: url('/front/img/tender.png');
}

.center-menu ul li.tender:hover {
    background-image: url('/front/img/tender_large.png');
}

.center-menu ul li.proposal {
    background-image: url('/front/img/proposal.png');
}

.center-menu ul li.proposal:hover {
    background-image: url('/front/img/proposal_large.png');
}

.center-menu ul li.advertiser {
    background-image: url('/front/img/advertiser.png');
}

.center-menu ul li.advertiser:hover {
    background-image: url('/front/img/advertiser_large.png');
}

.center-menu h1 {
    color: #1D69AD;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin-top: 2rem;
}

.center-menu h1 b {
    font-weight: bold;
}

.center-menu p.usd {
    text-align: center;
    background-image: linear-gradient(180deg, #1D69AD 1px, #ffffff 1px);
    background-position: center 1rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.center-menu p.usd span {
    font-size: 1.5rem;
    color: #1D69AD !important;
    background-color: #ffffff;
    padding: 0 1rem;
}

.nav-menu {
    height: 3rem;
    border-bottom: 2px solid #1D69AD;
}

.nav-menu ul {
    display: inline;
    margin: 8px 0 0 0;
    padding: 0;
    list-style: none;
    vertical-align: bottom;
}

.nav-menu ul li {
    display: inline;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
}

.nav-menu ul li a {
    color: #999999!important;
    font-weight: bold;
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: #eee;
}

.nav-menu ul li:hover a {
    color: #1D69AD!important;
}

.nav-menu ul li.active a {
    background-color: #1D69AD;
    color: #ffffff!important;
}

.nav-tabs ul li.active a {
    background-color: #1D69AD;
    color: #ffffff!important;
}


.sort-by label {
    color: #1D69AD;
    text-transform: uppercase;
}

.sort-by label .input-group {
    width: auto;
}

.sort-by select {
    min-width: 120px;
}

.tender-preview {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DFE6F0;
}

.tender-preview .name {
    font-size: 1.2rem;
    color: #013486!important;
    cursor: pointer;
    font-family: Arial!important;
}

.tender-preview .reference {
    color: #000000;
    font-weight: bold;
}

.tender-preview .description {
    font-family: Arial!important;
}

.tender-preview .dates * {
    font-family: Arial!important;
    font-weight: bold;
}

.tender-preview button {
    background-color: #1D69AD;
    color: #ffffff!important;
}

.tender-preview button:hover {
    background-color: #eeeeee;
    color: #1D69AD!important;
}

.tender-details .name {
    font-size: 1.5rem;
    color: #013486!important;
    cursor: pointer;
    font-family: Arial!important;
    margin-top: 2rem;
}

.tender-details table tr th {
    min-width: 150px;
   border-bottom: 1px solid #ccc;
}

.tender-details table tr td {
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}

.tender-details table tr td span.value {
    border-left: 1px solid #000000;
    padding-left: 0.75rem;
    display: block;
}

.tender-details button {
    background-color: #1D69AD;
    color: #ffffff!important;
}

.tender-details button:hover {
    background-color: #eeeeee;
    color: #1D69AD!important;
}

.tender-details .country {
    height: 23.5px;
    width: 35px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
}

.tender-details .country-ae {
    background-image: url('/front/img/flags/United-Arab-Emirates.png');
}

span.input-icon, span.input-help {
    display: block;
    position: relative;
}

.input-icon > input {
    padding-left: 30px !important;
    padding-right: 6px;
}

.input-icon.input-icon-right > input {
    padding-left: 6px !important;
    padding-right: 30px !important;
}

span.input-help > input {
    padding-left: 30px;
    padding-right: 6px;
}

.input-icon > [class*="fa-"], .input-icon > [class*="ti-"] {
    bottom: 0;
    color: #1D69AD;
    display: inline-block;
    left: 5px;
    line-height: 35px;
    padding: 0 3px;
    position: absolute;
    top: -1px;
    z-index: 2;
}

.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="ti-"] {
    left: auto;
    right: 4px;
}

.form-group .select-list select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}

.control-label {
    color: #1D69AD;
}

.input-group-btn .fa {
    color: #ffffff;
}

.btn-primary {
    color: #ffffff!important;
}

fieldset legend {
    font-size: 2rem;
    color: #013486 !important;
    border-bottom: 1px solid #eee;
}

fieldset h2 {
    font-size: 1.5rem;
    color: #013486 !important;
}

.error {
    color: red;
}

.success {
    color: green;
}

#partial_profile_menu {
    border-right: 1px solid #1D69AD;
}

#partial_profile_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1rem;
}

#partial_profile_menu ul li {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

#partial_profile_menu ul li a {
    font-size: 1rem;
    display: block;
}

.list-toolbox {
    margin-bottom: 20px;
}

.list-toolbox .btn {
    font-size: 0.8rem!important;
    padding: 0.5rem 0.5rem!important;
}