
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHGOALS">Match Goals</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchGoalCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHGOALS">Back to Match Goals list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMATCHGOAL">Add Match Goal</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(matchGoal)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMATCHGOAL">Edit Match Goal</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MATCHGOALDETAILS">Match Goal Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="matchGoal.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MATCH">Match</span></td>
                                <td><a ui-sref="app.matchday.matchesdetails({id: matchGoal.match.id})">[[ matchGoal.match.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAM">Team</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: matchGoal.team.id})">[[ matchGoal.team.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYER">Player</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: matchGoal.player.id})">[[ matchGoal.player.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MINUTE">Minute</span></td>
                                <td>
                                    <div ng-bind-html="matchGoal.minute"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SCOREDWITH">Scored With</span></td>
                                <td>
                                    <span my-enum="[[ matchGoal.scored_with ]]" my-enum-list="[[ scoredWiths ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZONE">Zone</span></td>
                                <td>
                                    <span my-enum="[[ matchGoal.zone ]]" my-enum-list="[[ zones ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STADIUMZONE">Stadium Zone</span></td>
                                <td>
                                    <span my-enum="[[ matchGoal.stadium_zone ]]" my-enum-list="[[ stadiumZones ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PENALTY">Penalty</span></td>
                                <td>
                                    <span my-boolean="[[ matchGoal.penalty ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ matchGoal.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchGoal.creator_user.id})">[[ matchGoal.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ matchGoal.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchGoal.modifier_user.id})">[[ matchGoal.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
