
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.NOTIFICATIONS">Notifications</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="NotificationFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWNOTIFICATION" ng-if="notification.id == 0">
                        New Notification
                    </legend>
                    <legend translate="content.list.EDITNOTIFICATION" ng-if="notification.id > 0">
                        Edit Notification
                    </legend>
                    <form name="notificationForm" id="notificationForm" novalidate ng-submit="submitForm(notificationForm, true)">
                        <input type="hidden" name="id" id="notificationId" ng-model="notification.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':notificationForm.content.$dirty && notificationForm.content.$invalid, 'has-success':notificationForm.content.$valid}">
                                    <label for="notificationContent" class="control-label">
                                        <span translate="content.list.fields.CONTENT">Content</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="notification.content" type="text" name="content" id="notificationContent" class="form-control" placeholder="[[ 'content.form.messages.ENTERCONTENT' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="notificationForm.content.$dirty && notificationForm.content.$error.required" translate="content.form.messages.CONTENTREQUIRED">Content is required.</span>
                                    <span class="success text-small block" ng-if="notificationForm.content.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':notificationForm.link.$dirty && notificationForm.link.$invalid, 'has-success':notificationForm.link.$valid}">
                                    <label for="notificationLink" class="control-label">
                                        <span translate="content.list.fields.LINK">Link</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-readonly="false" ng-model="notification.link" type="text" name="link" id="notificationLink" class="form-control" placeholder="[[ 'content.form.messages.ENTERLINK' | translate ]]" ng-required="true" />
                                        <i class="ti-link"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="notificationForm.link.$dirty && notificationForm.link.$error.required" translate="content.form.messages.LINKREQUIRED">Link is required.</span>
                                    <span class="success text-small block" ng-if="notificationForm.link.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-readonly="false" ng-model="notification.read" type="checkbox" name="read" id="notificationRead" />
                                    <label for="notificationRead" translate="content.list.fields.READ">Read</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKNOTIFICATIONS">Back to Notifications list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="notification.id > 0" type="button" ng-click="submitForm(notificationForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="notificationForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit && !redirect"></i><i class="fa fa-check-circle" ng-if="!(disableSubmit && !redirect)"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(notificationForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="notificationForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit && redirect"></i><i class="ti-save" ng-if="!(disableSubmit && redirect)"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="notifications.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

