
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TEAMS">Teams</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TeamCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTEAMS">Back to Teams list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDTEAM">Add Team</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(team)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITTEAM">Edit Team</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.TEAMDETAILS">Team Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="team.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COUNTRY">Country</span></td>
                                <td><a ui-sref="app.settings.countriesdetails({id: team.country.id})">[[ team.country.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="team.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEAR">Name Ar</span></td>
                                <td>
                                    <div ng-bind-html="team.name_ar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAMEFR">Name Fr</span></td>
                                <td>
                                    <div ng-bind-html="team.name_fr"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ALIAS">Alias</span></td>
                                <td>
                                    <div ng-bind-html="team.alias"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PICTURE">Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="team.picture != '' && team.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + team.picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRESIDENTNAME">President Name</span></td>
                                <td>
                                    <div ng-bind-html="team.president_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COACHNAME">Coach Name</span></td>
                                <td>
                                    <div ng-bind-html="team.coach_name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FONDATIONYEAR">Fondation Year</span></td>
                                <td>
                                    <div ng-bind-html="team.fondation_year"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STADIUM">Stadium</span></td>
                                <td><a ui-sref="app.events.stadiadetails({id: team.stadium.id})">[[ team.stadium.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ADDRESS">Address</span></td>
                                <td>
                                    <div ng-bind-html="team.address"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ZIPCODE">Zip Code</span></td>
                                <td>
                                    <div ng-bind-html="team.zip_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PHONE">Phone</span></td>
                                <td>
                                    <div ng-bind-html="team.phone"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FAX">Fax</span></td>
                                <td>
                                    <div ng-bind-html="team.fax"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="team.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.WEBSITE">Website</span></td>
                                <td>
                                    <div ng-bind-html="team.website"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.COLOR">Color</span></td>
                                <td>
                                    <div ng-bind-html="team.color"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAMTYPE">Team Type</span></td>
                                <td>
                                    <span my-enum="[[ team.team_type ]]" my-enum-list="[[ teamTypes ]]"></span>
                                </td>
                            </tr>
                            <tr ng-if="currentUser.roles.join('').indexOf('ROLE_ADMIN_PUBLISHER') > -1" >
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ team.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUMMARY">Summary</span></td>
                                <td>
                                    <div ng-bind-html="team.summary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EUROSPORT">Eurosport</span></td>
                                <td>
                                    <div ng-bind-html="team.eurosport"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LEQUIPE">Lequipe</span></td>
                                <td>
                                    <div ng-bind-html="team.lequipe"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ team.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: team.creator_user.id})">[[ team.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ team.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: team.modifier_user.id})">[[ team.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
