
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BANNERPOSITIONS">Banner Positions</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BannerPositionFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWBANNERPOSITION" ng-if="bannerPosition.id == 0">
                        New Banner Position
                    </legend>
                    <legend translate="content.list.EDITBANNERPOSITION" ng-if="bannerPosition.id > 0">
                        Edit Banner Position
                    </legend>
                    <form name="bannerPositionForm" id="bannerPositionForm" novalidate ng-submit="submitForm(bannerPositionForm)">
                        <div class="row">
                            <input type="hidden" name="id" id="bannerPositionId" ng-model="bannerPosition.id" />
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':bannerPositionForm.name.$dirty && bannerPositionForm.name.$invalid, 'has-success':bannerPositionForm.name.$valid}">
                                    <label for="bannerPositionName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bannerPosition.name" type="text" name="name" id="bannerPositionName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerPositionForm.name.$dirty && bannerPositionForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="bannerPositionForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                                    <slug from="bannerPosition.name" to="bannerPosition.slug"></slug>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':bannerPositionForm.slug.$dirty && bannerPositionForm.slug.$invalid, 'has-success':bannerPositionForm.slug.$valid}">
                                    <label for="bannerPositionSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bannerPosition.slug" type="text" name="slug" id="bannerPositionSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerPositionForm.slug.$dirty && bannerPositionForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="bannerPositionForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':bannerPositionForm.itemsNumber.$dirty && bannerPositionForm.itemsNumber.$invalid, 'has-success':bannerPositionForm.itemsNumber.$valid}">
                                    <label for="bannerPositionItemsNumber" class="control-label">
                                        <span translate="content.list.fields.ITEMSNUMBER">Items Number</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bannerPosition.items_number" type="text" name="itemsNumber" id="bannerPositionItemsNumber" class="form-control" placeholder="[[ 'content.form.messages.ENTERITEMSNUMBER' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerPositionForm.itemsNumber.$dirty && bannerPositionForm.itemsNumber.$error.required" translate="content.form.messages.ITEMSNUMBERREQUIRED">Items Number is required.</span>
                                    <span class="success text-small block" ng-if="bannerPositionForm.itemsNumber.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':bannerPositionForm.displayTime.$dirty && bannerPositionForm.displayTime.$invalid, 'has-success':bannerPositionForm.displayTime.$valid}">
                                    <label for="bannerPositionDisplayTime" class="control-label">
                                        <span translate="content.list.fields.DISPLAYTIME">Display Time</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bannerPosition.display_time" type="text" name="displayTime" id="bannerPositionDisplayTime" class="form-control" placeholder="[[ 'content.form.messages.ENTERDISPLAYTIME' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-alarm-clock"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="bannerPositionForm.displayTime.$dirty && bannerPositionForm.displayTime.$error.required" translate="content.form.messages.DISPLAYTIMEREQUIRED">Display Time is required.</span>
                                    <span class="success text-small block" ng-if="bannerPositionForm.displayTime.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="bannerPosition.is_full_screen" type="checkbox" name="isFullScreen" id="bannerPositionIsFullScreen" />
                                    <label for="bannerPositionIsFullScreen" translate="content.list.fields.ISFULLSCREEN">Is Full Screen</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="bannerPosition.display_one_time" type="checkbox" name="displayOneTime" id="bannerPositionDisplayOneTime" />
                                    <label for="bannerPositionDisplayOneTime" translate="content.list.fields.DISPLAYONETIME">Display One Time</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="bannerPosition.is_published" type="checkbox" name="isPublished" id="bannerPositionIsPublished" />
                                    <label for="bannerPositionIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBANNERPOSITIONS">Back to Banner Positions list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(bannerPositionForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="bannerPositionForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="bannerPositions.length > 0">
                    </div>
                </fieldset>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

