
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BANNERPOSITIONS">Banner Positions</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BannerPositionCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBANNERPOSITIONS">Back to Banner Positions list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDBANNERPOSITION">Add Banner Position</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(bannerPosition)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITBANNERPOSITION">Edit Banner Position</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.BANNERPOSITIONDETAILS">Banner Position Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="bannerPosition.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="bannerPosition.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="bannerPosition.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ITEMSNUMBER">Items Number</span></td>
                                <td>
                                    <div ng-bind-html="bannerPosition.items_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DISPLAYTIME">Display Time</span></td>
                                <td>
                                    <div ng-bind-html="bannerPosition.display_time"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISFULLSCREEN">Is Full Screen</span></td>
                                <td>
                                    <span my-boolean="[[ bannerPosition.is_full_screen ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DISPLAYONETIME">Display One Time</span></td>
                                <td>
                                    <span my-boolean="[[ bannerPosition.display_one_time ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISPUBLISHED">Is Published</span></td>
                                <td>
                                    <span my-boolean="[[ bannerPosition.is_published ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ bannerPosition.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: bannerPosition.creator_user.id})">[[ bannerPosition.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ bannerPosition.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: bannerPosition.modifier_user.id})">[[ bannerPosition.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
