
<div ng-controller="HomeCtrl" class="home">
    <h1 translate="front.CONNECTWITH">CONNECT whith electricity business lead</h1>
    <ul ng-if="homeLoaded"><li>
            <div>
                <i class="buyer" ng-click="goBuyers()"></i>
                <span translate="front.BUYER">Buyer</span>
                <p translate="front.BUYERDESCRIPTION">anyone looks for broadcasting business apportunities all over the world an compare bids</p>
            </div>
            <a ui-sref="front.buyers" translate="front.LEARMORE">Learn more</a>
        </li><li>
            <div>
                <i class="supplier" ng-click="goSuppliers()"></i>
                <span translate="front.SUPPLIER">Supplier</span>
                <p translate="front.SUPPLIERDESCRIPTION">anyone looks for business apportunities to expand affair</p>
            </div>
            <a ui-sref="front.suppliers" translate="front.LEARMORE">Learn more</a>
        </li><li>
            <div>
                <i class="service_requester" ng-click="goBuyers()"></i>
                <span translate="front.SERVICEREQUESTER">Service Requester</span>
                <p translate="front.SERVICEREQUESTERDESCRIPTION">anyone requests services within the electrical business industry</p>
            </div>
            <a ui-sref="front.buyers" translate="front.LEARMORE">Learn more</a>
        </li><li>
            <div>
                <i class="service_provider" ng-click="goSuppliers()"></i>
                <span translate="front.SERVICEPROVIDER">Service Provider</span>
                <p translate="front.SERVICEPROVIDERDESCRIPTION">a business responds to all your electrical service needs</p>
            </div>
            <a ui-sref="front.suppliers" translate="front.LEARMORE">Learn more</a>
        </li><li>
            <div>
                <i class="logistic_agent" ng-click="goSuppliers()"></i>
                <span translate="front.LOGISTICAGENT">Logistic Agent</span>
                <p translate="front.LOGISTICAGENTDESCRIPTION">a business responds to all your carrer service needs</p>
            </div>
            <a ui-sref="front.suppliers" translate="front.LEARMORE">Learn more</a>
    </li></ul>
</div>

<!--
<div class="mt-2 mb-3 pb-3" ng-controller="searchFormCtrl">
    <div class="search-box-home" ng-show="!loggedIn">
        <form name="searchForm" id="searchForm" ng-submit="submitSearch(searchText)">
            <input class="form-control" translate-attr-placeholder="front.WHATYOUAREBIDDING" placeholder="What you are bidding..." type="text" id="searchText" name="searchText" ng-model="searchText"/>
            <button class="btn" type="submit" translate="content.form.buttons.FIND" ng-submit="submitSearch(searchText)">Find</button>
        </form>
        <ul>
            <li><a class="plus"></a></li>
            <li><a class="flash"></a></li>
            <li><a class="microship"></a></li>
            <li><a class="pole"></a></li>
        </ul>
    </div>

    <div ng-show="loggedIn" data-ng-include="'/bundles/ubidelectricity/js/front/Auth/user_menu.html'"></div>

</div>
-->