
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHLINEUPS">Match Line Ups</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchLineUpCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHLINEUPS">Back to Match Line Ups list</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDMATCHLINEUP">Add Match Line Up</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(matchLineUp)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITMATCHLINEUP">Edit Match Line Up</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.MATCHLINEUPDETAILS">Match Line Up Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="matchLineUp.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MATCH">Match</span></td>
                                <td><a ui-sref="app.matchday.matchesdetails({id: matchLineUp.match.id})">[[ matchLineUp.match.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEAM">Team</span></td>
                                <td><a ui-sref="app.events.teamsdetails({id: matchLineUp.team.id})">[[ matchLineUp.team.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PLAYER">Player</span></td>
                                <td><a ui-sref="app.events.playersdetails({id: matchLineUp.player.id})">[[ matchLineUp.player.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LINEUPTYPE">Line Up Type</span></td>
                                <td>
                                    <span my-enum="[[ matchLineUp.line_up_type ]]" my-enum-list="[[ lineUpTypes ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ matchLineUp.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchLineUp.creator_user.id})">[[ matchLineUp.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ matchLineUp.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: matchLineUp.modifier_user.id})">[[ matchLineUp.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
