
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHLINEUPS">Match Line Ups</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchLineUpFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWMATCHLINEUP" ng-if="matchLineUp.id == 0">
                        New Match Line Up
                    </legend>
                    <legend translate="content.list.EDITMATCHLINEUP" ng-if="matchLineUp.id > 0">
                        Edit Match Line Up
                    </legend>
                    <form name="matchLineUpForm" id="matchLineUpForm" novalidate ng-submit="submitForm(matchLineUpForm)">
                        <input type="hidden" name="id" id="matchLineUpId" ng-model="matchLineUp.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchLineUpForm.match.$dirty && matchLineUpForm.match.$invalid, 'has-success':matchLineUpForm.match.$valid}">
                                    <label for="matchLineUpMatch" class="control-label">
                                        <span translate="content.list.fields.MATCH">Match</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="matchesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="match_line_up_match_readonly" ng-options="item.id as item.name for item in matches | filter:{ hidden : false }" ng-model="matchLineUp.match" name="match" id="matchLineUpMatch" class="form-control" ng-required="true" ng-change="changeMatch()">
                                        </select>
                                        <i class="fa fa-futbol-o"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="matchLineUpForm.match.$dirty && matchLineUpForm.match.$error.required" translate="content.form.messages.MATCHREQUIRED">Match is required.</span>
                                    <span class="success text-small block" ng-if="matchLineUpForm.match.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchLineUpForm.team.$dirty && matchLineUpForm.team.$invalid, 'has-success':matchLineUpForm.team.$valid}">
                                    <label for="matchLineUpTeam" class="control-label">
                                        <span translate="content.list.fields.TEAM">Team</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="teamsLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="match_line_up_team_readonly" ng-options="item.id as item.name for item in teams | filter:{ hidden : false }" ng-model="matchLineUp.team" name="team" id="matchLineUpTeam" class="form-control" ng-required="true" ng-change="changeTeam()">
                                        </select>
                                        <i class="fa fa-users"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="matchLineUpForm.team.$dirty && matchLineUpForm.team.$error.required" translate="content.form.messages.TEAMREQUIRED">Team is required.</span>
                                    <span class="success text-small block" ng-if="matchLineUpForm.team.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchLineUpForm.player.$dirty && matchLineUpForm.player.$invalid, 'has-success':matchLineUpForm.player.$valid}">
                                    <label for="matchLineUpPlayer" class="control-label">
                                        <span translate="content.list.fields.PLAYER">Player</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="playersLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="match_line_up_player_readonly" ng-options="item.id as item.name for item in players | filter:{ hidden : false }" ng-model="matchLineUp.player" name="player[]" id="matchLineUpPlayer" class="form-control" ng-required="true" multiple="multiple" size="10">
                                        </select>
                                        <i class="fa fa-user"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="matchLineUpForm.player.$dirty && matchLineUpForm.player.$error.required" translate="content.form.messages.PLAYERREQUIRED">Player is required.</span>
                                    <span class="success text-small block" ng-if="matchLineUpForm.player.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchLineUpForm.lineUpType.$dirty && matchLineUpForm.lineUpType.$invalid, 'has-success':matchLineUpForm.lineUpType.$valid}">
                                    <label for="matchLineUpLineUpType" class="control-label">
                                        <span translate="content.list.fields.LINEUPTYPE">Line Up Type</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="lineUpTypes.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="lineUpType in lineUpTypes" ng-model="matchLineUp.line_up_type" type="radio" id="line_up_type[[ lineUpType.id ]]" value="[[ lineUpType.id ]]" name="lineUpType" ng-required="true" />
                                        <label ng-repeat-end for="line_up_type[[ lineUpType.id ]]">
                                            [[ lineUpType.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="lineUpTypes.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in lineUpTypes" ng-model="matchLineUp.line_up_type" name="line_up_type" id="matchLineUpLineUpType" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="matchLineUpForm.lineUpType.$dirty && matchLineUpForm.lineUpType.$error.required" translate="content.form.messages.LINEUPTYPEREQUIRED">Line Up Type is required.</span>
                                    <span class="success text-small block" ng-if="matchLineUpForm.lineUpType.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHLINEUPS">Back to Match Line Ups list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(matchLineUpForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="matchLineUpForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="matchLineUps.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

