
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BIDPRODUCTS">Bid Products</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BidProductFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWBIDPRODUCT" ng-if="bidProduct.id == 0">
                        New Bid Product
                    </legend>
                    <legend translate="content.list.EDITBIDPRODUCT" ng-if="bidProduct.id > 0">
                        Edit Bid Product
                    </legend>
                    <form name="bidProductForm" id="bidProductForm" novalidate ng-submit="submitForm(bidProductForm)">
                        <input type="hidden" name="id" id="bidProductId" ng-model="bidProduct.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bidProductForm.tenderProduct.$dirty && bidProductForm.tenderProduct.$invalid, 'has-success':bidProductForm.tenderProduct.$valid}">
                                    <label for="bidProductTenderProduct" class="control-label">
                                        <span translate="content.list.fields.TENDERPRODUCT">Tender Product</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="tenderProductsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="bid_product_tender_product_readonly" ng-options="item.id as item.title for item in tenderProducts | filter:{ hidden : false }" ng-model="bidProduct.tender_product" name="tenderProduct" id="bidProductTenderProduct" class="form-control" ng-required="true">
                                            </select>
                                            <i class="ti-control-skip-backward"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="bidProductForm.tenderProduct.$dirty && bidProductForm.tenderProduct.$error.required" translate="content.form.messages.TENDERPRODUCTREQUIRED">Tender Product is required.</span>
                                    <span class="success text-small block" ng-if="bidProductForm.tenderProduct.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bidProductForm.bid.$dirty && bidProductForm.bid.$invalid, 'has-success':bidProductForm.bid.$valid}">
                                    <label for="bidProductBid" class="control-label">
                                        <span translate="content.list.fields.BID">Bid</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="bidsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="bid_product_bid_readonly" ng-options="item.id as item.title for item in bids | filter:{ hidden : false }" ng-model="bidProduct.bid" name="bid" id="bidProductBid" class="form-control" ng-required="true">
                                            </select>
                                            <i class="ti-marker-alt"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="bidProductForm.bid.$dirty && bidProductForm.bid.$error.required" translate="content.form.messages.BIDREQUIRED">Bid is required.</span>
                                    <span class="success text-small block" ng-if="bidProductForm.bid.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':bidProductForm.supplierProduct.$dirty && bidProductForm.supplierProduct.$invalid, 'has-success':bidProductForm.supplierProduct.$valid}">
                                    <label for="bidProductSupplierProduct" class="control-label">
                                        <span translate="content.list.fields.SUPPLIERPRODUCT">Supplier Product</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="block select-list" ng-if="supplierProductsLoaded">
                                        <span class="input-icon">
                                            <select ng-readonly="bid_product_supplier_product_readonly" ng-options="item.id as item.name for item in supplierProducts | filter:{ hidden : false }" ng-model="bidProduct.supplier_product" name="supplierProduct" id="bidProductSupplierProduct" class="form-control" ng-required="true">
                                            </select>
                                            <i class="ti-marker-alt"></i>
                                        </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="bidProductForm.supplierProduct.$dirty && bidProductForm.supplierProduct.$error.required" translate="content.form.messages.SUPPLIERPRODUCTREQUIRED">Supplier Product is required.</span>
                                    <span class="success text-small block" ng-if="bidProductForm.supplierProduct.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bidProductNewUnitCost" class="control-label">
                                        <span translate="content.list.fields.NEWUNITCOST">New Unit Cost</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bidProduct.new_unit_cost" type="text" name="newUnitCost" id="bidProductNewUnitCost" class="form-control" placeholder="[[ 'content.form.messages.ENTERNEWUNITCOST' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-money"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bidProductQuantity" class="control-label">
                                        <span translate="content.list.fields.QUANTITY">Quantity</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bidProduct.quantity" type="text" name="quantity" id="bidProductQuantity" class="form-control" placeholder="[[ 'content.form.messages.ENTERQUANTITY' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bidProductDuration" class="control-label">
                                        <span translate="content.list.fields.DURATION">Duration</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bidProduct.duration" type="text" name="duration" id="bidProductDuration" class="form-control" placeholder="[[ 'content.form.messages.ENTERDURATION' | translate ]]" touchspin data-min="0" data-max="10000000" data-step="0.1" data-decimals="2" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="ti-timer"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="bidProductOrdering" class="control-label">
                                        <span translate="content.list.fields.ORDERING">Ordering</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="bidProduct.ordering" type="text" name="ordering" id="bidProductOrdering" class="form-control" placeholder="[[ 'content.form.messages.ENTERORDERING' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="false" />
                                        <i class="fa fa-list-ol"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKBIDPRODUCTS">Back to Bid Products list</span>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <button ng-if="bidProduct.id > 0" type="button" ng-click="submitForm(bidProductForm, false)" class="btn btn-primary" ng-disabled="disableSubmit"> <!--  ng-disabled="bidProductForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="fa fa-check-circle" ng-if="!disableSubmit"></i> <span translate="content.common.APPLY">Apply</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(bidProductForm, true)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="bidProductForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="bidProducts.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-sm-12 col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

