
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.BIDPRODUCTS">Bid Products</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="BidProductCtrl">
            <div>
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span class="hidden-xs hidden-sm" translate="content.list.BACKBIDPRODUCTS">Back to Bid Products list</span> <span class="hidden-md hidden-lg" translate="content.common.BACK">Back</span>
                           </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                        <button  type="button" ng-click="add()" class="btn btn-primary pull-right">
                            <i class="ti-plus"></i> <span translate="content.list.ADDBIDPRODUCT">Add Bid Product</span>
                        </button>
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                        <button type="button" ng-click="edit(bidProduct)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITBIDPRODUCT">Edit Bid Product</span>
                        </button>
                    </div>
                </div><!--/list-toolbox-->
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.BIDPRODUCTDETAILS">Bid Product Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="bidProduct.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TENDERPRODUCT">Tender Product</span></td>
                                <td><a ui-sref="app.marketplace.tenderproductsdetails({id: bidProduct.tender_product.id})">[[ bidProduct.tender_product.title ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BID">Bid</span></td>
                                <td><a ui-sref="app.marketplace.bidsdetails({id: bidProduct.bid.id})">[[ bidProduct.bid.title ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SUPPLIERPRODUCT">Supplier Product</span></td>
                                <td><a ui-sref="app.marketplace.supplierproductsdetails({id: bidProduct.supplier_product.id})">[[ bidProduct.supplier_product.name ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NEWUNITCOST">New Unit Cost</span></td>
                                <td>
                                    <div ng-bind-html="bidProduct.new_unit_cost"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.QUANTITY">Quantity</span></td>
                                <td>
                                    <div ng-bind-html="bidProduct.quantity"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DURATION">Duration</span></td>
                                <td>
                                    <div ng-bind-html="bidProduct.duration"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ORDERING">Ordering</span></td>
                                <td>
                                    <div ng-bind-html="bidProduct.ordering"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ bidProduct.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: bidProduct.creator_user.id})">[[ bidProduct.creator_user.username ]]</a></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ bidProduct.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: bidProduct.modifier_user.id})">[[ bidProduct.modifier_user.username ]]</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/table-responsive-->
                <div class="row list-toolbox">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4  margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div><!--/list-toolbox-->
             </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
