<!DOCTYPE html>
<html lang="en" data-ng-app="UbidElectricityFront">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" />

    <title data-ng-bind="pageTitle()">{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <!-- Bootstrap core CSS -->
        {% stylesheets
        '@bootstrap_4_css'
        '@font_awesome'
        '@themify_icons'
        '@loading_bar_css'
        '@animate_css'
        '@angular_table_css'
        '@bootstrap_colorpicker_css'
        '@toaster_css'
        '@jqueryui_css'
        '@elfinder_css'
        '@color_picker_css'
        '@multirange_slider_css'
        '@site_front_css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}
    <link href="/front/css/e-elctricity.css" rel="stylesheet" />

</head>

<body ng-controller="FrontCtrl">

{% block body %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@jquery'
    '@bootstrap_4_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>

