<!DOCTYPE html>
<html lang="en" data-ng-app="UbidElectricityFront">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="[[pageDescription()]]"/>
    <meta name="keywords" content="[[pageKeywords()]]" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="[[app.author]]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="fragment" content="!" />
    <base href="/">
    <title>[[pageTitle()]] {% block title %}| E-electricity{% endblock %}</title>
    {% block stylesheets %}

        {% stylesheets
        '@bootstrap_4_css'
        '@font_awesome'
        '@themify_icons'
        '@loading_bar_css'
        '@animate_css'
        '@angular_table_css'
        '@bootstrap_colorpicker_css'
        '@toaster_css'
        '@jqueryui_css'
        '@elfinder_css'
        '@color_picker_css'
        '@multirange_slider_css'
        '@site_front_css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}


    <link rel="icon" href="/favicon.ico" />
</head>
<body ng-controller="FrontCtrl">

{% block body %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@jquery'
    '@bootstrap_4_js'
    '@jqueryui'
    '@elfinder'
    '@fastclick'
    '@angular'
    '@angular_storage'
    '@angular_table'
    '@angular_translate'
    '@angular_scroll'
    '@angular_file_uplaod'
    '@bootstrap_colorpicker'
    '@videogular'
    '@oclazyload'
    '@breadcrumb'
    '@ui_bootstrap'
    '@loading_bar'
    '@color_picker'
    '@locationpicker'
    '@multirange_slider'
    '@site_front_scripts'
    '@continuous_net_services'
    '@continuous_net_directives'
    '@site_front_controller' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>
