<div ng-controller="tendersFrontCtrl">
    <div class="tender-preview"  ng-repeat="tender in tendersList">
        <a class="name" ui-sref="front.tender({id: [[ tender.id ]]})">[[ tender.title ]]</a>
        <p class="reference"><span translate="front.REFNUMBER">Ref number</span> :  [[ tender.reference ]]</p>
        <p class="description" ng-bind-html="[[ tender.description ]]"></p>
        <div class="dates row">
            <p class="col-md-6"><span translate="front.STARTDATE">Start Date</span> : [[ tender.publish_date | date : formats.DATE  | translate  ]]</p>
            <p class="col-md-6"><span translate="front.DUEDATE">Due Date</span> : [[ tender.deadline | date : formats.DATE  | translate  ]]</p>
        </div>
        <div class="row">
            <div class="col-md-6"><button class="btn btn-sm" translate="front.READMORE" ng-click="show_tender(tender.id)">Read more</button></div>
            <div class="col-md-6">
                <button class="btn btn-sm pull-right" translate="front.SHARE" title="Share"><i class="fa fa-share-alt"></i></button>
                <button class="btn btn-sm pull-right mr-1" translate="front.COMMENTS" title="Comments"><i class="fa fa-commenting"></i></button>
            </div>
        </div>
    </div>
    <div paging
         page="currentPage"
         page-size="pageSize"
         total="total"
         paging-action=" getTenders(page)"
    >
    </div>
</div>