
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.QUIZTYPES">Quiz Types</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="QuizTypeFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWQUIZTYPE" ng-if="quizType.id == 0">
                        New Quiz Type
                    </legend>
                    <legend translate="content.list.EDITQUIZTYPE" ng-if="quizType.id > 0">
                        Edit Quiz Type
                    </legend>
                    <form name="quizTypeForm" id="quizTypeForm" novalidate ng-submit="submitForm(quizTypeForm)">
                        <input type="hidden" name="id" id="quizTypeId" ng-model="quizType.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':quizTypeForm.name.$dirty && quizTypeForm.name.$invalid, 'has-success':quizTypeForm.name.$valid}">
                                    <label for="quizTypeName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.name" type="text" name="name" id="quizTypeName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="quizType.name" my-resource-url="quiztypes" my-current-id="[[ quizType.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="quizTypeForm.name.$dirty && quizTypeForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="quizTypeForm.name.$dirty && quizTypeForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="quizTypeForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="quizTypeNameAr" class="control-label">
                                        <span translate="content.list.fields.NAMEAR">Name Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.name_ar" type="text" name="nameAr" id="quizTypeNameAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="quizTypeNameFr" class="control-label">
                                        <span translate="content.list.fields.NAMEFR">Name Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.name_fr" type="text" name="nameFr" id="quizTypeNameFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAMEFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="quizType.name" to="quizType.slug"></slug>
                                <div class="form-group" ng-class="{'has-error':quizTypeForm.slug.$dirty && quizTypeForm.slug.$invalid, 'has-success':quizTypeForm.slug.$valid}">
                                    <label for="quizTypeSlug" class="control-label">
                                        <span translate="content.list.fields.SLUG">Slug</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.slug" type="text" name="slug" id="quizTypeSlug" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUG' | translate ]]" ng-required="true" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="quizTypeForm.slug.$dirty && quizTypeForm.slug.$error.required" translate="content.form.messages.SLUGREQUIRED">Slug is required.</span>
                                    <span class="success text-small block" ng-if="quizTypeForm.slug.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                    <slug from="quizType.name_ar" to="quizType.slug_ar"></slug>
                                <div class="form-group">
                                    <label for="quizTypeSlugAr" class="control-label">
                                        <span translate="content.list.fields.SLUGAR">Slug Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.slug_ar" type="text" name="slugAr" id="quizTypeSlugAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGAR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                    <slug from="quizType.name_fr" to="quizType.slug_fr"></slug>
                                <div class="form-group">
                                    <label for="quizTypeSlugFr" class="control-label">
                                        <span translate="content.list.fields.SLUGFR">Slug Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="quizType.slug_fr" type="text" name="slugFr" id="quizTypeSlugFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERSLUGFR' | translate ]]" ng-required="false" />
                                        <i class="ti-anchor"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="quizType.is_published" type="checkbox" name="isPublished" id="quizTypeIsPublished" />
                                    <label for="quizTypeIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKQUIZTYPES">Back to Quiz Types list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(quizTypeForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="quizTypeForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="quizTypes.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

