
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.COMPANIES">Companies</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="CompanyFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWCOMPANY" ng-if="company.id == 0">
                        New Company
                    </legend>
                    <legend translate="content.list.EDITCOMPANY" ng-if="company.id > 0">
                        Edit Company
                    </legend>
                    <form name="companyForm" id="companyForm" novalidate ng-submit="submitForm(companyForm)">
                        <input type="hidden" name="id" id="companyId" ng-model="company.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':companyForm.name.$dirty && companyForm.name.$invalid, 'has-success':companyForm.name.$valid}">
                                    <label for="companyName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="company.name" type="text" name="name" id="companyName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" my-unique-field="company.name" my-resource-url="companies" my-current-id="[[ company.id ]]" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="companyForm.name.$dirty && companyForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="error text-small block" ng-if="companyForm.name.$dirty && companyForm.name.$error.myUniqueField" translate="content.form.messages.NAMEALREADYINUSE">This Name is already in use. Please choose another one.</span>
                                    <span class="success text-small block" ng-if="companyForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="companyPicture" class="control-label">
                                        <span translate="content.list.fields.PICTURE">Picture</span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="company.picture" type="text" name="picture" id="companyPicture" class="form-control" placeholder="[[ 'content.form.messages.ENTERPICTURE' | translate ]]" ng-required="false" />
                                        <i class="ti-image"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('picture')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="company.picture != '' && company.picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + company.picture ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('picture')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="company.picture = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="companyWebsite" class="control-label">
                                        <span translate="content.list.fields.WEBSITE">Website</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="company.website" type="text" name="website" id="companyWebsite" class="form-control" placeholder="[[ 'content.form.messages.ENTERWEBSITE' | translate ]]" ng-required="false" />
                                        <i class="ti-world"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="companyEmail" class="control-label">
                                        <span translate="content.list.fields.EMAIL">Email</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="company.email" type="email" name="email" id="companyEmail" class="form-control" placeholder="[[ 'content.form.messages.ENTEREMAIL' | translate ]]" ng-required="false" />
                                        <i class="ti-email"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="companyPhone" class="control-label">
                                        <span translate="content.list.fields.PHONE">Phone</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="company.phone" type="text" name="phone" id="companyPhone" class="form-control" placeholder="[[ 'content.form.messages.ENTERPHONE' | translate ]]" ng-required="false" />
                                        <i class="fa fa-phone"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="companyFax" class="control-label">
                                        <span translate="content.list.fields.FAX">Fax</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="company.fax" type="text" name="fax" id="companyFax" class="form-control" placeholder="[[ 'content.form.messages.ENTERFAX' | translate ]]" ng-required="false" />
                                        <i class="ti-printer"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="company.is_active" type="checkbox" name="isActive" id="companyIsActive" />
                                    <label for="companyIsActive" translate="content.list.fields.ISACTIVE">Is Active</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKCOMPANIES">Back to Companies list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(companyForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="companyForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="companies.length > 0">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

