
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.MATCHCOMMENTARIES">Match Commentaries</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="MatchCommentaryFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWMATCHCOMMENTARY" ng-if="matchCommentary.id == 0">
                        New Match Commentary
                    </legend>
                    <legend translate="content.list.EDITMATCHCOMMENTARY" ng-if="matchCommentary.id > 0">
                        Edit Match Commentary
                    </legend>
                    <form name="matchCommentaryForm" id="matchCommentaryForm" novalidate ng-submit="submitForm(matchCommentaryForm)">
                        <input type="hidden" name="id" id="matchCommentaryId" ng-model="matchCommentary.id" />
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchCommentaryForm.comment.$dirty && matchCommentaryForm.comment.$invalid, 'has-success':matchCommentaryForm.comment.$valid}">
                                    <label for="matchCommentaryComment" class="control-label">
                                        <span translate="content.list.fields.COMMENT">Comment</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="matchCommentary.comment" type="text" name="comment" id="matchCommentaryComment" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOMMENT' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="matchCommentaryForm.comment.$dirty && matchCommentaryForm.comment.$error.required" translate="content.form.messages.COMMENTREQUIRED">Comment is required.</span>
                                    <span class="success text-small block" ng-if="matchCommentaryForm.comment.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="matchCommentaryCommentAr" class="control-label">
                                        <span translate="content.list.fields.COMMENTAR">Comment Ar</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="matchCommentary.comment_ar" type="text" name="commentAr" id="matchCommentaryCommentAr" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOMMENTAR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="matchCommentaryCommentFr" class="control-label">
                                        <span translate="content.list.fields.COMMENTFR">Comment Fr</span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="matchCommentary.comment_fr" type="text" name="commentFr" id="matchCommentaryCommentFr" class="form-control" placeholder="[[ 'content.form.messages.ENTERCOMMENTFR' | translate ]]" ng-required="false" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchCommentaryForm.match.$dirty && matchCommentaryForm.match.$invalid, 'has-success':matchCommentaryForm.match.$valid}">
                                    <label for="matchCommentaryMatch" class="control-label">
                                        <span translate="content.list.fields.MATCH">Match</span>
                                        <span class="symbol required"></span>
                                    </label>
                                <div class="block select-list" ng-if="matchesLoaded">
                                    <span class="input-icon">
                                        <select ng-readonly="match_commentary_match_readonly" ng-options="item.id as item.name for item in matches | filter:{ hidden : false }" ng-model="matchCommentary.match" name="match" id="matchCommentaryMatch" class="form-control" ng-required="true">
                                        </select>
                                        <i class="fa fa-futbol-o"></i>
                                    </span><!--/input-icon-->
                                </div>
                                    <span class="error text-small block" ng-if="matchCommentaryForm.match.$dirty && matchCommentaryForm.match.$error.required" translate="content.form.messages.MATCHREQUIRED">Match is required.</span>
                                    <span class="success text-small block" ng-if="matchCommentaryForm.match.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchCommentaryForm.minute.$dirty && matchCommentaryForm.minute.$invalid, 'has-success':matchCommentaryForm.minute.$valid}">
                                    <label for="matchCommentaryMinute" class="control-label">
                                        <span translate="content.list.fields.MINUTE">Minute</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="matchCommentary.minute" type="text" name="minute" id="matchCommentaryMinute" class="form-control" placeholder="[[ 'content.form.messages.ENTERMINUTE' | translate ]]" touchspin data-min="0" data-max="10000000" data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="matchCommentaryForm.minute.$dirty && matchCommentaryForm.minute.$error.required" translate="content.form.messages.MINUTEREQUIRED">Minute is required.</span>
                                    <span class="success text-small block" ng-if="matchCommentaryForm.minute.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':matchCommentaryForm.icon.$dirty && matchCommentaryForm.icon.$invalid, 'has-success':matchCommentaryForm.icon.$valid}">
                                    <label for="matchCommentaryIcon" class="control-label">
                                        <span translate="content.list.fields.ICON">Icon</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="continuous-radio radio-primary" ng-if="icons.length < 10">
                                        <input ng-disabled="false" ng-repeat-start="icon in icons" ng-model="matchCommentary.icon" type="radio" id="icon[[ icon.id ]]" value="[[ icon.id ]]" name="icon" ng-required="true" />
                                        <label ng-repeat-end for="icon[[ icon.id ]]">
                                            [[ icon.title ]]
                                        </label>
                                    </div>
                                    <div class="block select-list" ng-if="icons.length >= 10">
                                        <select ng-disabled="false" ng-options="item.id as item.title for item in icons" ng-model="matchCommentary.icon" name="icon" id="matchCommentaryIcon" class="form-control" ng-required="true">
                                        </select>
                                    </div>
                                    <span class="error text-small block" ng-if="matchCommentaryForm.icon.$dirty && matchCommentaryForm.icon.$error.required" translate="content.form.messages.ICONREQUIRED">Icon is required.</span>
                                    <span class="success text-small block" ng-if="matchCommentaryForm.icon.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="matchCommentary.is_published" type="checkbox" name="isPublished" id="matchCommentaryIsPublished" />
                                    <label for="matchCommentaryIsPublished" translate="content.list.fields.ISPUBLISHED">Is Published</label>
                                </div><!--/checkbox continuous-check check-primary-->

                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKMATCHCOMMENTARIES">Back to Match Commentaries list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(matchCommentaryForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="matchCommentaryForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="matchCommentaries.length > 0">
                    			<table id="matchCommentariesFeed" class="table table-hover">
                    				<thead>
                    					<tr>
                    						<th class="center">#</th>
                    						<th translate="content.list.fields.COMMENT">Comment</th>
                    						<th translate="content.list.fields.COMMENTAR">Comment Ar</th>
                    						<th translate="content.list.fields.COMMENTFR">Comment Fr</th>
                    						<th translate="content.list.fields.MINUTE">Minute</th>
                    						<th translate="content.list.fields.ICON">Icon</th>
                    						<th></th>
                    					</tr>
                    				</thead>
                    				<tbody>
                    					<tr ng-repeat="matchCommentary in matchCommentaries">
                    						<td class="center">[[ matchCommentary.id ]]</td>
                    						<td>
                                    <div ng-bind-html="matchCommentary.comment"></div>
                    						</td>
                    						<td>
                                    <div ng-bind-html="matchCommentary.comment_ar"></div>
                    						</td>
                    						<td>
                                    <div ng-bind-html="matchCommentary.comment_fr"></div>
                    						</td>
                    						<td>
                                    <div ng-bind-html="matchCommentary.minute"></div>
                    						</td>
                    						<td>
                                    <span my-enum="[[ matchCommentary.icon ]]" my-enum-list="[[ icons ]]"></span>
                    						</td>
                    						<td>
                    						<div class="visible-md visible-lg hidden-sm hidden-xs">
                    							<a uib-tooltip="[[ 'content.common.EDIT' | translate]]" tooltip-placement="top" class="btn btn-transparent btn-xs" ui-sref="app.matchday.matchcommentariesdetails({id: matchCommentary.id})"><i class="ti-clipboard"></i></a>
                    							<a uib-tooltip="[[ 'content.common.SHOWDETAILS' | translate]]" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" ui-sref="app.matchday.matchcommentariesedit({id: matchCommentary.id})"><i class="ti-pencil-alt"></i></a>
                    							<a uib-tooltip="[[ 'content.common.REMOVE' | translate]]" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" ui-sref="app.matchday.matchcommentariesdelete({id: matchCommentary.id})"><i class="ti-trash"></i></a>
                    						</div>
                    						</td>
                    					</tr>
                    				</tbody>
                    			</table>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                    <div class="col-md-4 margin-bottom-10 text-center">
                    </div>
                    <div class="col-md-4 margin-bottom-10">
                    </div>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

