<div ng-controller="BidDetailsCtrl">
    <div class="tender-preview">
        <a  class="name" ng-bind="bid.title"></a>
        <div class="pb-1 clearfix">
            <div ng-bind-html="bid.description"></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="btn btn-sm pull-right" translate-attr-title="front.SHARE" title="Share"><i class="fa fa-share-alt"></i></button>
                <button class="btn btn-sm pull-right mr-1" translate-attr-title="front.COMMENTS" title="Comments"><i class="fa fa-commenting"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a ng-click="list()" class="btn btn-primary pull-left">
                <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPROJECTS">Back to bids </span>
            </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" ng-if="bid.status != 'shorlisted'">
            <a ng-click="addToShortList()" class="btn btn-primary pull-left" ng-disabled="disableAdd">
                <i class="fa fa-spinner fa-spin" ng-if="disableAdd"></i><i class="ti-thumb-up" ng-if="!disableAdd"></i> <span translate="front.ADDTOSHORTLIST">Add to short list</span>
            </a>
        </div>
    </div>
</div>